/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
/* line 4, ../../../sass/modules/carriercompare/style.scss */
#compare_shipping .form-group {
  line-height: normal;
  margin-bottom: 10px;
}
/* line 7, ../../../sass/modules/carriercompare/style.scss */
#compare_shipping .form-group label {
  margin-bottom: 6px;
}
/* line 8, ../../../sass/modules/carriercompare/style.scss */
#compare_shipping .form-group .form-control {
  width: 263px;
}
/* line 11, ../../../sass/modules/carriercompare/style.scss */
#compare_shipping .form-group.last {
  margin-bottom: 20px;
}
/* line 13, ../../../sass/modules/carriercompare/style.scss */
#compare_shipping .form-group.last input {
  margin-bottom: 3px;
}
/* line 16, ../../../sass/modules/carriercompare/style.scss */
#compare_shipping .table {
  background: #dedede;
}
/* line 20, ../../../sass/modules/carriercompare/style.scss */
#compare_shipping .table thead tr th {
  background: #dedede;
  padding: 4px 10px 3px 10px;
  word-break: break-all;
}
/* line 28, ../../../sass/modules/carriercompare/style.scss */
#compare_shipping .table tbody td {
  margin: 0;
}
/* line 30, ../../../sass/modules/carriercompare/style.scss */
#compare_shipping .table tbody td.carrier_action {
  width: 54px;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}
/* line 35, ../../../sass/modules/carriercompare/style.scss */
#compare_shipping .table tbody td.carrier_action input {
  margin: 0;
}

/* line 44, ../../../sass/modules/carriercompare/style.scss */
#availableCarriers .table {
  margin-bottom: 20px;
}

/* line 48, ../../../sass/modules/carriercompare/style.scss */
#compare_shipping ul#carriercompare_errors_list {
  color: red;
}

/* line 51, ../../../sass/modules/carriercompare/style.scss */
#compare_shipping_form {
  padding-bottom: 20px;
}

/* line 52, ../../../sass/modules/carriercompare/style.scss */
#compare_shipping ul#carriercompare_errors_list li {
  margin-left: 30px;
  text-decoration: none;
  list-style: none;
}

/* line 58, ../../../sass/modules/carriercompare/style.scss */
#SE_AjaxDisplay {
  text-align: center;
  display: none;
}

/* line 63, ../../../sass/modules/carriercompare/style.scss */
#SE_AjaxDisplay img {
  width: 15px;
}

/* line 67, ../../../sass/modules/carriercompare/style.scss */
.SE_SubmitRefreshCard button {
  float: left;
}
/* line 69, ../../../sass/modules/carriercompare/style.scss */
.SE_SubmitRefreshCard button#carriercompare_submit {
  margin-right: 10px;
  margin-bottom: 10px;
}

/* line 75, ../../../sass/modules/carriercompare/style.scss */
#carriercompare_errors {
  display: none;
}
