/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
/* line 3, ../../../../../sass/modules/tmcategoryproducts/views/css/tmcategoryproducts.scss */
.category-block {
  margin-top: 15px;
  margin-bottom: 0;
}
@media (min-width: 480px) {
  /* line 3, ../../../../../sass/modules/tmcategoryproducts/views/css/tmcategoryproducts.scss */
  .category-block {
    margin-top: 30px;
  }
}
@media (min-width: 768px) {
  /* line 3, ../../../../../sass/modules/tmcategoryproducts/views/css/tmcategoryproducts.scss */
  .category-block {
    margin-top: 52px;
  }
}
@media (max-width: 479px) {
  /* line 3, ../../../../../sass/modules/tmcategoryproducts/views/css/tmcategoryproducts.scss */
  .category-block {
    width: 100%;
  }
}
/* line 18, ../../../../../sass/modules/tmcategoryproducts/views/css/tmcategoryproducts.scss */
.category-block .title_block {
  margin-bottom: 15px;
  padding: 0;
  font-size: 24px;
}
/* line 23, ../../../../../sass/modules/tmcategoryproducts/views/css/tmcategoryproducts.scss */
.index .category-block .title_block {
  text-align: left;
  text-transform: capitalize;
}
/* line 28, ../../../../../sass/modules/tmcategoryproducts/views/css/tmcategoryproducts.scss */
.category-block .title_block:after {
  display: none;
}
/* line 32, ../../../../../sass/modules/tmcategoryproducts/views/css/tmcategoryproducts.scss */
.category-block .bx-viewport > ul {
  margin: 0;
}
/* line 35, ../../../../../sass/modules/tmcategoryproducts/views/css/tmcategoryproducts.scss */
.category-block .bx-pager-link.active, .category-block .bx-pager-link:hover {
  background: #777 !important;
}
/* line 38, ../../../../../sass/modules/tmcategoryproducts/views/css/tmcategoryproducts.scss */
.category-block .bx-next {
  right: -5px;
}
/* line 41, ../../../../../sass/modules/tmcategoryproducts/views/css/tmcategoryproducts.scss */
.category-block .bx-prev {
  left: -5px;
}
/* line 46, ../../../../../sass/modules/tmcategoryproducts/views/css/tmcategoryproducts.scss */
.category-block ul.product_list.grid > li {
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}
@media (min-width: 480px) {
  /* line 46, ../../../../../sass/modules/tmcategoryproducts/views/css/tmcategoryproducts.scss */
  .category-block ul.product_list.grid > li {
    margin-bottom: 30px;
  }
}
/* line 55, ../../../../../sass/modules/tmcategoryproducts/views/css/tmcategoryproducts.scss */
.category-block ul.product_list.grid > li .attributes {
  overflow: hidden;
  display: flex;
  font-size: 12px;
  font-family: "Poiret One", sans-serif;
  color: #acacac;
}
/* line 62, ../../../../../sass/modules/tmcategoryproducts/views/css/tmcategoryproducts.scss */
.category-block ul.product_list.grid > li .attributes > li {
  display: flex;
  height: 20px;
  align-items: flex-start;
}
/* line 67, ../../../../../sass/modules/tmcategoryproducts/views/css/tmcategoryproducts.scss */
.category-block ul.product_list.grid > li .attributes > li ul {
  margin-left: 3px;
}
/* line 71, ../../../../../sass/modules/tmcategoryproducts/views/css/tmcategoryproducts.scss */
.category-block ul.product_list.grid > li .attributes > li:first-child {
  margin-right: 5px;
}
/* line 74, ../../../../../sass/modules/tmcategoryproducts/views/css/tmcategoryproducts.scss */
.category-block ul.product_list.grid > li .attributes > li:first-child::after {
  content: ', ';
}
/* line 81, ../../../../../sass/modules/tmcategoryproducts/views/css/tmcategoryproducts.scss */
.category-block ul.product_list.grid > li .product-container {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}
@media (min-width: 480px) {
  /* line 81, ../../../../../sass/modules/tmcategoryproducts/views/css/tmcategoryproducts.scss */
  .category-block ul.product_list.grid > li .product-container {
    flex-wrap: nowrap;
  }
}
/* line 90, ../../../../../sass/modules/tmcategoryproducts/views/css/tmcategoryproducts.scss */
.category-block ul.product_list.grid > li .product-container .left-block {
  width: 100%;
}
@media (min-width: 480px) {
  /* line 90, ../../../../../sass/modules/tmcategoryproducts/views/css/tmcategoryproducts.scss */
  .category-block ul.product_list.grid > li .product-container .left-block {
    width: 40%;
    max-width: 85px;
    margin-right: 20px;
  }
}
@media (min-width: 1200px) {
  /* line 90, ../../../../../sass/modules/tmcategoryproducts/views/css/tmcategoryproducts.scss */
  .category-block ul.product_list.grid > li .product-container .left-block {
    width: 20.99%;
  }
}
/* line 104, ../../../../../sass/modules/tmcategoryproducts/views/css/tmcategoryproducts.scss */
.category-block ul.product_list.grid > li .product-container .right-block {
  width: 100%;
  padding: 0;
}
@media (min-width: 480px) {
  /* line 104, ../../../../../sass/modules/tmcategoryproducts/views/css/tmcategoryproducts.scss */
  .category-block ul.product_list.grid > li .product-container .right-block {
    width: 60%;
  }
}
@media (min-width: 1200px) {
  /* line 104, ../../../../../sass/modules/tmcategoryproducts/views/css/tmcategoryproducts.scss */
  .category-block ul.product_list.grid > li .product-container .right-block {
    width: 79%;
  }
}
/* line 116, ../../../../../sass/modules/tmcategoryproducts/views/css/tmcategoryproducts.scss */
.category-block ul.product_list.grid > li .product-container .right-block > * {
  margin-bottom: 7px;
}
/* line 120, ../../../../../sass/modules/tmcategoryproducts/views/css/tmcategoryproducts.scss */
.category-block ul.product_list.grid > li .product-container .right-block:before {
  display: none;
}
/* line 124, ../../../../../sass/modules/tmcategoryproducts/views/css/tmcategoryproducts.scss */
.category-block ul.product_list.grid > li .product-container .content_price {
  margin-top: 0;
}
/* line 128, ../../../../../sass/modules/tmcategoryproducts/views/css/tmcategoryproducts.scss */
.category-block ul.product_list.grid > li .product-container h5 {
  padding: 0;
  margin-top: 10px;
}
@media (min-width: 480px) {
  /* line 128, ../../../../../sass/modules/tmcategoryproducts/views/css/tmcategoryproducts.scss */
  .category-block ul.product_list.grid > li .product-container h5 {
    margin: 0;
  }
}
@media (min-width: 1600px) {
  /* line 128, ../../../../../sass/modules/tmcategoryproducts/views/css/tmcategoryproducts.scss */
  .category-block ul.product_list.grid > li .product-container h5 {
    margin-top: 10px;
  }
}
/* line 143, ../../../../../sass/modules/tmcategoryproducts/views/css/tmcategoryproducts.scss */
.category-block ul.product_list.grid + p {
  margin-left: -5px;
}
/* line 149, ../../../../../sass/modules/tmcategoryproducts/views/css/tmcategoryproducts.scss */
.category-block .bx-wrapper .bx-pager {
  position: static;
  text-align: left;
}
/* line 154, ../../../../../sass/modules/tmcategoryproducts/views/css/tmcategoryproducts.scss */
.category-block .bx-wrapper .bx-controls-direction {
  margin-top: 5%;
}
/* line 157, ../../../../../sass/modules/tmcategoryproducts/views/css/tmcategoryproducts.scss */
.category-block .bx-wrapper .bx-controls-direction a {
  display: inline-block;
  position: static;
  color: #3f3f3f;
  height: auto;
  width: auto;
}
/* line 164, ../../../../../sass/modules/tmcategoryproducts/views/css/tmcategoryproducts.scss */
.category-block .bx-wrapper .bx-controls-direction a + a {
  margin-left: 10px;
}
/* line 171, ../../../../../sass/modules/tmcategoryproducts/views/css/tmcategoryproducts.scss */
.category-block .slick-arrow {
  display: none !important;
}
/* line 175, ../../../../../sass/modules/tmcategoryproducts/views/css/tmcategoryproducts.scss */
.category-block .product-image-container .tmproductlistgallery.slideshow .tmproductlistgallery-thumbnails.use-carousel {
  width: 80%;
}
/* line 178, ../../../../../sass/modules/tmcategoryproducts/views/css/tmcategoryproducts.scss */
.category-block .product-image-container .tmproductlistgallery.slideshow .tmproductlistgallery-thumbnails.use-carousel .gallery-image-thumb span {
  padding: 2px;
}

@media (min-width: 1200px) and (max-width: 1699px) {
  /* line 185, ../../../../../sass/modules/tmcategoryproducts/views/css/tmcategoryproducts.scss */
  .two-columns .category-block {
    width: 50%;
  }
  /* line 188, ../../../../../sass/modules/tmcategoryproducts/views/css/tmcategoryproducts.scss */
  .two-columns .category-block:nth-child(even) {
    clear: left;
  }
}
@media (min-width: 1200px) and (max-width: 1639px) {
  /* line 192, ../../../../../sass/modules/tmcategoryproducts/views/css/tmcategoryproducts.scss */
  .two-columns .category-block .bx-wrapper .bx-controls-direction {
    margin-top: 20px;
  }
}

@media (min-width: 1200px) {
  /* line 201, ../../../../../sass/modules/tmcategoryproducts/views/css/tmcategoryproducts.scss */
  .three-columns .category-block {
    width: 50%;
  }
  /* line 204, ../../../../../sass/modules/tmcategoryproducts/views/css/tmcategoryproducts.scss */
  .three-columns .category-block:nth-child(even) {
    clear: left;
  }
}
@media (min-width: 1200px) and (max-width: 1639px) {
  /* line 208, ../../../../../sass/modules/tmcategoryproducts/views/css/tmcategoryproducts.scss */
  .three-columns .category-block .bx-wrapper .bx-controls-direction {
    margin-top: 20px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  /* line 216, ../../../../../sass/modules/tmcategoryproducts/views/css/tmcategoryproducts.scss */
  .col-xs-clear {
    clear: left;
  }
}
