/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
/*$base-border-color: darken(saturate(adjust_hue($color-box, 139.99999999999983), 5.263157894736871%), 6.470588235294116%);*/
/*
* @package       topPosition
* @description   to create the equal positions of all popups in header
*
*/
/*
* @package      iconActiveAnimation
* @description  mixin for animation icons
*
*/
.block-contact {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 992px) {
  .block-contact {
    justify-content: inherit;
  }
}

.block-contact .shop-phone {
  margin-right: 12.04%;
}

.bg-dark .block-contact .shop-phone a {
  color: #595959;
}

.bg-dark .block-contact .shop-phone a::before {
  color: #dedede;
}

.block-contact .shop-phone a:hover {
  color: #f4d6d6;
}

.block-contact .shop-email a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0px;
  display: block;
  width: 100%;
  border-bottom: 1px solid #e4e1e1;
  transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.bg-dark .block-contact .shop-email a::after {
  border-color: rgba(228, 225, 225, 0.3);
}

.block-contact .shop-email a:hover::after {
  transform: scaleX(0);
}

#contact-link {
  float: right;
}

#contact-link a {
  padding: 5px 15px;
  position: relative;
  display: block;
  color: #595959;
  cursor: pointer;
  font-family: "Museo", sans-serif;
  font-weight: 700;
  border-left: none;
}

.bg-dark #contact-link a {
  color: #dedede;
}

@media (max-width: 550px) {
  .mobile-stickup #contact-link a {
    color: #dedede;
  }
}

.nav-section #contact-link a {
  font-weight: 400;
}

#contact-link a:hover, #contact-link a.active {
  background: #050505;
}

@media (max-width: 767px) {
  #contact_block {
    margin-bottom: 20px;
  }
}

#contact_block .label {
  display: none;
}

#contact_block .block_content {
  color: #888888;
}

#contact_block p {
  margin-bottom: 4px;
}

#contact_block p.tel {
  font: 400 17px/21px "Museo", sans-serif;
  color: #404040;
  margin-bottom: 6px;
}

#contact_block p.tel i {
  font-size: 25px;
  vertical-align: -2px;
  padding-right: 10px;
}
