@import "../../../../_theme_variables";

.tmhomepagecategorygallery-block {
  position: relative;
  z-index: 1;
  width: 100%;
  clear: both;
}

.tmhomepagecategorygallery-block #tmhomepagecategorygallery-nav {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 15px;
}

.tmhomepagecategorygallery {
  $self: &;

  .item {
    display: flex;
    flex-wrap: wrap;

    @media (min-width: $screen-sm-min) {
      flex-wrap: nowrap;
    }

    > a {
      position: relative;
      display: block;
      width: 100%;
      height: 75vw;
      overflow: hidden;
      background-repeat: no-repeat;
      background-position: top 50% right 50%;
      background-size: cover;
      backface-visibility: hidden;

      @media (min-width: $screen-xs-min) {
        height: 50vw;
      }

      @media (min-width: $screen-sm-min) {
        width: 50%;
        height: 34vw;
      }

      &::before, &::after {
        content: '';
        transition: all 0.5s $custom-timing-function;
        pointer-events: none;
      }

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-top: 2px solid $light-border-color;
        border-bottom: 2px solid $light-border-color;
        opacity: 0;
        transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 0, 1);
        transform-origin: 50% 50%;
      }

      &:hover {
        @media (min-width: $screen-md-min) {
          &::after {
            opacity: 0.2;
            transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 1, 1);
          }
        }
      }
    }

    &:nth-of-type(even) {
      > a {
        @media (min-width: $screen-sm-min) {
          order: 1;
        }
      }

      #{$self}-content {
        background-color: $dark-background;
        color: $light-text-color;
      }

      #{$self}-description {
        color: $light-text-color;
      }
    }

    &:nth-of-type(odd) {
      div:not(.thumbnails) > #{$self}-block > & #{$self}-button {
        &::before {
          border: 2px solid $dark-border-color;
        }

        @media (min-width: $screen-sm-min) {
          &:hover {
            color: $dark-text-color;
          }

          &:active:focus, &:active, &:focus, #{'.active'} > &, &.disabled, &.btn[disabled], #{'.disabled'} > & {
            color: $dark-text-color;
          }
        }

        @media only screen and (max-width: $screen-sm-min - 1) {
          &:active:focus, &:active, &:focus, &.hover, &:hover {
            color: $dark-text-color;
          }
        }
      }
    }
  }

  &-content {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75vw;
    padding: 0 5%;
    background-color: $secondary-background;
    color: $dark-text-color;
    text-align: center;

    @media (min-width: $screen-xs-min) {
      height: 50vw;
    }

    @media (min-width: $screen-sm-min) {
      width: 50%;
      height: 34vw;
    }
  }

  &-name {
    font: 700 24px/#{(70/58)} $font-custom;
    text-transform: uppercase;

    @media (min-width: $screen-md-min) {
      font-size: 3.02vw;
    }

    + #{$self}-description {
      margin-top: 10px;
    }
  }

  &-description {
    line-height: (24/16);
    color: $secondary-text-color;

    @media (min-width: $screen-md-min) {
      max-width: 46.88%;
      font-size: 0.83vw;
    }

    @media (min-width: $screen-md-min) and (max-width: $screen-lg-min - 1) {
      font-size: 16px;
    }

    + #{$self}-button {
      margin-top: 25px;
    }
  }

  &-button {
    min-width: 200px;

    @media (min-width: $screen-lg-min) {
      min-width: 260px;
    }
  }

  &-nav {
    li {
      display: block;
      overflow: hidden;
      text-align: center;
      border-radius: 50%;
      position: relative;
      margin-bottom: 10px;
      width: 16px;
      height: 16px;
      outline: none;
      cursor: pointer;
      background-color: rgba($light-background, 0.3);
      box-shadow: 0 0 0 2px rgba(255, 255, 255, 0);
      transition: box-shadow 0.3s ease;

      a {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        outline: none;
        border-radius: 50%;
        cursor: pointer;
        text-indent: -999px;
        background-color: rgba($dark-background, 0.7);
        transition: background-color 0.3s ease, transform 0.3s ease;
      }

      &.active,
      &:hover,
      &:focus {
        a {
          background-color: $dark-background;
        }
      }

      &.current-item {
        box-shadow: 0 0 0 2px $dark-background;
        a {
          transform: scale(0.4);
        }
      }
    }
  }
}

.thumbnails {
  .tmhomepagecategorygallery {
    $self: &;

    @media (min-width: $screen-sm-min) {
      display: flex;

      li {
        position: relative;
        width: 50%;

        &:nth-of-type(even) {
          margin-left: 10px;
        }
        &:nth-of-type(odd) {
          margin-right: 10px;
        }
      }

      .item {
        > a {
          width: 100%;

          @media (min-width: 1600px) {
            height: 34.25vw;
          }
        }
      }
    }

    &-content {
      @media (min-width: 1600px) {
        height: 34.25vw;
      }

      @media (min-width: $screen-sm-min) {
        position: absolute;
        top: 0;
        left: 0;
        align-items: flex-start;
        width: 100%;
        background: transparent !important;
        color: $light-text-color;

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba($dark-background, .3);
        }

        > * {
          position: relative;
        }
      }

      @media (min-width: $screen-lg-min) {
        padding: 0 15%;
      }
    }

    &-name {

    }

    &-description {
      @media (min-width: $screen-sm-min) {
        max-width: 55%;
        text-align: left;
        color: $light-text-color;
      }

      @media (min-width: $screen-md-min) and (max-width: $screen-lg-min - 1) {
        max-width: 75%;
      }
    }

    &-button {

    }
  }
}