@charset "UTF-8";
/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
/*$base-border-color: darken(saturate(adjust_hue($color-box, 139.99999999999983), 5.263157894736871%), 6.470588235294116%);*/
/*
* @package       change-grid-on-big-screen
* @description   make grid like in design
*
*/
/*
* @package       custom-scroll-bar
* @description   make you scroll bar pretty and better
*
*/
/*
* @subsection   icons
*
* @description
*/
.config-wrap > span::before {
  font-size: 24px;
  line-height: 1;
}

/*
* @package       header icons title display mixin
* @description
*
*/
/*
* @package     bxSlider controls mixin
* @description
*
*/
/*
* @package       topPosition
* @description   to create the equal positions of all popups in header
*
*/
/*
* @package      iconActiveAnimation
* @description  mixin for animation icons
*
*/
/*
* @subsection   helper classes
*
* @description  this classes can help you to build you layout fast
*/
.flex {
  display: flex;
  flex-wrap: wrap;
}

.align-items-center {
  align-items: center;
}

@media (min-width: 550px) {
  .align-items-center {
    display: flex;
  }
}

.nav-section .align-items-center {
  display: block;
}

@media (min-width: 992px) {
  .nav-section .align-items-center {
    display: flex;
  }
}

[class*=justify] {
  display: flex;
}

.justify-end {
  justify-content: flex-end;
}

@media only screen and (max-width: 550px) {
  .justify-end {
    justify-content: space-between;
  }
}

.ie .stick-up-container .justify-end {
  justify-content: flex-start;
}

.justify-start {
  justify-content: flex-start;
}

@media only screen and (max-width: 550px) {
  .justify-start {
    justify-content: space-between;
  }
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

@media (max-width: 991px) {
  .justify-space-between-sm {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 992px) {
  .mr-auto {
    margin-right: auto;
  }
}

@media (min-width: 992px) {
  .ml-auto {
    margin-left: auto;
  }
}

.aling-self-end {
  align-self: flex-end;
}

.aling-self-center {
  align-self: center;
}

.pos-static {
  position: static;
}

@media (max-width: 767px) {
  .xs-hidden {
    display: none;
  }
}

@media only screen and (max-width: 479px) {
  .mobile-hidden {
    display: none;
  }
}

/*
* @package     backgrounds and dividers classes
* @description
*
*/
.bg-light .footer-block li a {
  color: #595959;
}

.bg-light .footer-block li a:hover {
  color: #dedede;
}

.bg-dark, .bg-secondary, .bg-secondary-2 {
  position: relative;
}

.bg-dark::before, .bg-secondary::before, .bg-secondary-2::before {
  content: '';
  position: absolute;
  top: 0;
  left: 54%;
  display: block;
  width: 60%;
  height: 100%;
  background-color: #121212;
  transform: translateX(-50%);
}

.bg-secondary::before {
  background-color: #f5f5f5;
}

.bg-secondary-2::before {
  background-color: #f4f4f4;
}

@media (min-width: 768px) {
  .bg-secondary-2::before {
    transform: translateX(-7%);
  }
}

.divider-top, .divider-top-big {
  position: relative;
}

.divider-top::before, .divider-top-big::before {
  content: '';
  position: absolute;
  top: -5px;
  left: 50%;
  display: block;
  width: 100vw;
  border-bottom: 1px solid #eee;
  transform: translateX(-50%);
}

footer .divider-top::before, footer .divider-top-big::before {
  border-color: #2d2d2d;
}

.divider-top-big::before, .divider-top-big-big::before {
  width: 100%;
  border-bottom-width: 2px;
}

.divider-bottom-big, .divider-bottom {
  position: relative;
}

.divider-bottom::before, .divider-bottom-big::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  display: block;
  width: 100vw;
  border-bottom: 1px solid #eee;
  transform: translateX(-50%);
}

.divider-bottom-big::before {
  border-bottom-width: 4px;
}

/*
* @package      insets and offsets
* @description  section with  insets and offsets helper classes
*
*/
.offset-1 {
  margin-top: 2vw;
  margin-bottom: 2vw;
}

@media (min-width: 1800px) {
  .offset-1 {
    margin-top: 3vw;
    margin-bottom: 3vw;
  }
}

.offset-2 {
  margin-top: 10px;
}

@media (min-width: 768px) {
  .offset-2 {
    margin-top: 30px;
  }
}

@media (min-width: 992px) {
  .offset-2 {
    margin-top: 6.77vw;
  }
}

.offset-3 {
  margin-top: 20px;
}

@media (min-width: 768px) {
  .offset-3 {
    margin-top: 50px;
  }
}

@media (min-width: 992px) {
  .offset-3 {
    margin-top: 6.77vw;
  }
}

.offset-4 {
  margin-top: 20px;
}

@media (min-width: 768px) {
  .offset-4 {
    margin-top: 30px;
  }
}

@media (min-width: 992px) {
  .offset-4 {
    margin-top: 2.60vw;
  }
}

.offset-5 {
  margin-top: 15px;
}

.inset-0 {
  padding: 0;
}

.inset-1 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.inset-2 {
  padding-top: 4.5px;
  padding-bottom: 4.5px;
}

.inset-3 {
  padding-top: 30px;
}

@media (min-width: 768px) {
  .inset-3 {
    padding-top: 5.21vw;
  }
}

.inset-4 {
  padding-top: 40px;
  padding-bottom: 40px;
}

@media (min-width: 768px) {
  .inset-4 {
    padding-top: 6.77vw;
    padding-bottom: 6.77vw;
  }
}

.inset-5 {
  padding-top: 30px;
  padding-bottom: 30px;
}

@media (min-width: 768px) {
  .inset-5 {
    padding-top: 4.17vw;
    padding-bottom: 4.17vw;
  }
}

.inset-6 {
  padding-top: 30px;
  padding-bottom: 30px;
}

@media (min-width: 1200px) {
  .inset-6 {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

/*
* @package       config-wrap styles
* @description   this style for config-wrap in header
*
*/
.config-wrap {
  display: inline-block;
}

@media (min-width: 600px) {
  .config-wrap {
    position: relative;
  }
}

@media (min-width: 1440px) {
  .config-wrap {
    margin-right: auto;
  }
  .config-wrap.hidden-view {
    margin-right: inherit;
  }
}

.config-wrap > span {
  position: relative;
  display: inline-block;
  padding: 5px 15px;
  color: #595959;
  cursor: pointer;
}

.config-wrap > span::before {
  will-change: transform, opacity;
  animation: iconAnimationIn 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.config-wrap > span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24px;
  margin-top: -12px;
  margin-left: -12px;
  text-align: center;
  font-size: 24px;
  line-height: 24px;
  will-change: transform, opacity;
  animation: iconAnimationOut 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
  font-family: "FontAwesome";
  content: "";
  display: inline-block;
  font-weight: normal;
}

.config-wrap > span.active::before, .active .config-wrap > span::before {
  animation: iconAnimationOut 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
}

.with-out-icon .config-wrap > span.active::before, .with-out-icon .active .config-wrap > span::before {
  animation: iconAnimationIn 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.config-wrap > span.active::after, .active .config-wrap > span::after {
  animation: iconAnimationIn 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
}

.with-out-icon .config-wrap > span.active::after, .with-out-icon .active .config-wrap > span::after {
  animation: iconAnimationOut 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
}

.bg-dark .config-wrap > span {
  color: #dedede;
}

@media (max-width: 550px) {
  .mobile-stickup .config-wrap > span {
    color: #dedede;
  }
}

.config-wrap > span::before {
  font-family: "fl-outicons";
  content: "";
  display: inline-block;
  font-weight: normal;
}

.config-wrap > span.active {
  color: #f4d6d6;
}

@media only screen and (min-width: 600px) {
  .config-wrap.hidden-view .config-body {
    left: 0;
  }
}

.config-wrap.hidden-view .config-body .module > div, .config-wrap.hidden-view .config-body .module > ul {
  float: none !important;
}

.config-wrap.hidden-view .config-body .module > div .current, .config-wrap.hidden-view .config-body .module > ul .current {
  display: none !important;
}

.config-wrap.hidden-view .config-body .module > div ul, .config-wrap.hidden-view .config-body .module > ul ul {
  position: static !important;
  display: block !important;
  height: auto !important;
  margin-bottom: 15px !important;
  padding: 0 !important;
  box-shadow: none !important;
}

@media (min-width: 1440px) {
  .config-wrap:not(.hidden-view) > span {
    display: none;
  }
}

@media (min-width: 1440px) {
  .config-wrap:not(.hidden-view) .config-body {
    position: static;
    display: flex !important;
    flex-direction: row;
    overflow: visible !important;
    width: auto;
    height: auto !important;
    margin: 0 !important;
    padding: 0 !important;
    background-color: transparent;
    box-shadow: none;
  }
}

.config-wrap .config-body {
  z-index: 2;
  position: absolute;
  right: 0;
  display: none;
  flex-direction: column;
  width: 100vw;
  padding: 30px 25px 0 25px;
  background-color: white;
  box-shadow: 0 2px 30px rgba(12, 12, 12, 0.06);
  top: calc(100% + 3px);
}

@media (min-width: 480px) {
  .config-wrap .config-body {
    top: 100%;
  }
}

@media (min-width: 768px) {
  .config-wrap .config-body {
    top: calc(100% + 30px);
  }
  .stickUpTop.isStuck .config-wrap .config-body {
    top: calc(100% + 20px);
  }
}

@media only screen and (min-width: 600px) {
  .config-wrap .config-body {
    right: -15px;
    width: 65px;
    padding: 10px;
  }
  .config-wrap .config-body .module > div ul {
    margin-bottom: 0 !important;
  }
  .nav-section .config-wrap .config-body {
    right: auto;
    left: 0;
  }
}

@media (min-width: 550px) {
  .justify-start .config-wrap .config-body {
    right: auto;
    left: 15px;
    width: 320px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .config-wrap .config-body {
    right: auto;
    left: 50%;
    transform: translateX(-50%);
  }
}

.nav-section .config-wrap .config-body .module:first-of-type > div .current {
  padding-left: 0 !important;
}

@media (max-width: 1439px) {
  .config-wrap .config-body .module > div, .config-wrap .config-body .module > ul {
    float: none !important;
  }
  .config-wrap .config-body .module > div .current, .config-wrap .config-body .module > ul .current {
    display: none !important;
  }
  .config-wrap .config-body .module > div ul, .config-wrap .config-body .module > ul ul {
    position: static !important;
    display: block !important;
    height: auto !important;
    margin-bottom: 15px !important;
    padding: 0 !important;
    box-shadow: none !important;
  }
}

/*
* @package      responsive wrapper styles
* @description  wrapper that cover all icons on mobile in header
*
*/
@media only screen and (max-width: 549px) {
  .responsive-wrapper {
    position: relative;
    padding: 10px 0;
  }
  .responsive-wrapper:not([class*='divider'])::after, .responsive-wrapper:not([class*='divider'])::before {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 3px;
    border-top: 1px solid #e4e1e1;
    border-bottom: 1px solid #e4e1e1;
  }
  .bg-dark .responsive-wrapper:not([class*='divider'])::after, .bg-dark .responsive-wrapper:not([class*='divider'])::before {
    display: none;
  }
  .responsive-wrapper::after {
    top: -2px;
    bottom: auto;
  }
}

/*
* @package      mobile stick up
* @description
*
*/
@media (max-width: 550px) {
  .mobile-stickup {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #595959;
  }
  .mobile-stickup + div {
    padding-top: 60px;
  }
}

/*
* @package      rd-parallax-1, rd-parallax-2
* @description  styles for rd-parallax-1 section
*
*/
.rd-parallax-1, .rd-parallax-2 {
  position: relative;
  height: 49.22vw;
  color: #dedede;
  text-align: center;
  text-transform: uppercase;
}

.rd-parallax-1 .item-content, .rd-parallax-2 .item-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 85vw;
  transform: translate(-50%, -50%);
}

@media (min-width: 480px) {
  .rd-parallax-1 .item-content, .rd-parallax-2 .item-content {
    width: 70vw;
  }
}

@media (min-width: 1600px) {
  .rd-parallax-1 .item-content, .rd-parallax-2 .item-content {
    width: 58.21vw;
  }
}

.rd-parallax-1 h2, .rd-parallax-2 h2 {
  margin-top: 0;
  font: 300 3.96vw/1.26316 "Museo", sans-serif;
  letter-spacing: 0.62em;
}

.rd-parallax-1 h5, .rd-parallax-2 h5 {
  font: 300 16px/1.26316 "Museo", sans-serif;
  letter-spacing: 0.42em;
  display: none;
}

@media (min-width: 480px) {
  .rd-parallax-1 h5, .rd-parallax-2 h5 {
    display: block;
  }
}

@media (min-width: 992px) {
  .rd-parallax-1 h5, .rd-parallax-2 h5 {
    font-size: 1.04vw;
  }
}

.rd-parallax-1 h5 + p, .rd-parallax-2 h5 + p {
  margin-top: 2.08vw;
}

.rd-parallax-1 p + p, .rd-parallax-2 p + p {
  margin-top: 2.08vw;
}

.rd-parallax-1 .btn-default, .rd-parallax-2 .btn-default {
  font-weight: 300;
  color: #dedede;
}

@media only screen and (max-width: 479px) {
  .rd-parallax-1 .btn-default, .rd-parallax-2 .btn-default {
    padding: 5px 18px;
    font-size: 14px;
  }
}

@media (min-width: 992px) {
  .rd-parallax-1 .btn-default, .rd-parallax-2 .btn-default {
    min-width: 200px;
    font-size: 1.04vw;
    text-transform: capitalize;
  }
}

.rd-parallax-1 .btn-default::after, .rd-parallax-2 .btn-default::after {
  border-color: rgba(228, 225, 225, 0.3);
}

.rd-parallax-1 .btn-default::before, .rd-parallax-2 .btn-default::before {
  background: #f4d6d6;
}

@media (min-width: 768px) {
  .rd-parallax-1 .btn-default:hover, .rd-parallax-2 .btn-default:hover {
    color: #595959;
  }
}

/*
* @package      rd-parallax-2
* @description  styles for rd-parallax-2 section
*
*/
.rd-parallax-2 {
  top: 50%;
}

.rd-parallax-2 .item-content {
  left: 15px;
  transform: translateY(-50%);
  text-align: left;
}

@media only screen and (max-width: 600px) {
  .rd-parallax-2 .item-content {
    width: calc(100% - 30px);
  }
}

@media (min-width: 768px) {
  .rd-parallax-2 .item-content {
    left: calc(100vw - 750px - ((100vw - 750px) / 2));
  }
}

@media (min-width: 992px) {
  .rd-parallax-2 .item-content {
    left: calc(100vw - 970px - ((100vw - 970px) / 2));
  }
}

@media (min-width: 1200px) {
  .rd-parallax-2 .item-content {
    left: calc(100vw - 1170px - ((100vw - 1170px) / 2));
  }
}

@media (min-width: 1440px) {
  .rd-parallax-2 .item-content {
    left: calc(100vw - 1440px - ((100vw - 1440px) / 2));
  }
}

@media (min-width: 1640px) {
  .rd-parallax-2 .item-content {
    left: calc(100vw - 1660px - ((100vw - 1640px) / 2));
  }
}

.rd-parallax-2 h2 {
  font-weight: 900;
  letter-spacing: 0.04em;
}

@media only screen and (max-width: 479px) {
  .rd-parallax-2 h2 {
    font-size: 18px;
  }
}

.rd-parallax-2 p {
  text-transform: none;
  line-height: 1.5;
  display: none;
}

@media (min-width: 480px) {
  .rd-parallax-2 p {
    display: block;
  }
}

@media (min-width: 1200px) {
  .rd-parallax-2 p {
    font-size: 20px;
  }
}

.rd-parallax-2 p + p {
  display: block;
}

/*
* @package      rd-parallax-3
* @description  styles for rd-parallax-2 section
*
*/
.rd-parallax-3 [class*='col-'] {
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .rd-parallax-3 [class*='col-'] {
    justify-content: flex-end;
  }
}

.rd-parallax-3 [class*='col-'] > * {
  width: 80%;
}

@media (min-width: 768px) {
  .rd-parallax-3 [class*='col-'] > * {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .rd-parallax-3 [class*='col-'] #newsletter_block_left {
    margin: 45px 0;
  }
}

.rd-parallax-3 [class*='col-'] #newsletter_block_left .title_block, .rd-parallax-3 [class*='col-'] #newsletter_block_left h4 {
  text-align: left;
  color: #595959;
}

.rd-parallax-3 [class*='col-'] #newsletter_block_left .title_block::after, .rd-parallax-3 [class*='col-'] #newsletter_block_left h4::after {
  display: none;
}

@media (min-width: 480px) and (max-width: 767px) {
  .rd-parallax-3 [class*='col-'] #newsletter_block_left .title_block, .rd-parallax-3 [class*='col-'] #newsletter_block_left h4 {
    text-shadow: 0 0 5px #dedede;
  }
}

@media (min-width: 1600px) {
  .rd-parallax-3 [class*='col-'] #newsletter_block_left .title_block, .rd-parallax-3 [class*='col-'] #newsletter_block_left h4 {
    font-size: 58px;
  }
}

.rd-parallax-3 [class*='col-'] #newsletter_block_left p {
  text-align: left;
}

.rd-parallax-3 [class*='col-'] #newsletter_block_left .form-group .form-control {
  color: #595959;
}

@media (min-width: 768px) {
  .rd-parallax-3 [class*='col-'] #newsletter_block_left .form-group .form-control {
    color: #595959;
  }
}

/*
* @package      copyright-block styles
*
*/
.copyright-block {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (min-width: 600px) {
  .copyright-block {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: 1600px) {
  .copyright-block {
    margin-top: 87px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.copyright-block::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  width: 100vw;
  height: 100%;
  /*border-top: 2px solid $secondary-background-3;*/
  background-color: #8b8a8e;
  transform: translateX(-50%);
}

.copyright-block > * {
  position: relative;
}

.copyright-block.center {
  justify-content: center;
}

.copyright-block #social_block {
  margin-top: 0;
}

@media (min-width: 1200px) {
  .copyright-block #social_block {
    margin-right: 190px;
  }
}

.copyright-block #social_block ul li:not(:last-child) {
  margin-right: 15px;
}

@media (min-width: 1600px) {
  .copyright-block #social_block ul li:not(:last-child) {
    margin-right: 15px;
  }
}

.copyright-block #social_block ul li a {
  color: #f4d6d6;
  transition: all 0.3s ease-in-out;
  border: none;
}

.copyright-block #social_block ul li a:hover {
  color: #dedede;
}

.copyright-block #social_block h4 {
  display: none;
}

.copyright-block .bottom-footer {
  order: 1;
  margin-top: 20px;
}

@media (min-width: 600px) {
  .copyright-block .bottom-footer {
    order: inherit;
    margin-top: 0;
  }
}

/*
* @package     inline-lists
* @description inline lists in footer container
*
*/
@media (min-width: 768px) {
  .inline-lists > *:not(:first-child) {
    margin-top: 20px;
  }
}

@media (min-width: 768px) and (min-width: 1200px) {
  .inline-lists > *:last-child {
    margin-top: 40px;
  }
}

@media (min-width: 768px) {
  .inline-lists .footer-block {
    margin-top: 0;
  }
  .inline-lists .footer-block h4 {
    display: none;
  }
  .inline-lists .footer-block li {
    position: relative;
    display: inline-block;
  }
  .inline-lists .footer-block li:first-child a {
    padding-left: 0 !important;
  }
  .inline-lists .footer-block li:not(:first-child)::before {
    content: '|';
    position: absolute;
    top: 50%;
    left: 8px;
    display: none;
    transform: translateY(-50%);
  }
}

@media (min-width: 768px) and (min-width: 992px) {
  .inline-lists .footer-block li:not(:first-child)::before {
    display: inline-block;
  }
}

@media (min-width: 768px) {
  .inline-lists .footer-block li + li {
    margin-top: 0;
  }
  .inline-lists .footer-block a:not([href*='tel']):not([href*='mailto'])::before {
    display: none !important;
  }
  .inline-lists #block_contact_infos li:not(:first-child) {
    padding-left: 25px;
  }
}
