/mails/
/upload/
/cgi-bin/
/Core/
/classes/
/controllers/
/docs/
/error500.html
/js/
/pdf/
/webservice/
/tools/
/copia.zip
/footer.php
/images.inc.php
/adminPetit/
/init.php
/index.php
/override/
/download/
/index.html
/translations/
/localization/
/cache/
/.htaccess
/Adapter/
/config/
/log/
/css/
/header.php
/LICENSES
/Install_PrestaShop.html
/themes/default-bootstrap/
/nbproject/
/themes/default-bootstrap/