/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
/*
* @package       change-grid-on-big-screen
* @description   make grid like in design
*
*/
/*
* @package       custom-scroll-bar
* @description   make you scroll bar pretty and better
*
*/
/*
* @subsection   icons
*
* @description
*/
/*
* @package       header icons title display mixin
* @description
*
*/
/*
* @package     bxSlider controls mixin
* @description
*
*/
/**************************************************************************
		        Style TM Manufacturer Block
**************************************************************************/
/* line 8, ../../../../../sass/modules/tmmanufacturerblock/views/css/tmmanufacturerblock.scss */
#tm_manufacturers_block {
  text-align: center;
}
@media (min-width: 1600px) {
  /* line 8, ../../../../../sass/modules/tmmanufacturerblock/views/css/tmmanufacturerblock.scss */
  #tm_manufacturers_block {
    margin-bottom: 60px;
  }
}
/* line 18, ../../../../../sass/modules/tmmanufacturerblock/views/css/tmmanufacturerblock.scss */
#tm_manufacturers_block .bx-wrapper .manufacturers_items li.caroucel_item {
  width: 25%;
}
/* line 23, ../../../../../sass/modules/tmmanufacturerblock/views/css/tmmanufacturerblock.scss */
#tm_manufacturers_block .bx-wrapper .bx-controls {
  margin-top: 25px;
}
@media (min-width: 1200px) {
  /* line 23, ../../../../../sass/modules/tmmanufacturerblock/views/css/tmmanufacturerblock.scss */
  #tm_manufacturers_block .bx-wrapper .bx-controls {
    margin-top: 1.6vw;
  }
}
/* line 33, ../../../../../sass/modules/tmmanufacturerblock/views/css/tmmanufacturerblock.scss */
#tm_manufacturers_block .bx-wrapper .bx-controls .bx-pager .bx-pager-link.active, #tm_manufacturers_block .bx-wrapper .bx-controls .bx-pager .bx-pager-link:hover {
  background: #121212;
}
@media (min-width: 1200px) {
  /* line 38, ../../../../../sass/modules/tmmanufacturerblock/views/css/tmmanufacturerblock.scss */
  #tm_manufacturers_block .bx-wrapper .bx-controls .bx-controls-direction {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34vw;
    margin: 0 auto;
  }
  /* line 264, ../../../../../sass/_elements_variables.scss */
  #tm_manufacturers_block .bx-wrapper .bx-controls .bx-controls-direction::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 42%;
    border-bottom: 2px solid #e1e4e2;
    transform: translate(-50%, -50%);
  }
}
/* line 275, ../../../../../sass/_elements_variables.scss */
#tm_manufacturers_block .bx-wrapper .bx-controls .bx-controls-direction .bx-next, #tm_manufacturers_block .bx-wrapper .bx-controls .bx-controls-direction .bx-prev {
  position: relative;
  display: inline-block;
  margin: 0 40px;
}
/* line 280, ../../../../../sass/_elements_variables.scss */
#tm_manufacturers_block .bx-wrapper .bx-controls .bx-controls-direction .bx-next::before, #tm_manufacturers_block .bx-wrapper .bx-controls .bx-controls-direction .bx-prev::before {
  font-size: 30px;
}
/* line 42, ../../../../../sass/modules/tmmanufacturerblock/views/css/tmmanufacturerblock.scss */
#tm_manufacturers_block .bx-wrapper .bx-controls .bx-controls-direction a:before {
  color: #121212;
}
/* line 46, ../../../../../sass/modules/tmmanufacturerblock/views/css/tmmanufacturerblock.scss */
#tm_manufacturers_block .bx-wrapper .bx-controls .bx-controls-direction a:hover:before {
  color: #121212;
}
/* line 50, ../../../../../sass/modules/tmmanufacturerblock/views/css/tmmanufacturerblock.scss */
#tm_manufacturers_block .bx-wrapper .bx-controls .bx-controls-direction a.bx-prev {
  left: 12px;
}
/* line 53, ../../../../../sass/modules/tmmanufacturerblock/views/css/tmmanufacturerblock.scss */
#tm_manufacturers_block .bx-wrapper .bx-controls .bx-controls-direction a.bx-next {
  right: 12px;
}
/* line 62, ../../../../../sass/modules/tmmanufacturerblock/views/css/tmmanufacturerblock.scss */
#tm_manufacturers_block a {
  display: block;
  transition: all 0.3s ease-in-out;
}
/* line 66, ../../../../../sass/modules/tmmanufacturerblock/views/css/tmmanufacturerblock.scss */
#tm_manufacturers_block a:hover {
  opacity: 0.5;
}
/* line 70, ../../../../../sass/modules/tmmanufacturerblock/views/css/tmmanufacturerblock.scss */
#tm_manufacturers_block a img {
  display: inline-block;
}
/* line 74, ../../../../../sass/modules/tmmanufacturerblock/views/css/tmmanufacturerblock.scss */
#tm_manufacturers_block a + p {
  margin-top: 14px;
  padding: 0 3.02vw;
  line-height: 1.5;
}
/* line 79, ../../../../../sass/modules/tmmanufacturerblock/views/css/tmmanufacturerblock.scss */
#tm_manufacturers_block a + a {
  margin-top: 12px;
}
/* line 84, ../../../../../sass/modules/tmmanufacturerblock/views/css/tmmanufacturerblock.scss */
#tm_manufacturers_block .manufacturer-name {
  color: #121212;
  font: 700 24px/1.25 "Poiret One", sans-serif;
}
/* line 89, ../../../../../sass/modules/tmmanufacturerblock/views/css/tmmanufacturerblock.scss */
#tm_manufacturers_block p {
  color: #595959;
}
@media (min-width: 992px) {
  /* line 89, ../../../../../sass/modules/tmmanufacturerblock/views/css/tmmanufacturerblock.scss */
  #tm_manufacturers_block p {
    font-size: 16px;
  }
}
