/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
/* line 16, ../../../../sass/modules/themeconfigurator/css/_theme-color.scss */
a:hover, a:focus, .breadcrumb li a:hover, .breadcrumb li a:focus, .link:hover, .link:focus, #tmsearch .tmsearch-close-btn:hover, #tmsearch .tmsearch-close-btn:focus, #tmsearch .btn.button-search:hover, #tmsearch .btn.button-search:focus {
  color: #47afaf;
}

/* line 22, ../../../../sass/modules/themeconfigurator/css/_theme-color.scss */
.btn-primary {
  border-color: #47afaf;
}
/* line 25, ../../../../sass/modules/themeconfigurator/css/_theme-color.scss */
.btn-primary::after {
  background-color: #47afaf;
}
@media (min-width: 768px) {
  /* line 30, ../../../../sass/modules/themeconfigurator/css/_theme-color.scss */
  .btn-primary:hover {
    border-color: #47afaf;
    color: #47afaf;
  }
  /* line 35, ../../../../sass/modules/themeconfigurator/css/_theme-color.scss */
  .btn-primary:active:focus, .btn-primary:active:hover, .btn-primary:active, .btn-primary:focus, .active > .btn-primary, .btn-primary.disabled, .btn-primary.btn[disabled], .disabled > .btn-primary {
    border-color: #388b8b;
    color: #dedede;
  }
  /* line 39, ../../../../sass/modules/themeconfigurator/css/_theme-color.scss */
  .btn-primary:active:focus::after, .btn-primary:active:hover::after, .btn-primary:active::after, .btn-primary:focus::after, .active > .btn-primary::after, .btn-primary.disabled::after, .btn-primary.btn[disabled]::after, .disabled > .btn-primary::after {
    background-color: #388b8b;
    transform: scale3d(1, 1, 1);
  }
}
@media only screen and (max-width: 767px) {
  /* line 47, ../../../../sass/modules/themeconfigurator/css/_theme-color.scss */
  .btn-primary:active:focus, .btn-primary:active, .btn-primary:focus, .btn-primary.hover, .btn-primary:hover {
    border-color: #388b8b;
    color: #dedede;
  }
  /* line 51, ../../../../sass/modules/themeconfigurator/css/_theme-color.scss */
  .btn-primary:active:focus::after, .btn-primary:active::after, .btn-primary:focus::after, .btn-primary.hover::after, .btn-primary:hover::after {
    background-color: #388b8b;
  }
}

@media (min-width: 768px) {
  /* line 65, ../../../../sass/modules/themeconfigurator/css/_theme-color.scss */
  ul.product_list.grid > li .ajax_add_to_cart_button:hover, ul.product_list.grid > li .customize:hover, ul.product_list.grid .slick-track > li .ajax_add_to_cart_button:hover, ul.product_list.grid .slick-track > li .customize:hover {
    border-color: #388b8b;
    color: #dedede;
  }
  /* line 69, ../../../../sass/modules/themeconfigurator/css/_theme-color.scss */
  ul.product_list.grid > li .ajax_add_to_cart_button:hover::after, ul.product_list.grid > li .customize:hover::after, ul.product_list.grid .slick-track > li .ajax_add_to_cart_button:hover::after, ul.product_list.grid .slick-track > li .customize:hover::after {
    background-color: #388b8b;
  }
}
/* line 80, ../../../../sass/modules/themeconfigurator/css/_theme-color.scss */
ul.product_list .functional-buttons > div a:hover, ul.product_list .functional-buttons > div label:hover {
  color: #47afaf;
}

/* line 91, ../../../../sass/modules/themeconfigurator/css/_theme-color.scss */
.content_sortPagiBar .display li.selected, .content_sortPagiBar .display li:hover, .content_sortPagiBar .display_m li.selected, .content_sortPagiBar .display_m li:hover {
  background-color: #47afaf;
  border-color: #47afaf;
}

/* line 105, ../../../../sass/modules/themeconfigurator/css/_theme-color.scss */
header div:not(.with-out-icon) #header-login div.current a:hover, header div:not(.with-out-icon) #header-login div.current a.active, header div:not(.with-out-icon) .tm-search-toggle:hover, header div:not(.with-out-icon) .tm-search-toggle.active, header div:not(.with-out-icon) .wishlist-link a:hover, header div:not(.with-out-icon) .wishlist-link a.active,
header div:not(.with-out-icon) .shopping_cart > a:first-child:hover,
header div:not(.with-out-icon) .shopping_cart > a:first-child.active, header div:not(.with-out-icon) .config-wrap > span:hover, header div:not(.with-out-icon) .config-wrap > span.active {
  color: #47afaf;
}
/* line 112, ../../../../sass/modules/themeconfigurator/css/_theme-color.scss */
header .top_menu .menu-title.active, header .stickUpHolder .menu-title.active {
  color: #47afaf;
}
/* line 117, ../../../../sass/modules/themeconfigurator/css/_theme-color.scss */
header .block-contact .shop-phone a:hover, header #header-login div.current.active a {
  color: #47afaf;
}

/* line 128, ../../../../sass/modules/themeconfigurator/css/_theme-color.scss */
#homepage-slider #homeslider .homeslider-container .homeslider-description .social li a:hover {
  color: #47afaf;
}

/* line 141, ../../../../sass/modules/themeconfigurator/css/_theme-color.scss */
#tm-products-slider #slider_container .main-slides .slide-inner .slide-info .product-price {
  color: #47afaf;
}
/* line 148, ../../../../sass/modules/themeconfigurator/css/_theme-color.scss */
#tm-products-slider #slider_container span.next-btn:hover:before, #tm-products-slider #slider_container span.prev-btn:hover:before {
  color: #47afaf;
}

/* line 154, ../../../../sass/modules/themeconfigurator/css/_theme-color.scss */
.motoslider_wrapper .ms-product-price {
  color: #47afaf;
}

/* line 160, ../../../../sass/modules/themeconfigurator/css/_theme-color.scss */
#tmhtmlcontent_topColumn .bx-wrapper .bx-controls-direction a:hover:before {
  color: #47afaf;
}

/* line 174, ../../../../sass/modules/themeconfigurator/css/_theme-color.scss */
.footer-container .footer-block li a {
  color: #47afaf;
}
/* line 182, ../../../../sass/modules/themeconfigurator/css/_theme-color.scss */
.footer-container h4 a:hover {
  color: #47afaf;
}
/* line 191, ../../../../sass/modules/themeconfigurator/css/_theme-color.scss */
.footer-container #social_block ul li a {
  color: #47afaf;
}
/* line 201, ../../../../sass/modules/themeconfigurator/css/_theme-color.scss */
body .footer-container #block_contact_infos .toggle-footer li a:before, body .footer-container #block_contact_infos .toggle-footer li span:before {
  color: #47afaf;
}
/* line 208, ../../../../sass/modules/themeconfigurator/css/_theme-color.scss */
body .footer-container .footer-block li a:hover {
  color: #47afaf;
}

/* line 223, ../../../../sass/modules/themeconfigurator/css/_theme-color.scss */
.top_menu > ul > li > a.sf-with-ul::before, .top_menu > ul > li.without-link > span.sf-with-ul::before, .top_menu .stickUpHolder > ul > li > a.sf-with-ul::before, .top_menu .stickUpHolder > ul > li.without-link > span.sf-with-ul::before {
  border-color: #47afaf;
}
/* line 228, ../../../../sass/modules/themeconfigurator/css/_theme-color.scss */
.top_menu > ul > li:hover > a, .top_menu > ul > li.sfHover > a, .top_menu > ul > li.sfHoverForce > a, .top_menu > ul > li > a:hover, .top_menu > ul > li:hover > span, .top_menu > ul > li.sfHover > span, .top_menu > ul > li.sfHoverForce > span, .top_menu > ul > li > span:hover, .top_menu .stickUpHolder > ul > li:hover > a, .top_menu .stickUpHolder > ul > li.sfHover > a, .top_menu .stickUpHolder > ul > li.sfHoverForce > a, .top_menu .stickUpHolder > ul > li > a:hover, .top_menu .stickUpHolder > ul > li:hover > span, .top_menu .stickUpHolder > ul > li.sfHover > span, .top_menu .stickUpHolder > ul > li.sfHoverForce > span, .top_menu .stickUpHolder > ul > li > span:hover {
  color: #47afaf;
}
/* line 234, ../../../../sass/modules/themeconfigurator/css/_theme-color.scss */
.top_menu > ul > li ul.is-simplemenu a:hover, .top_menu > ul > li ul.is-simplemenu ul a:hover, .top_menu .stickUpHolder > ul > li ul.is-simplemenu a:hover, .top_menu .stickUpHolder > ul > li ul.is-simplemenu ul a:hover {
  color: #47afaf;
}
/* line 246, ../../../../sass/modules/themeconfigurator/css/_theme-color.scss */
.top_menu .is-megamenu ul.content > li > a:hover, .top_menu .stickUpHolder .is-megamenu ul.content > li > a:hover {
  color: #47afaf;
}

/* line 258, ../../../../sass/modules/themeconfigurator/css/_theme-color.scss */
body #olark-wrapper .olark-launch-button, body #olark-wrapper .olark-top-bar, body #olark-wrapper #olark-container .olark-form-send-button {
  background: #47afaf !important;
  border-radius: 0 !important;
}
/* line 263, ../../../../sass/modules/themeconfigurator/css/_theme-color.scss */
body #olark-wrapper .olark-launch-button svg {
  position: relative;
  transition: all 0.2s ease;
}
/* line 268, ../../../../sass/modules/themeconfigurator/css/_theme-color.scss */
body #olark-wrapper .olark-launch-button:hover svg {
  transform: scale(0.8);
}

/* line 279, ../../../../sass/modules/themeconfigurator/css/_theme-color.scss */
.ui-to-top:hover, .ui-to-top:active, .ui-to-top:focus, .ui-to-top:focus:hover, .ui-to-top:active:hover {
  background: #47afaf;
}

/* line 287, ../../../../sass/modules/themeconfigurator/css/_theme-color.scss */
.bx-wrapper .bx-controls-direction .bx-next:hover::before, .bx-wrapper .bx-controls-direction .bx-prev:hover::before {
  color: #47afaf;
}

/* line 296, ../../../../sass/modules/themeconfigurator/css/_theme-color.scss */
body #fancybox-loading::after, body .loader::after {
  background: #47afaf;
}
/* line 300, ../../../../sass/modules/themeconfigurator/css/_theme-color.scss */
body #fancybox-loading div, body .loader div {
  background: #317979 !important;
}
/* line 307, ../../../../sass/modules/themeconfigurator/css/_theme-color.scss */
body .fancybox-wrap .fancybox-skin .fancybox-close:hover {
  color: #47afaf;
}

/* line 319, ../../../../sass/modules/themeconfigurator/css/_theme-color.scss */
#usefull_link_block li a:hover, #usefull_link_block li a:hover {
  color: #47afaf;
}

/* line 324, ../../../../sass/modules/themeconfigurator/css/_theme-color.scss */
#product_comments_block_extra {
  color: #47afaf;
}

/* line 328, ../../../../sass/modules/themeconfigurator/css/_theme-color.scss */
.product-custom-tab-content .table .right-table table td:hover {
  background: #47afaf;
  color: #dedede;
}

/* line 345, ../../../../sass/modules/themeconfigurator/css/_theme-color.scss */
#pagenotfound .pagenotfound svg {
  display: block;
  text-transform: uppercase;
}
/* line 350, ../../../../sass/modules/themeconfigurator/css/_theme-color.scss */
#pagenotfound .pagenotfound .content {
  font: 900 30.5em/1 "Poiret One", sans-serif;
}
/* line 354, ../../../../sass/modules/themeconfigurator/css/_theme-color.scss */
#pagenotfound .pagenotfound .text {
  stroke-dasharray: 70 355;
  -webkit-animation: stroke 6s infinite linear;
  animation: stroke 6s infinite linear;
}
/* line 360, ../../../../sass/modules/themeconfigurator/css/_theme-color.scss */
#pagenotfound .pagenotfound .text:nth-child(5n + 1) {
  stroke: #388b8b;
  -webkit-animation-delay: -1.2s;
  animation-delay: -1.2s;
}
/* line 360, ../../../../sass/modules/themeconfigurator/css/_theme-color.scss */
#pagenotfound .pagenotfound .text:nth-child(5n + 2) {
  stroke: #121212;
  -webkit-animation-delay: -2.4s;
  animation-delay: -2.4s;
}
/* line 360, ../../../../sass/modules/themeconfigurator/css/_theme-color.scss */
#pagenotfound .pagenotfound .text:nth-child(5n + 3) {
  stroke: #47afaf;
  -webkit-animation-delay: -3.6s;
  animation-delay: -3.6s;
}
/* line 360, ../../../../sass/modules/themeconfigurator/css/_theme-color.scss */
#pagenotfound .pagenotfound .text:nth-child(5n + 4) {
  stroke: #595959;
  -webkit-animation-delay: -4.8s;
  animation-delay: -4.8s;
}
/* line 360, ../../../../sass/modules/themeconfigurator/css/_theme-color.scss */
#pagenotfound .pagenotfound .text:nth-child(5n + 5) {
  stroke: black;
  -webkit-animation-delay: -6s;
  animation-delay: -6s;
}

/* line 373, ../../../../sass/modules/themeconfigurator/css/_theme-color.scss */
.cart_block .cart_block_list .ajax_cart_block_remove_link:hover:before, .cart_block .cart_block_list .remove_link a:hover:before {
  color: #47afaf;
}

/* line 379, ../../../../sass/modules/themeconfigurator/css/_theme-color.scss */
.block .list-block li a:hover {
  color: #47afaf;
}
