/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
/*** ESSENTIAL STYLES ***/
/* line 4, ../../../../sass/modules/blocktopmenu/css/superfish-modified.scss */
.sf-contener {
  clear: both;
  float: left;
  width: 100%;
}

/* line 11, ../../../../sass/modules/blocktopmenu/css/superfish-modified.scss */
.sf-menu,
.sf-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 16, ../../../../sass/modules/blocktopmenu/css/superfish-modified.scss */
.sf-menu {
  position: relative;
  padding: 0;
  width: 100%;
  border-bottom: 3px solid #e9e9e9;
  background: #f6f6f6;
}
@media (max-width: 767px) {
  /* line 16, ../../../../sass/modules/blocktopmenu/css/superfish-modified.scss */
  .sf-menu {
    display: none;
  }
}

/* line 26, ../../../../sass/modules/blocktopmenu/css/superfish-modified.scss */
.sf-menu ul {
  position: absolute;
  top: -999em;
  background: #dedede;
}
@media (max-width: 767px) {
  /* line 26, ../../../../sass/modules/blocktopmenu/css/superfish-modified.scss */
  .sf-menu ul {
    position: relative;
  }
}

/* line 34, ../../../../sass/modules/blocktopmenu/css/superfish-modified.scss */
.sf-menu ul li {
  width: 100%;
}

/* line 37, ../../../../sass/modules/blocktopmenu/css/superfish-modified.scss */
.sf-menu li:hover {
  visibility: inherit;
  /* fixes IE7 'sticky bug' */
}

/* line 40, ../../../../sass/modules/blocktopmenu/css/superfish-modified.scss */
.sf-menu > li {
  float: left;
  border-right: 1px solid #e1e4e2;
  margin-bottom: -3px;
}
@media (max-width: 767px) {
  /* line 40, ../../../../sass/modules/blocktopmenu/css/superfish-modified.scss */
  .sf-menu > li {
    float: none;
    position: relative;
    border-right: none;
  }
  /* line 48, ../../../../sass/modules/blocktopmenu/css/superfish-modified.scss */
  .sf-menu > li span {
    position: absolute;
    right: 6px;
    top: 20px;
    width: 30px;
    height: 30px;
    z-index: 2;
  }
  /* line 55, ../../../../sass/modules/blocktopmenu/css/superfish-modified.scss */
  .sf-menu > li span:after {
    font-family: "FontAwesome";
    content: "\f067";
    font-size: 26px;
  }
  /* line 61, ../../../../sass/modules/blocktopmenu/css/superfish-modified.scss */
  .sf-menu > li span.active:after {
    content: "\f068";
  }
}
/* line 67, ../../../../sass/modules/blocktopmenu/css/superfish-modified.scss */
.sf-menu > li > a {
  font: 600 18px/22px "Poiret One", sans-serif;
  text-transform: uppercase;
  color: #484848;
  display: block;
  padding: 17px 20px;
  border-bottom: 3px solid #e9e9e9;
}
/* line 77, ../../../../sass/modules/blocktopmenu/css/superfish-modified.scss */
.sf-menu > li.sfHover > a,
.sf-menu > li > a:hover, .sf-menu > li.sfHoverForce > a {
  background: #121212;
  border-bottom-color: #666666;
  color: #dedede;
}

/* line 83, ../../../../sass/modules/blocktopmenu/css/superfish-modified.scss */
.sf-menu li li li a {
  display: inline-block;
  position: relative;
  color: #777777;
  font-size: 13px;
  line-height: 16px;
  font-weight: bold;
  padding-bottom: 10px;
}
/* line 91, ../../../../sass/modules/blocktopmenu/css/superfish-modified.scss */
.sf-menu li li li a:before {
  content: "\f105";
  display: inline-block;
  font-family: "FontAwesome";
  padding-right: 10px;
}
/* line 97, ../../../../sass/modules/blocktopmenu/css/superfish-modified.scss */
.sf-menu li li li a:hover {
  color: #3f3f3f;
}

/* line 101, ../../../../sass/modules/blocktopmenu/css/superfish-modified.scss */
.sf-menu li li li.sfHoverForce > a {
  color: #3f3f3f;
}

/* line 104, ../../../../sass/modules/blocktopmenu/css/superfish-modified.scss */
.sf-menu li ul {
  display: none;
  left: 0;
  top: 59px;
  /* match top ul list item height */
  z-index: 99;
  padding: 12px 0 18px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 13px 2px 5px rgba(0, 0, 0, 0.4);
  -khtml-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 13px 2px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 13px 2px 5px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 13px 2px 5px rgba(0, 0, 0, 0.4);
  -o-box-shadow: rgba(0, 0, 0, 0.2) 0 5px 13px 2px 5px rgba(0, 0, 0, 0.4);
  box-shadow: rgba(0, 0, 0, 0.2) 0 5px 13px 2px 5px rgba(0, 0, 0, 0.4);
}
@media (max-width: 767px) {
  /* line 104, ../../../../sass/modules/blocktopmenu/css/superfish-modified.scss */
  .sf-menu li ul {
    top: 0;
  }
}

/* line 115, ../../../../sass/modules/blocktopmenu/css/superfish-modified.scss */
.sf-menu li li ul {
  position: static;
  display: block !important;
  opacity: 1 !important;
  background: none;
  -webkit-box-shadow: rgba(0, 0, 0, 0) 0 0 0 2px 5px rgba(0, 0, 0, 0.4);
  -khtml-box-shadow: rgba(0, 0, 0, 0) 0 0 0 2px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: rgba(0, 0, 0, 0) 0 0 0 2px 5px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: rgba(0, 0, 0, 0) 0 0 0 2px 5px rgba(0, 0, 0, 0.4);
  -o-box-shadow: rgba(0, 0, 0, 0) 0 0 0 2px 5px rgba(0, 0, 0, 0.4);
  box-shadow: rgba(0, 0, 0, 0) 0 0 0 2px 5px rgba(0, 0, 0, 0.4);
}

/* line 122, ../../../../sass/modules/blocktopmenu/css/superfish-modified.scss */
.sf-menu li li li ul {
  padding: 0 0 0 20px;
}

/* line 125, ../../../../sass/modules/blocktopmenu/css/superfish-modified.scss */
.sf-menu li li li ul {
  width: 220px;
}

/* line 129, ../../../../sass/modules/blocktopmenu/css/superfish-modified.scss */
ul.sf-menu li:hover li ul,
ul.sf-menu li.sfHover li ul {
  top: -999em;
}

/* line 133, ../../../../sass/modules/blocktopmenu/css/superfish-modified.scss */
ul.sf-menu li li:hover ul,
ul.sf-menu li li.sfHover ul {
  left: 200px;
  /* match ul width */
  top: 0;
}

/* line 138, ../../../../sass/modules/blocktopmenu/css/superfish-modified.scss */
ul.sf-menu li li:hover li ul,
ul.sf-menu li li.sfHover li ul {
  top: -999em;
}

/* line 142, ../../../../sass/modules/blocktopmenu/css/superfish-modified.scss */
ul.sf-menu li li li:hover ul,
ul.sf-menu li li li.sfHover ul {
  left: 200px;
  /* match ul width */
  top: 0;
}

/* line 146, ../../../../sass/modules/blocktopmenu/css/superfish-modified.scss */
.sf-menu > li > ul {
  padding: 26px 30px 31px;
  width: 100%;
}
/* line 150, ../../../../sass/modules/blocktopmenu/css/superfish-modified.scss */
.sf-menu > li > ul > li > a {
  text-transform: uppercase;
  font: 600 16px/20px "Poiret One", sans-serif;
  color: #3f3f3f;
}
/* line 154, ../../../../sass/modules/blocktopmenu/css/superfish-modified.scss */
.sf-menu > li > ul > li > a:hover {
  color: #f4d6d6;
}

/* line 160, ../../../../sass/modules/blocktopmenu/css/superfish-modified.scss */
.sf-menu > li > ul > li {
  float: left;
  width: 20%;
  padding-right: 15px;
}
@media (max-width: 767px) {
  /* line 160, ../../../../sass/modules/blocktopmenu/css/superfish-modified.scss */
  .sf-menu > li > ul > li {
    width: 50%;
  }
}
@media (max-width: 479px) {
  /* line 160, ../../../../sass/modules/blocktopmenu/css/superfish-modified.scss */
  .sf-menu > li > ul > li {
    width: 100%;
  }
}
@media (min-width: 768px) {
  /* line 171, ../../../../sass/modules/blocktopmenu/css/superfish-modified.scss */
  .sf-menu > li > ul > li.first-in-line-lg {
    clear: left;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  /* line 176, ../../../../sass/modules/blocktopmenu/css/superfish-modified.scss */
  .sf-menu > li > ul > li.first-in-line-xs {
    clear: left;
  }
}

/* line 181, ../../../../sass/modules/blocktopmenu/css/superfish-modified.scss */
.sf-menu > li > ul > li.category-thumbnail {
  width: 100% !important;
  float: none;
  clear: both;
  overflow: hidden;
  padding-right: 0;
}
/* line 187, ../../../../sass/modules/blocktopmenu/css/superfish-modified.scss */
.sf-menu > li > ul > li.category-thumbnail > div {
  float: left;
  padding-left: 10px;
  width: 33.333%;
}
@media (max-width: 479px) {
  /* line 187, ../../../../sass/modules/blocktopmenu/css/superfish-modified.scss */
  .sf-menu > li > ul > li.category-thumbnail > div {
    width: 100%;
    padding-left: 0;
    padding-top: 10px;
    text-align: center;
  }
}
/* line 197, ../../../../sass/modules/blocktopmenu/css/superfish-modified.scss */
.sf-menu > li > ul > li.category-thumbnail > div:first-child {
  padding-left: 0;
}
/* line 200, ../../../../sass/modules/blocktopmenu/css/superfish-modified.scss */
.sf-menu > li > ul > li.category-thumbnail > div img {
  max-width: 100%;
  display: block;
}

/* line 206, ../../../../sass/modules/blocktopmenu/css/superfish-modified.scss */
.cat-title {
  display: none;
}
@media (max-width: 767px) {
  /* line 206, ../../../../sass/modules/blocktopmenu/css/superfish-modified.scss */
  .cat-title {
    display: block;
    font: 600 18px/22px "Poiret One", sans-serif;
    text-transform: uppercase;
    color: #484848;
    display: block;
    padding: 17px 20px;
    border-bottom: 3px solid #e9e9e9;
    background: #f6f6f6;
    position: relative;
  }
  /* line 218, ../../../../sass/modules/blocktopmenu/css/superfish-modified.scss */
  .cat-title:hover {
    background: #121212;
    border-bottom-color: #666666;
    color: #dedede;
  }
  /* line 223, ../../../../sass/modules/blocktopmenu/css/superfish-modified.scss */
  .cat-title:after {
    display: block;
    font-family: "FontAwesome";
    content: "\f067";
    position: absolute;
    right: 15px;
    top: 18px;
    font-size: 26px;
  }
  /* line 232, ../../../../sass/modules/blocktopmenu/css/superfish-modified.scss */
  .cat-title.active:after {
    content: "\f068";
  }
}

/* line 239, ../../../../sass/modules/blocktopmenu/css/superfish-modified.scss */
.sf-menu li.sf-search {
  border: none;
}
/* line 241, ../../../../sass/modules/blocktopmenu/css/superfish-modified.scss */
.sf-menu li.sf-search input {
  display: inline;
  padding: 0 13px;
  height: 30px;
  line-height: 30px;
  background: white;
  margin: 13px 10px 0 0;
  font-size: 13px;
  color: #555555;
  border: 1px solid #cccccc;
}
