/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
/*
* @package       change-grid-on-big-screen
* @description   make grid like in design
*
*/
/*
* @package       custom-scroll-bar
* @description   make you scroll bar pretty and better
*
*/
/*
* @subsection   icons
*
* @description
*/
/*
* @package       header icons title display mixin
* @description
*
*/
/*
* @package     bxSlider controls mixin
* @description
*
*/
/* line 5, ../../../sass/modules/favoriteproducts/favoriteproducts.scss */
#favoriteproducts_block_account .favoriteproduct {
  position: relative;
  margin-bottom: 14px;
  padding: 12px 8px;
  border: 1px solid #e1e4e2;
  -webkit-border-radius: 0;
  -khtml-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
/* line 11, ../../../sass/modules/favoriteproducts/favoriteproducts.scss */
#favoriteproducts_block_account .favoriteproduct a.product_img_link {
  position: relative;
  display: block;
  background: #f4f4f4;
  display: block;
  float: left;
  margin-right: 14px;
  overflow: hidden;
  position: relative;
}
/* line 19, ../../../sass/modules/favoriteproducts/favoriteproducts.scss */
#favoriteproducts_block_account .favoriteproduct p.product_desc {
  line-height: 16px;
  overflow: hidden;
  padding: 0;
}
/* line 24, ../../../sass/modules/favoriteproducts/favoriteproducts.scss */
#favoriteproducts_block_account .favoriteproduct .remove {
  position: absolute;
  top: 10px;
  right: 10px;
}
/* line 28, ../../../sass/modules/favoriteproducts/favoriteproducts.scss */
#favoriteproducts_block_account .favoriteproduct .remove .icon {
  cursor: pointer;
}

/* --lnk fiche produit-- */
/* line 41, ../../../sass/modules/favoriteproducts/favoriteproducts.scss */
#usefull_link_block li#favoriteproducts_block_extra_add, #usefull_link_block li#favoriteproducts_block_extra_remove, #usefull_link_block li#favoriteproducts_block_extra_added, #usefull_link_block li#favoriteproducts_block_extra_removed {
  padding-left: 35px;
  cursor: pointer;
}
/* line 45, ../../../sass/modules/favoriteproducts/favoriteproducts.scss */
#usefull_link_block li#favoriteproducts_block_extra_added {
  display: none;
}
/* line 48, ../../../sass/modules/favoriteproducts/favoriteproducts.scss */
#usefull_link_block li#favoriteproducts_block_extra_removed {
  display: none;
}
