@charset "UTF-8";
/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
/*$base-border-color: darken(saturate(adjust_hue($color-box, 139.99999999999983), 5.263157894736871%), 6.470588235294116%);*/
/*
* @package       topPosition
* @description   to create the equal positions of all popups in header
*
*/
/*
* @package      iconActiveAnimation
* @description  mixin for animation icons
*
*/
/*
* @package       change-grid-on-big-screen
* @description   make grid like in design
*
*/
/*
* @package       custom-scroll-bar
* @description   make you scroll bar pretty and better
*
*/
/*
* @subsection   icons
*
* @description
*/
#header-login div.current a::before {
  font-size: 24px;
  line-height: 1;
}

/*
* @package       header icons title display mixin
* @description
*
*/
/*
* @package     bxSlider controls mixin
* @description
*
*/
/*
* @package      Style for TM Header Account Block
* @description  This section holds specific style redeclarations for
*               TM Header Account Block
*/
@media (min-width: 600px) {
  #header-login {
    position: relative;
  }
}

#header-login div.current [class*='-title'] {
  position: relative;
  display: none;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 992px) {
  .with-out-icon #header-login div.current [class*='-title'] + span[class*='fl-outicons'] {
    display: none;
  }
}

#header-login div.current [class*='-title']::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0px;
  display: block;
  width: 100%;
  border-bottom: 1px solid #e4e1e1;
  transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.bg-dark #header-login div.current [class*='-title']::before {
  border-color: rgba(228, 225, 225, 0.3);
}

#header-login div.current [class*='-title']:hover::before {
  transform: scaleX(0);
}

@media (min-width: 992px) {
  #header-login div.current [class*='-title'] {
    font-size: 17px;
  }
}

@media (min-width: 992px) {
  .with-out-icon #header-login div.current [class*='-title'] {
    display: block;
    font-weight: 400;
    line-height: 1.5;
  }
}

@media (min-width: 992px) {
  .with-out-icon #header-login div.current > a::after, .with-out-icon #header-login div.current > a::before {
    display: none !important;
  }
}

#header-login div.current > a.active [class*='-title'] {
  color: #f4d6d6;
}

#header-login div.current.is-logged a::before {
  content: '\e060';
  color: #f4d6d6;
}

#header-login div.current a {
  padding: 5px 15px;
  position: relative;
  display: block;
  color: #595959;
  cursor: pointer;
  font-family: "Museo", sans-serif;
  font-weight: 700;
}

.bg-dark #header-login div.current a {
  color: #dedede;
}

@media (max-width: 550px) {
  .mobile-stickup #header-login div.current a {
    color: #dedede;
  }
}

.nav-section #header-login div.current a {
  font-weight: 400;
}

#header-login div.current a::before {
  will-change: transform, opacity;
  animation: iconAnimationIn 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#header-login div.current a::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24px;
  margin-top: -12px;
  margin-left: -12px;
  text-align: center;
  font-size: 24px;
  line-height: 24px;
  will-change: transform, opacity;
  animation: iconAnimationOut 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
  content: "";
  font-family: "FontAwesome";
  display: inline-block;
  font-weight: normal;
}

#header-login div.current a.active::before, .active #header-login div.current a::before {
  animation: iconAnimationOut 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
}

.with-out-icon #header-login div.current a.active::before, .with-out-icon .active #header-login div.current a::before {
  animation: iconAnimationIn 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#header-login div.current a.active::after, .active #header-login div.current a::after {
  animation: iconAnimationIn 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
}

.with-out-icon #header-login div.current a.active::after, .with-out-icon .active #header-login div.current a::after {
  animation: iconAnimationOut 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
}

#header-login div.current a::before {
  transition: all 0.3s ease-in-out;
  font-family: "fl-outicons";
  content: "";
  display: inline-block;
  font-weight: normal;
}

#header-login div.current a:hover {
  color: #f4d6d6;
}

#header-login div.current.active a {
  color: #f4d6d6;
}

#header-login div.current.active a::before {
  animation: iconAnimationOut 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
}

#header-login div.current.active a::after {
  animation: iconAnimationIn 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
}

#header-login .header-login-content {
  overflow: hidden;
  z-index: 2;
  position: absolute;
  right: 0;
  display: none;
  box-shadow: 0 2px 30px rgba(12, 12, 12, 0.06);
  top: calc(100% + 3px);
}

@media (min-width: 480px) {
  #header-login .header-login-content {
    top: 100%;
  }
}

@media (min-width: 768px) {
  #header-login .header-login-content {
    top: calc(100% + 30px);
  }
  .stickUpTop.isStuck #header-login .header-login-content {
    top: calc(100% + 20px);
  }
}

@media (max-width: 400px) {
  #header-login .header-login-content {
    width: 100vw;
  }
}

@media (min-width: 400px) and (max-width: 767px) {
  #header-login .header-login-content {
    right: 50%;
    transform: translateX(50%);
  }
}

@media (min-width: 768px) {
  #header-login .header-login-content {
    right: -15px;
  }
}

@media (min-width: 550px) {
  .justify-start #header-login .header-login-content {
    right: auto;
    left: 15px;
  }
}

#header-login .header-login-content #create_header_account_error {
  padding: 8px;
}

/*
* @section      Style for login wrapper
* @description  This section holds specific style redeclarations for
*               login content wrapper
*/
.header-login-content {
  margin: 0;
  padding: 20px;
  background: white;
}

@media (min-width: 480px) {
  .header-login-content {
    padding: 40px;
  }
}

@media (min-width: 992px) {
  .header-login-content {
    padding: 40px 70px;
  }
}

.header-login-content .alert {
  text-align: left;
}

.header-login-content.is-logged ul li {
  margin-bottom: 5px;
}

@media (min-width: 1200px) {
  .header-login-content > li {
    -webkit-animation: fadeIn 0.2s 0.2s ease both;
    -khtml-animation: fadeIn 0.2s 0.2s ease both;
    -moz-animation: fadeIn 0.2s 0.2s ease both;
    -ms-animation: fadeIn 0.2s 0.2s ease both;
    -o-animation: fadeIn 0.2s 0.2s ease both;
    animation: fadeIn 0.2s 0.2s ease both;
  }
}

.header-login-content h2 {
  margin-top: 0;
  font: 700 18px/1.61111 "Museo", sans-serif;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  color: #595959;
}

@media (min-width: 992px) {
  .header-login-content h2 {
    font-size: 22px;
  }
}

.header-login-content li {
  margin: 0;
  padding: 0;
}

.header-login-content li.user-data {
  overflow: hidden;
}

.header-login-content li.user-data img {
  float: left;
  margin-right: 20px;
  margin-bottom: 18px;
}

.header-login-content li.user-data p span {
  display: block;
  white-space: nowrap;
}

.header-login-content li ul {
  margin: 0 0 16px;
}

.header-login-content li ul li {
  display: block;
  overflow: hidden;
}

.header-login-content li ul li a {
  color: #525252;
}

.header-login-content li ul li a:hover {
  color: #000000;
}

.header-login-content li ul li a i {
  display: none;
}

.header-login-content li.onecolumn {
  min-width: 205px;
}

@media (min-width: 992px) {
  .header-login-content li.onecolumn {
    min-width: 290px;
  }
}

.header-login-content li.twocolumns {
  min-width: 405px;
}

@media (min-width: 992px) {
  .header-login-content li.twocolumns {
    min-width: 500px;
  }
}

.header-login-content li.twocolumns > ul {
  float: left;
  width: 50%;
}

.header-login-content li input[type='checkbox'] + label:hover, .header-login-content li input[type='checkbox'] + .label label:hover, .header-login-content li input[type='radio'] + label:hover, .header-login-content li input[type='radio'] + .label label:hover {
  color: #dedede;
}

.header-login-content li .radio-inline, .header-login-content li .checkbox {
  margin-bottom: 5px;
}

.header-login-content li .radio-inline label, .header-login-content li .checkbox label {
  margin: 0;
  cursor: pointer;
}

.header-login-content li .radio-inline input, .header-login-content li .checkbox input {
  z-index: 5;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

@media (min-width: 400px) {
  .header-login-content:not(.is-logged) > li {
    width: 275px;
  }
}

@media (min-width: 992px) {
  .header-login-content:not(.is-logged) > li {
    width: 290px;
  }
}

.header-login-content img {
  max-width: 100%;
}

.header-login-content .form-group {
  margin-bottom: 14px;
}

.header-login-content .form-group label sup {
  color: #f13340;
}

.header-login-content .form-group input {
  height: 55px;
  font-size: 14px;
  text-align: center;
  line-height: 55px;
}

.header-login-content .form-group .form_info {
  display: inline-block;
  margin-top: 10px;
  color: #ff514d;
}

.header-login-content .form-group.form-ok .form-control, .header-login-content .form-group.form-error .form-control {
  padding-left: 30px;
}

.header-login-content p {
  margin-bottom: 17px;
}

.header-login-content p.submit {
  padding-top: 3px;
}

.header-login-content p.logout {
  clear: both;
  margin: 0;
}

.header-login-content p a.forgot-password:hover {
  color: #595959;
}

.header-login-content p .create {
  color: #121212;
}

.header-login-content .btn-md {
  width: 100%;
}

@media only screen and (max-width: 479px) {
  .header-login-content .create-account-content {
    margin-top: 20px;
  }
}

.header-login-content .create-account-content .row {
  margin: 0 -3px;
}

.header-login-content .create-account-content .row > div {
  padding: 0 3px;
}

.header-login-content .create-account-content .row > div .selector {
  width: auto !important;
  height: 36px;
}

.header-login-content .create-account-content .row > div .selector.focus span::after {
  transform: rotate(180deg);
}

.header-login-content .create-account-content .row > div .selector select {
  height: 36px;
}

.header-login-content .create-account-content .row > div .selector span {
  width: auto !important;
  height: 36px;
  line-height: 36px;
  padding-right: 28px;
}

.header-login-content .create-account-content .row > div .selector span::after {
  border: none;
  background: transparent;
  font-size: 10px;
  transition: all 0.3s ease-in-out;
  height: 34px;
  line-height: 34px;
  content: "";
  font-family: "FontAwesome";
  display: inline-block;
  font-weight: normal;
}

.header-login-content .create-account-content .social-login-buttons div {
  margin-bottom: 15px;
}

.header-login-content .create-account-content .social-login-buttons div.one-element .btn {
  margin-left: 0;
  font-size: 12px;
  line-height: 1.1;
}

.header-login-content .create-account-content .social-login-buttons div.one-element .btn span {
  margin: 0;
}

.header-login-content .create-account-content .social-login-buttons div.one-element .btn:before {
  display: none;
}

.header-login-content .forgot-password-content .signin i {
  margin-right: 5px;
}

/*
* @section      Style for social account
*/
.social-login-buttons {
  margin: 0 -4px;
}

.social-login-buttons div {
  margin: 0;
  padding: 0 4px;
  float: left;
}

.social-login-buttons div.one-element {
  width: 100%;
}

.social-login-buttons div.one-element .btn span {
  margin-left: 10px;
}

.social-login-buttons div.two-elements {
  width: 50%;
}

.social-login-buttons div.two-elements .btn span {
  display: none;
}

.social-login-buttons div.three-elements {
  width: 33.33333%;
}

.social-login-buttons div.three-elements .btn span {
  display: none;
}

.social-login-buttons div .btn {
  width: 100%;
  color: #595959;
  border-radius: 0;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 768px) and (max-width: 991px) {
  .three-columns .social-login-buttons div .btn {
    padding-left: 9px;
    padding-right: 9px;
  }
}

.social-login-buttons div .btn span {
  margin-left: 10px;
}

.social-login-buttons div .btn:before {
  display: inline-block;
  font: normal 13px/1em "FontAwesome";
}

.social-login-buttons div .btn.btn-login-facebook:before {
  content: '\f09a';
}

.social-login-buttons div .btn.btn-login-google:before {
  content: '\f1a0';
}

.social-login-buttons div .btn.btn-login-vk:before {
  content: '\f189';
}

/*
* @section      Style for left and right sidebars
* @description  This section holds specific style redeclarations for
*               left and right sidebars
*/
.tmha-sidebar-left, .tmha-sidebar-right {
  z-index: 99999;
  position: fixed;
  top: 0;
  overflow: auto;
  max-height: 100%;
  height: 100%;
  background: white;
  transition: all 0.3s ease;
}

.tmha-sidebar-left .header-login-content, .tmha-sidebar-right .header-login-content {
  box-shadow: none;
}

.tmha-sidebar-left {
  left: 0;
  transform: translateX(-100%);
}

.tmha-sidebar-right {
  right: 0;
  transform: translateX(100%);
}

.tmha-sidebar-right .tmha-close-btn {
  right: auto;
  left: 19px;
}

.tmha-sidebar-left.active {
  left: 0;
  transform: translateX(0);
}

.tmha-sidebar-right.active {
  right: 0;
  transform: translateX(0);
}

.tmha-close-btn {
  position: absolute;
  top: 25px;
  right: 19px;
  display: block;
  outline: none !important;
  color: #595959;
  cursor: pointer;
  transition: all 0.3s ease;
  transform: scale(1);
}

.tmha-close-btn:before {
  font-size: 24px;
  font-family: "fl-outicons";
  content: "";
  display: inline-block;
  font-weight: normal;
}

.tmha-close-btn:hover {
  color: #595959;
}

@media only screen and (max-width: 767px) {
  .tmha-close-btn {
    top: 9px;
    right: 4px;
  }
}

/*
* @section      Style for left and right columns
* @description  This section holds specific style redeclarations for
*               left and right columns
*/
#columns .header-login-content {
  padding: 0;
}

#columns .header-login-content li.user-data p span {
  display: inline-block;
}

#columns .header-login-content li.user-data img {
  float: none;
}

#columns .header-login-content:not(.is-logged) li {
  width: 100%;
}

#columns #center_column .social-login-buttons div {
  margin-bottom: 10px;
}

@media (min-width: 992px) {
  #columns #center_column .social-login-buttons div .btn span {
    display: inline-block;
    font-size: 12px;
  }
}

@media (min-width: 1200px) {
  #columns #center_column .social-login-buttons div .btn span {
    font-size: 13px;
  }
}
