/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
/*
* @package       topPosition
* @description   to create the equal positions of all popups in header
*
*/
/*
* @package      iconActiveAnimation
* @description  mixin for animation icons
*
*/
/*
* @package       change-grid-on-big-screen
* @description   make grid like in design
*
*/
/*
* @package       custom-scroll-bar
* @description   make you scroll bar pretty and better
*
*/
/*
* @subsection   icons
*
* @description
*/
/* line 174, ../../../../../sass/_elements_variables.scss */
#header-login div.current a::before {
  font-size: 24px;
  line-height: 1;
}

/*
* @package       header icons title display mixin
* @description
*
*/
/*
* @package     bxSlider controls mixin
* @description
*
*/
/*
* @package      Style for TM Header Account Block
* @description  This section holds specific style redeclarations for
*               TM Header Account Block
*/
@media (min-width: 600px) {
  /* line 10, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
  #header-login {
    position: relative;
  }
}
/* line 185, ../../../../../sass/_elements_variables.scss */
#header-login div.current [class*='-title'] {
  position: relative;
  display: none;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
}
@media (min-width: 992px) {
  /* line 192, ../../../../../sass/_elements_variables.scss */
  .with-out-icon #header-login div.current [class*='-title'] + span[class*='fl-outicons'] {
    display: none;
  }
}
/* line 199, ../../../../../sass/_elements_variables.scss */
#header-login div.current [class*='-title']::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0px;
  display: block;
  width: 100%;
  border-bottom: 1px solid #e1e4e2;
  transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
/* line 209, ../../../../../sass/_elements_variables.scss */
.bg-dark #header-login div.current [class*='-title']::before {
  border-color: rgba(225, 228, 226, 0.3);
}
/* line 215, ../../../../../sass/_elements_variables.scss */
#header-login div.current [class*='-title']:hover::before {
  transform: scaleX(0);
}
@media (min-width: 992px) {
  /* line 185, ../../../../../sass/_elements_variables.scss */
  #header-login div.current [class*='-title'] {
    font-size: 17px;
  }
}
@media (min-width: 992px) {
  /* line 224, ../../../../../sass/_elements_variables.scss */
  .with-out-icon #header-login div.current [class*='-title'] {
    display: block;
    font-weight: 400;
    line-height: 1.5;
  }
}
@media (min-width: 992px) {
  /* line 236, ../../../../../sass/_elements_variables.scss */
  .with-out-icon #header-login div.current > a::after, .with-out-icon #header-login div.current > a::before {
    display: none !important;
  }
}
/* line 243, ../../../../../sass/_elements_variables.scss */
#header-login div.current > a.active [class*='-title'] {
  color: #f4d6d6;
}
/* line 20, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
#header-login div.current.is-logged a::before {
  content: '\e030';
}
/* line 25, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
#header-login div.current a {
  padding: 5px 15px;
  position: relative;
  display: block;
  color: #121212;
  cursor: pointer;
  font-family: "Poiret One", sans-serif;
  font-weight: 700;
}
/* line 21, ../../../../../sass/_header_modules_variables.scss */
.bg-dark #header-login div.current a {
  color: #dedede;
}
@media (max-width: 550px) {
  /* line 25, ../../../../../sass/_header_modules_variables.scss */
  .mobile-stickup #header-login div.current a {
    color: #dedede;
  }
}
/* line 31, ../../../../../sass/_header_modules_variables.scss */
.nav-section #header-login div.current a {
  font-weight: 400;
}
/* line 189, ../../../../../sass/_header_modules_variables.scss */
#header-login div.current a::before {
  will-change: transform, opacity;
  animation: iconAnimationIn 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
/* line 194, ../../../../../sass/_header_modules_variables.scss */
#header-login div.current a::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24px;
  margin-top: -12px;
  margin-left: -12px;
  text-align: center;
  font-size: 24px;
  line-height: 24px;
  will-change: transform, opacity;
  animation: iconAnimationOut 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
  font-family: "FontAwesome";
  content: "\f00d";
  display: inline-block;
  font-weight: normal;
}
/* line 211, ../../../../../sass/_header_modules_variables.scss */
#header-login div.current a.active::before, .active #header-login div.current a::before {
  animation: iconAnimationOut 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
}
/* line 214, ../../../../../sass/_header_modules_variables.scss */
.with-out-icon #header-login div.current a.active::before, .with-out-icon .active #header-login div.current a::before {
  animation: iconAnimationIn 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
/* line 220, ../../../../../sass/_header_modules_variables.scss */
#header-login div.current a.active::after, .active #header-login div.current a::after {
  animation: iconAnimationIn 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
}
/* line 223, ../../../../../sass/_header_modules_variables.scss */
.with-out-icon #header-login div.current a.active::after, .with-out-icon .active #header-login div.current a::after {
  animation: iconAnimationOut 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
}
/* line 29, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
#header-login div.current a::before {
  transition: all 0.3s ease-in-out;
  font-family: "fl-outicons";
  content: "\e060";
  display: inline-block;
  font-weight: normal;
}
/* line 36, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
#header-login div.current a:hover {
  color: #f4d6d6;
}
/* line 40, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
#header-login div.current.active a {
  color: #f4d6d6;
}
/* line 47, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
#header-login div.current.active a::before {
  animation: iconAnimationOut 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
}
/* line 51, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
#header-login div.current.active a::after {
  animation: iconAnimationIn 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
}
/* line 57, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
#header-login .header-login-content {
  overflow: hidden;
  z-index: 2;
  position: absolute;
  right: 0;
  display: none;
  box-shadow: 0 2px 30px rgba(12, 12, 12, 0.06);
  top: calc(100% + 3px);
}
@media (min-width: 480px) {
  /* line 57, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
  #header-login .header-login-content {
    top: 100%;
  }
}
@media (min-width: 768px) {
  /* line 57, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
  #header-login .header-login-content {
    top: calc(100% + 30px);
  }
  /* line 173, ../../../../../sass/_header_modules_variables.scss */
  .stickUpTop.isStuck #header-login .header-login-content {
    top: calc(100% + 20px);
  }
}
@media (max-width: 400px) {
  /* line 57, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
  #header-login .header-login-content {
    width: 100vw;
  }
}
@media (min-width: 400px) and (max-width: 767px) {
  /* line 57, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
  #header-login .header-login-content {
    right: 50%;
    transform: translateX(50%);
  }
}
@media (min-width: 768px) {
  /* line 57, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
  #header-login .header-login-content {
    right: -15px;
  }
}
@media (min-width: 550px) {
  /* line 81, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
  .justify-start #header-login .header-login-content {
    right: auto;
    left: 15px;
  }
}
/* line 87, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
#header-login .header-login-content #create_header_account_error {
  padding: 8px;
}

/*
* @section      Style for login wrapper
* @description  This section holds specific style redeclarations for
*               login content wrapper
*/
/* line 99, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
.header-login-content {
  margin: 0;
  padding: 20px;
  background: white;
}
@media (min-width: 480px) {
  /* line 99, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
  .header-login-content {
    padding: 40px;
  }
}
@media (min-width: 992px) {
  /* line 99, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
  .header-login-content {
    padding: 40px 70px;
  }
}
/* line 112, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
.header-login-content .alert {
  text-align: left;
}
/* line 118, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
.header-login-content.is-logged ul li {
  margin-bottom: 5px;
}
@media (min-width: 1200px) {
  /* line 124, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
  .header-login-content > li {
    -webkit-animation: fadeIn 0.2s 0.2s ease both;
    -khtml-animation: fadeIn 0.2s 0.2s ease both;
    -moz-animation: fadeIn 0.2s 0.2s ease both;
    -ms-animation: fadeIn 0.2s 0.2s ease both;
    -o-animation: fadeIn 0.2s 0.2s ease both;
    animation: fadeIn 0.2s 0.2s ease both;
  }
}
/* line 130, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
.header-login-content h2 {
  margin-top: 0;
  font: 700 18px/1.61111 "Poiret One", sans-serif;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  color: #121212;
}
@media (min-width: 992px) {
  /* line 130, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
  .header-login-content h2 {
    font-size: 30px;
  }
}
/* line 142, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
.header-login-content li {
  margin: 0;
  padding: 0;
}
/* line 146, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
.header-login-content li.user-data {
  overflow: hidden;
}
/* line 148, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
.header-login-content li.user-data img {
  float: left;
  margin-right: 20px;
  margin-bottom: 18px;
}
/* line 154, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
.header-login-content li.user-data p span {
  display: block;
  white-space: nowrap;
}
/* line 160, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
.header-login-content li ul {
  margin: 0 0 16px;
}
/* line 162, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
.header-login-content li ul li {
  display: block;
  overflow: hidden;
}
/* line 165, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
.header-login-content li ul li a {
  color: #525252;
}
/* line 167, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
.header-login-content li ul li a:hover {
  color: #000000;
}
/* line 170, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
.header-login-content li ul li a i {
  display: none;
}
/* line 176, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
.header-login-content li.onecolumn {
  min-width: 205px;
}
@media (min-width: 992px) {
  /* line 176, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
  .header-login-content li.onecolumn {
    min-width: 290px;
  }
}
/* line 183, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
.header-login-content li.twocolumns {
  min-width: 405px;
}
@media (min-width: 992px) {
  /* line 183, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
  .header-login-content li.twocolumns {
    min-width: 500px;
  }
}
/* line 189, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
.header-login-content li.twocolumns > ul {
  float: left;
  width: 50%;
}
/* line 194, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
.header-login-content li input[type='checkbox'] + label:hover, .header-login-content li input[type='checkbox'] + .label label:hover, .header-login-content li input[type='radio'] + label:hover, .header-login-content li input[type='radio'] + .label label:hover {
  color: #dedede;
}
/* line 197, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
.header-login-content li .radio-inline, .header-login-content li .checkbox {
  margin-bottom: 5px;
}
/* line 199, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
.header-login-content li .radio-inline label, .header-login-content li .checkbox label {
  margin: 0;
  cursor: pointer;
}
/* line 203, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
.header-login-content li .radio-inline input, .header-login-content li .checkbox input {
  z-index: 5;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
@media (min-width: 400px) {
  /* line 215, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
  .header-login-content:not(.is-logged) > li {
    width: 275px;
  }
}
@media (min-width: 992px) {
  /* line 215, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
  .header-login-content:not(.is-logged) > li {
    width: 290px;
  }
}
/* line 224, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
.header-login-content img {
  max-width: 100%;
}
/* line 227, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
.header-login-content .form-group {
  margin-bottom: 14px;
}
/* line 231, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
.header-login-content .form-group label sup {
  color: #f13340;
}
/* line 235, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
.header-login-content .form-group input {
  height: 55px;
  font-size: 14px;
  text-align: center;
  line-height: 55px;
}
/* line 241, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
.header-login-content .form-group .form_info {
  display: inline-block;
  margin-top: 10px;
  color: #ff514d;
}
/* line 249, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
.header-login-content .form-group.form-ok .form-control, .header-login-content .form-group.form-error .form-control {
  padding-left: 30px;
}
/* line 254, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
.header-login-content p {
  margin-bottom: 17px;
}
/* line 256, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
.header-login-content p.submit {
  padding-top: 3px;
}
/* line 259, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
.header-login-content p.logout {
  clear: both;
  margin: 0;
}
/* line 263, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
.header-login-content p a.forgot-password:hover {
  color: #121212;
}
/* line 266, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
.header-login-content p .create {
  color: #121212;
}
/* line 270, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
.header-login-content .btn-md {
  width: 100%;
}
@media only screen and (max-width: 479px) {
  /* line 275, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
  .header-login-content .create-account-content {
    margin-top: 20px;
  }
}
/* line 279, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
.header-login-content .create-account-content .row {
  margin: 0 -3px;
}
/* line 281, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
.header-login-content .create-account-content .row > div {
  padding: 0 3px;
}
/* line 284, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
.header-login-content .create-account-content .row > div .selector {
  width: auto !important;
  height: 36px;
}
/* line 291, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
.header-login-content .create-account-content .row > div .selector.focus span::after {
  transform: rotate(180deg);
}
/* line 297, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
.header-login-content .create-account-content .row > div .selector select {
  height: 36px;
}
/* line 300, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
.header-login-content .create-account-content .row > div .selector span {
  width: auto !important;
  height: 36px;
  line-height: 36px;
  padding-right: 28px;
}
/* line 306, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
.header-login-content .create-account-content .row > div .selector span::after {
  border: none;
  background: transparent;
  font-size: 10px;
  transition: all 0.3s ease-in-out;
  height: 34px;
  line-height: 34px;
  font-family: "FontAwesome";
  content: "\f107";
  display: inline-block;
  font-weight: normal;
}
/* line 321, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
.header-login-content .create-account-content .social-login-buttons div {
  margin-bottom: 15px;
}
/* line 325, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
.header-login-content .create-account-content .social-login-buttons div.one-element .btn {
  margin-left: 0;
  font-size: 12px;
  line-height: 1.1;
}
/* line 329, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
.header-login-content .create-account-content .social-login-buttons div.one-element .btn span {
  margin: 0;
}
/* line 332, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
.header-login-content .create-account-content .social-login-buttons div.one-element .btn:before {
  display: none;
}
/* line 342, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
.header-login-content .forgot-password-content .signin i {
  margin-right: 5px;
}

/*
* @section      Style for social account
*/
/* line 353, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
.social-login-buttons {
  margin: 0 -4px;
}
/* line 355, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
.social-login-buttons div {
  margin: 0;
  padding: 0 4px;
  float: left;
}
/* line 359, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
.social-login-buttons div.one-element {
  width: 100%;
}
/* line 361, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
.social-login-buttons div.one-element .btn span {
  margin-left: 10px;
}
/* line 365, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
.social-login-buttons div.two-elements {
  width: 50%;
}
/* line 367, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
.social-login-buttons div.two-elements .btn span {
  display: none;
}
/* line 371, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
.social-login-buttons div.three-elements {
  width: 33.33333%;
}
/* line 373, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
.social-login-buttons div.three-elements .btn span {
  display: none;
}
/* line 377, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
.social-login-buttons div .btn {
  width: 100%;
  color: #121212;
  border-radius: 0;
  transition: all 0.3s ease-in-out;
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 385, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
  .three-columns .social-login-buttons div .btn {
    padding-left: 9px;
    padding-right: 9px;
  }
}
/* line 392, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
.social-login-buttons div .btn span {
  margin-left: 10px;
}
/* line 395, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
.social-login-buttons div .btn:before {
  display: inline-block;
  font: normal 13px/1em "FontAwesome";
}
/* line 401, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
.social-login-buttons div .btn.btn-login-facebook:before {
  content: '\f09a';
}
/* line 410, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
.social-login-buttons div .btn.btn-login-google:before {
  content: '\f1a0';
}
/* line 420, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
.social-login-buttons div .btn.btn-login-vk:before {
  content: '\f189';
}

/*
* @section      Style for left and right sidebars
* @description  This section holds specific style redeclarations for
*               left and right sidebars
*/
/* line 437, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
.tmha-sidebar-left, .tmha-sidebar-right {
  z-index: 99999;
  position: fixed;
  top: 0;
  overflow: auto;
  max-height: 100%;
  height: 100%;
  background: white;
  transition: all 0.3s ease;
}
/* line 447, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
.tmha-sidebar-left .header-login-content, .tmha-sidebar-right .header-login-content {
  box-shadow: none;
}

/* line 452, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
.tmha-sidebar-left {
  left: 0;
  transform: translateX(-100%);
}

/* line 457, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
.tmha-sidebar-right {
  right: 0;
  transform: translateX(100%);
}
/* line 460, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
.tmha-sidebar-right .tmha-close-btn {
  right: auto;
  left: 19px;
}

/* line 466, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
.tmha-sidebar-left.active {
  left: 0;
  transform: translateX(0);
}

/* line 471, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
.tmha-sidebar-right.active {
  right: 0;
  transform: translateX(0);
}

/* line 476, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
.tmha-close-btn {
  position: absolute;
  top: 25px;
  right: 19px;
  display: block;
  outline: none !important;
  color: #121212;
  cursor: pointer;
  transition: all 0.3s ease;
  transform: scale(1);
}
/* line 487, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
.tmha-close-btn:before {
  font-size: 24px;
  font-family: "fl-outicons";
  content: "\e00b";
  display: inline-block;
  font-weight: normal;
}
/* line 491, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
.tmha-close-btn:hover {
  color: #595959;
}
@media only screen and (max-width: 767px) {
  /* line 476, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
  .tmha-close-btn {
    top: 9px;
    right: 4px;
  }
}

/*
* @section      Style for left and right columns
* @description  This section holds specific style redeclarations for
*               left and right columns
*/
/* line 508, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
#columns .header-login-content {
  padding: 0;
}
/* line 512, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
#columns .header-login-content li.user-data p span {
  display: inline-block;
}
/* line 515, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
#columns .header-login-content li.user-data img {
  float: none;
}
/* line 519, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
#columns .header-login-content:not(.is-logged) li {
  width: 100%;
}
/* line 525, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
#columns #center_column .social-login-buttons div {
  margin-bottom: 10px;
}
@media (min-width: 992px) {
  /* line 527, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
  #columns #center_column .social-login-buttons div .btn span {
    display: inline-block;
    font-size: 12px;
  }
}
@media (min-width: 1200px) {
  /* line 527, ../../../../../sass/modules/tmheaderaccount/views/css/tmheaderaccount.scss */
  #columns #center_column .social-login-buttons div .btn span {
    font-size: 13px;
  }
}
