/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
/*
* @package      Style for TM Product List Gallery block
* @description  This section holds specific style redeclarations for
*               TM Product List Gallery block
*/
/* line 14, ../../../../../sass/modules/tmproductlistgallery/views/css/tmproductlistgallery.scss */
.product-image-container:hover .tmproductlistgallery.rollover .opacity a.cover-image {
  opacity: 0;
}
/* line 17, ../../../../../sass/modules/tmproductlistgallery/views/css/tmproductlistgallery.scss */
.product-image-container:hover .tmproductlistgallery.rollover .opacity a.rollover-hover {
  opacity: 1;
}
/* line 22, ../../../../../sass/modules/tmproductlistgallery/views/css/tmproductlistgallery.scss */
.product-image-container:hover .tmproductlistgallery.rollover .vertical_slide a.cover-image {
  transform: translateY(-100%);
  opacity: 1;
}
/* line 26, ../../../../../sass/modules/tmproductlistgallery/views/css/tmproductlistgallery.scss */
.product-image-container:hover .tmproductlistgallery.rollover .vertical_slide a.rollover-hover {
  transform: translateY(0);
  opacity: 1;
}
/* line 32, ../../../../../sass/modules/tmproductlistgallery/views/css/tmproductlistgallery.scss */
.product-image-container:hover .tmproductlistgallery.rollover .horizontal_slide a.cover-image {
  transform: translateX(-100%);
  opacity: 1;
}
/* line 36, ../../../../../sass/modules/tmproductlistgallery/views/css/tmproductlistgallery.scss */
.product-image-container:hover .tmproductlistgallery.rollover .horizontal_slide a.rollover-hover {
  transform: translateX(0);
  opacity: 1;
}
/* line 45, ../../../../../sass/modules/tmproductlistgallery/views/css/tmproductlistgallery.scss */
.product-image-container .tmproductlistgallery.rollover {
  overflow: hidden;
  position: relative;
}
/* line 48, ../../../../../sass/modules/tmproductlistgallery/views/css/tmproductlistgallery.scss */
.product-image-container .tmproductlistgallery.rollover a {
  display: block;
  width: 100%;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
}
/* line 55, ../../../../../sass/modules/tmproductlistgallery/views/css/tmproductlistgallery.scss */
.product-image-container .tmproductlistgallery.rollover .opacity a.cover-image {
  position: relative;
  opacity: 1;
}
/* line 59, ../../../../../sass/modules/tmproductlistgallery/views/css/tmproductlistgallery.scss */
.product-image-container .tmproductlistgallery.rollover .opacity a.rollover-hover {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
/* line 67, ../../../../../sass/modules/tmproductlistgallery/views/css/tmproductlistgallery.scss */
.product-image-container .tmproductlistgallery.rollover .vertical_slide a.cover-image {
  position: relative;
  transform: translateY(0);
  opacity: 1;
}
/* line 72, ../../../../../sass/modules/tmproductlistgallery/views/css/tmproductlistgallery.scss */
.product-image-container .tmproductlistgallery.rollover .vertical_slide a.rollover-hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(100%);
}
/* line 81, ../../../../../sass/modules/tmproductlistgallery/views/css/tmproductlistgallery.scss */
.product-image-container .tmproductlistgallery.rollover .horizontal_slide a.cover-image {
  position: relative;
  transform: translateX(0);
  opacity: 1;
}
/* line 86, ../../../../../sass/modules/tmproductlistgallery/views/css/tmproductlistgallery.scss */
.product-image-container .tmproductlistgallery.rollover .horizontal_slide a.rollover-hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  transform: translateX(100%);
}
/* line 95, ../../../../../sass/modules/tmproductlistgallery/views/css/tmproductlistgallery.scss */
.product-image-container .tmproductlistgallery.slideshow {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
/* line 101, ../../../../../sass/modules/tmproductlistgallery/views/css/tmproductlistgallery.scss */
.product-image-container .tmproductlistgallery.slideshow .tmproductlistgallery-images {
  background: none;
}
/* line 104, ../../../../../sass/modules/tmproductlistgallery/views/css/tmproductlistgallery.scss */
.product-image-container .tmproductlistgallery.slideshow .tmproductlistgallery-images:not(.slick-initialized) .product_img_link:not(:first-child) {
  display: none;
}
/* line 107, ../../../../../sass/modules/tmproductlistgallery/views/css/tmproductlistgallery.scss */
.product-image-container .tmproductlistgallery.slideshow .tmproductlistgallery-images a {
  outline: none !important;
}
/* line 109, ../../../../../sass/modules/tmproductlistgallery/views/css/tmproductlistgallery.scss */
.product-image-container .tmproductlistgallery.slideshow .tmproductlistgallery-images a img {
  width: 100%;
  opacity: 1;
}
/* line 112, ../../../../../sass/modules/tmproductlistgallery/views/css/tmproductlistgallery.scss */
.product-image-container .tmproductlistgallery.slideshow .tmproductlistgallery-images a img.slick-loading {
  opacity: 0;
}
/* line 117, ../../../../../sass/modules/tmproductlistgallery/views/css/tmproductlistgallery.scss */
.product-image-container .tmproductlistgallery.slideshow .tmproductlistgallery-images > button, .product-image-container .tmproductlistgallery.slideshow .tmproductlistgallery-images > ul {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: opacity;
  animation-name: opacity;
}
/* line 126, ../../../../../sass/modules/tmproductlistgallery/views/css/tmproductlistgallery.scss */
.product-image-container .tmproductlistgallery.slideshow.slideshow-dots .tmproductlistgallery-images {
  margin-bottom: 30px;
}
/* line 130, ../../../../../sass/modules/tmproductlistgallery/views/css/tmproductlistgallery.scss */
.product-image-container .tmproductlistgallery.slideshow .tmproductlistgallery-thumbnails.slick-initialized {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: opacity;
  animation-name: opacity;
}
/* line 138, ../../../../../sass/modules/tmproductlistgallery/views/css/tmproductlistgallery.scss */
.product-image-container .tmproductlistgallery.slideshow .tmproductlistgallery-thumbnails.use-carousel {
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 80%;
  transform: translateX(-50%);
}
@media (min-width: 480px) {
  /* line 138, ../../../../../sass/modules/tmproductlistgallery/views/css/tmproductlistgallery.scss */
  .product-image-container .tmproductlistgallery.slideshow .tmproductlistgallery-thumbnails.use-carousel {
    width: 60%;
  }
}
/* line 149, ../../../../../sass/modules/tmproductlistgallery/views/css/tmproductlistgallery.scss */
.product-image-container .tmproductlistgallery.slideshow .tmproductlistgallery-thumbnails.slick-vertical {
  position: absolute;
  left: auto;
  bottom: auto;
  right: 0;
  top: 0;
  transform: none;
  width: 20%;
}
/* line 158, ../../../../../sass/modules/tmproductlistgallery/views/css/tmproductlistgallery.scss */
.product-image-container .tmproductlistgallery.slideshow .tmproductlistgallery-thumbnails:not(.use-carousel) .slick-track {
  margin: 0 auto;
  transform: none !important;
  width: auto !important;
}
/* line 163, ../../../../../sass/modules/tmproductlistgallery/views/css/tmproductlistgallery.scss */
.product-image-container .tmproductlistgallery.slideshow .tmproductlistgallery-thumbnails .gallery-image-thumb {
  outline: none;
}
/* line 165, ../../../../../sass/modules/tmproductlistgallery/views/css/tmproductlistgallery.scss */
.product-image-container .tmproductlistgallery.slideshow .tmproductlistgallery-thumbnails .gallery-image-thumb span {
  display: block;
  padding: 10px;
}
/* line 170, ../../../../../sass/modules/tmproductlistgallery/views/css/tmproductlistgallery.scss */
.product-image-container .tmproductlistgallery.slideshow .tmproductlistgallery-thumbnails .gallery-image-thumb.slick-current.slick-center span {
  transform: scale(1.2);
}
/* line 174, ../../../../../sass/modules/tmproductlistgallery/views/css/tmproductlistgallery.scss */
.product-image-container .tmproductlistgallery.slideshow .tmproductlistgallery-thumbnails .gallery-image-thumb img {
  background-color: #dedede;
  opacity: 1;
}
/* line 178, ../../../../../sass/modules/tmproductlistgallery/views/css/tmproductlistgallery.scss */
.product-image-container .tmproductlistgallery.slideshow .tmproductlistgallery-thumbnails .gallery-image-thumb img.slick-loading {
  opacity: 0;
  display: none;
}
/* line 183, ../../../../../sass/modules/tmproductlistgallery/views/css/tmproductlistgallery.scss */
.product-image-container .tmproductlistgallery.slideshow .tmproductlistgallery-thumbnails .gallery-image-thumb.slick-current img {
  box-shadow: 0 2px 30px rgba(12, 12, 12, 0.06);
}
/* line 187, ../../../../../sass/modules/tmproductlistgallery/views/css/tmproductlistgallery.scss */
.product-image-container .tmproductlistgallery.slideshow .tmproductlistgallery-thumbnails:not(.slick-initialized) div {
  display: none;
}
/* line 192, ../../../../../sass/modules/tmproductlistgallery/views/css/tmproductlistgallery.scss */
.product-image-container .tmproductlistgallery.slideshow .tmproductlistgallery-thumbnails.less-visible .gallery-image-thumb span {
  transform: scale(1) !important;
}
/* line 196, ../../../../../sass/modules/tmproductlistgallery/views/css/tmproductlistgallery.scss */
.product-image-container .tmproductlistgallery.slideshow .tmproductlistgallery-thumbnails.less-visible .slick-track {
  margin: 0 auto;
  transform: none !important;
}
/* line 201, ../../../../../sass/modules/tmproductlistgallery/views/css/tmproductlistgallery.scss */
.product-image-container .tmproductlistgallery.slideshow .tmproductlistgallery-thumbnails .slick-dots {
  bottom: -20px;
}
/* line 203, ../../../../../sass/modules/tmproductlistgallery/views/css/tmproductlistgallery.scss */
.product-image-container .tmproductlistgallery.slideshow .tmproductlistgallery-thumbnails .slick-dots li {
  margin: 0;
}
/* line 205, ../../../../../sass/modules/tmproductlistgallery/views/css/tmproductlistgallery.scss */
.product-image-container .tmproductlistgallery.slideshow .tmproductlistgallery-thumbnails .slick-dots li button {
  width: 3px;
  height: 3px;
  padding: 0;
  box-shadow: 0 1px 1px #000;
}
/* line 215, ../../../../../sass/modules/tmproductlistgallery/views/css/tmproductlistgallery.scss */
.product-image-container .tmproductlistgallery img {
  margin: 0 auto;
}
/* line 220, ../../../../../sass/modules/tmproductlistgallery/views/css/tmproductlistgallery.scss */
.product-image-container .tmproductlistgallery.vertical-thumbnails .tmproductlistgallery-images .slick-prev {
  top: auto;
  bottom: 0;
  left: 50%;
  transform: translateX(-100%);
}
/* line 226, ../../../../../sass/modules/tmproductlistgallery/views/css/tmproductlistgallery.scss */
.product-image-container .tmproductlistgallery.vertical-thumbnails .tmproductlistgallery-images .slick-next {
  top: auto;
  bottom: 0;
  right: 50%;
  transform: translateX(100%);
}
/* line 234, ../../../../../sass/modules/tmproductlistgallery/views/css/tmproductlistgallery.scss */
.product-image-container .tmproductlistgallery.vertical-thumbnails .tmproductlistgallery-thumbnails .slick-prev {
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
}
/* line 238, ../../../../../sass/modules/tmproductlistgallery/views/css/tmproductlistgallery.scss */
.product-image-container .tmproductlistgallery.vertical-thumbnails .tmproductlistgallery-thumbnails .slick-prev:before {
  content: '\f077';
}
/* line 242, ../../../../../sass/modules/tmproductlistgallery/views/css/tmproductlistgallery.scss */
.product-image-container .tmproductlistgallery.vertical-thumbnails .tmproductlistgallery-thumbnails .slick-next {
  top: auto;
  bottom: -15px;
  left: 50%;
  transform: translateX(-50%);
}
/* line 247, ../../../../../sass/modules/tmproductlistgallery/views/css/tmproductlistgallery.scss */
.product-image-container .tmproductlistgallery.vertical-thumbnails .tmproductlistgallery-thumbnails .slick-next:before {
  content: '\f078';
}
/* line 251, ../../../../../sass/modules/tmproductlistgallery/views/css/tmproductlistgallery.scss */
.product-image-container .tmproductlistgallery.vertical-thumbnails .tmproductlistgallery-thumbnails.slick-dotted {
  margin: 0 18px 0 0;
}
/* line 253, ../../../../../sass/modules/tmproductlistgallery/views/css/tmproductlistgallery.scss */
.product-image-container .tmproductlistgallery.vertical-thumbnails .tmproductlistgallery-thumbnails.slick-dotted .slick-dots {
  bottom: auto;
  height: auto;
  top: 50%;
  left: auto;
  padding: 5px;
  right: -25px;
  width: auto;
  transform: translateY(-50%);
}
/* line 262, ../../../../../sass/modules/tmproductlistgallery/views/css/tmproductlistgallery.scss */
.product-image-container .tmproductlistgallery.vertical-thumbnails .tmproductlistgallery-thumbnails.slick-dotted .slick-dots li {
  display: block;
}

/*
* @section      Style for controls
* @description  This section holds specific style redeclarations for
*               TM Product List Gallery block controls
*/
/* line 279, ../../../../../sass/modules/tmproductlistgallery/views/css/tmproductlistgallery.scss */
.tmproductlistgallery .slick-prev, .tmproductlistgallery .slick-next {
  position: absolute;
  top: 50%;
  text-align: center;
  transform: translateY(-50%);
  z-index: 10;
  width: 30px;
  height: 30px;
  opacity: 1;
}
/* line 289, ../../../../../sass/modules/tmproductlistgallery/views/css/tmproductlistgallery.scss */
.tmproductlistgallery .slick-prev:before, .tmproductlistgallery .slick-next:before {
  font-size: 17px;
  line-height: 22px;
  font-family: "FontAwesome";
  content: '\f104';
  color: rgba(0, 0, 0, 0.4);
}
/* line 296, ../../../../../sass/modules/tmproductlistgallery/views/css/tmproductlistgallery.scss */
.tmproductlistgallery .slick-next:before {
  content: '\f105';
}
/* line 299, ../../../../../sass/modules/tmproductlistgallery/views/css/tmproductlistgallery.scss */
.tmproductlistgallery .slick-next:before {
  font-size: 17px;
  line-height: 22px;
}
/* line 304, ../../../../../sass/modules/tmproductlistgallery/views/css/tmproductlistgallery.scss */
.tmproductlistgallery .slick-prev:hover:before, .tmproductlistgallery .slick-next:hover:before {
  color: rgba(0, 0, 0, 0.75);
}
/* line 308, ../../../../../sass/modules/tmproductlistgallery/views/css/tmproductlistgallery.scss */
.tmproductlistgallery .slick-prev {
  left: -13px;
}
/* line 311, ../../../../../sass/modules/tmproductlistgallery/views/css/tmproductlistgallery.scss */
.tmproductlistgallery .slick-next {
  right: -13px;
}
/* line 315, ../../../../../sass/modules/tmproductlistgallery/views/css/tmproductlistgallery.scss */
.tmproductlistgallery .tmproductlistgallery-images .slick-prev {
  left: 0;
}
/* line 317, ../../../../../sass/modules/tmproductlistgallery/views/css/tmproductlistgallery.scss */
.tmproductlistgallery .tmproductlistgallery-images .slick-prev:before {
  font-size: 30px;
}
/* line 321, ../../../../../sass/modules/tmproductlistgallery/views/css/tmproductlistgallery.scss */
.tmproductlistgallery .tmproductlistgallery-images .slick-next {
  right: 0;
}
/* line 323, ../../../../../sass/modules/tmproductlistgallery/views/css/tmproductlistgallery.scss */
.tmproductlistgallery .tmproductlistgallery-images .slick-next:before {
  font-size: 30px;
}
/* line 328, ../../../../../sass/modules/tmproductlistgallery/views/css/tmproductlistgallery.scss */
.tmproductlistgallery .slick-dots {
  position: absolute;
  left: 0;
  bottom: -30px;
  padding: 5px;
  margin: 0;
  text-align: center;
  width: 100%;
}
/* line 337, ../../../../../sass/modules/tmproductlistgallery/views/css/tmproductlistgallery.scss */
.tmproductlistgallery .slick-dots li button {
  width: 8px;
  height: 8px;
  opacity: 0.9;
  background: #fcfcfc;
  margin: 0 2px;
  border-radius: 8px;
  cursor: pointer;
  overflow: hidden;
  display: inline-block;
  text-indent: -5555px;
  box-shadow: 0 1px 5px #000;
}
/* line 350, ../../../../../sass/modules/tmproductlistgallery/views/css/tmproductlistgallery.scss */
.tmproductlistgallery .slick-dots li button:hover {
  background: #121212;
}
/* line 355, ../../../../../sass/modules/tmproductlistgallery/views/css/tmproductlistgallery.scss */
.tmproductlistgallery .slick-dots li.slick-active button {
  background: #121212;
}

/*
* @section       Style for Demo TM Product List Gallery block
* @description   This section holds specific style redeclarations for
*                Demo TM Product List Gallery block
*/
/* line 372, ../../../../../sass/modules/tmproductlistgallery/views/css/tmproductlistgallery.scss */
ul.product_list.grid > li .product-container .product-image-container .content_price {
  bottom: -35px;
  padding: 5px 0;
}

@-webkit-keyframes opacity {
  /* line 378, ../../../../../sass/modules/tmproductlistgallery/views/css/tmproductlistgallery.scss */
  0% {
    opacity: 0;
  }

  /* line 382, ../../../../../sass/modules/tmproductlistgallery/views/css/tmproductlistgallery.scss */
  100% {
    opacity: 1;
  }
}

@keyframes opacity {
  /* line 388, ../../../../../sass/modules/tmproductlistgallery/views/css/tmproductlistgallery.scss */
  0% {
    opacity: 0;
  }

  /* line 392, ../../../../../sass/modules/tmproductlistgallery/views/css/tmproductlistgallery.scss */
  100% {
    opacity: 1;
  }
}
