@import "../../../../_theme_variables";

.category-block {
  margin-top: 15px;
  margin-bottom: 0;

  @media (min-width: $screen-xs-min) {
    margin-top: 30px;
  }

  @media (min-width: $screen-sm-min) {
    margin-top: 52px;
  }
  @media (max-width: $screen-xs-min - 1) {
    width: 100%;
  }

  .title_block {
    margin-bottom: 15px;
    padding: 0;
    font-size: 24px;

    .index & {
      text-align: left;
      text-transform: capitalize;
    }

    &:after {
      display: none;
    }
  }
  .bx-viewport > ul {
    margin: 0;
  }
  .bx-pager-link.active, .bx-pager-link:hover {
    background: #777 !important;
  }
  .bx-next {
    right: -5px;
  }
  .bx-prev {
    left: -5px;
  }

  ul.product_list.grid {
    > li {
      padding-bottom: 0;
      margin-top: 0;
      margin-bottom: 0;

      @media (min-width: $screen-xs-min) {
        margin-bottom: 30px;
      }

      .attributes {
        overflow: hidden;
        display: flex;
        font-size: 12px;
        font-family: $font-family;
        color: #acacac;

        > li {
          display: flex;
          height: 20px;
          align-items: flex-start;

          ul {
            margin-left: 3px;
          }

          &:first-child {
            margin-right: 5px;

            &::after {
              content: ', ';
            }
          }
        }
      }

      .product-container {
        display: flex;
        flex-wrap: wrap;
        text-align: left;

        @media (min-width: $screen-xs-min) {
          flex-wrap: nowrap;
        }

        .left-block {
          width: 100%;

          @media (min-width: $screen-xs-min) {
            width: 40%;
            max-width: 85px;
            margin-right: 20px;
          }

          @media (min-width: $screen-lg-min) {
            width: 20.99%;
          }
        }

        .right-block {
          width: 100%;
          padding: 0;

          @media (min-width: $screen-xs-min) {
            width: 60%;
          }

          @media (min-width: $screen-lg-min) {
            width: 79%;
          }

          > * {
            margin-bottom: 7px;
          }

          &:before {
            display: none;
          }
        }
        .content_price {
          margin-top: 0;
        }

        h5 {
          padding: 0;
          margin-top: 10px;

          @media (min-width: $screen-xs-min) {
            margin: 0;
          }

          @media (min-width: 1600px) {
            margin-top: 10px;
          }
        }
      }
    }

    + p {
      margin-left: -5px;
    }
  }

  .bx-wrapper {
    .bx-pager {
      position: static;
      text-align: left;
    }

    .bx-controls-direction {
      margin-top: 5%;

      a {
        display: inline-block;
        position: static;
        color: $base-text-color;
        height: auto;
        width: auto;

        & + a {
          margin-left: 10px;
        }
      }
    }
  }

  .slick-arrow {
    display: none !important;
  }

  .product-image-container .tmproductlistgallery.slideshow .tmproductlistgallery-thumbnails.use-carousel {
    width: 80%;

    .gallery-image-thumb span {
      padding: 2px;
    }
  }
}

.two-columns {
  .category-block {
    @media (min-width: $screen-lg-min) and (max-width: 1699px) {
      width: 50%;
      &:nth-child(even) {
        clear: left;
      }
    }
    .bx-wrapper .bx-controls-direction {
      @media (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
        margin-top: 20px;
      }
    }
  }
}

.three-columns {
  .category-block {
    @media (min-width: $screen-lg-min) {
      width: 50%;
      &:nth-child(even) {
        clear: left;
      }
    }
    .bx-wrapper .bx-controls-direction {
      @media (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
        margin-top: 20px;
      }
    }
  }
}

.col-xs-clear {
  @media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
    clear: left;
  }
}