/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
/*
* @package       change-grid-on-big-screen
* @description   make grid like in design
*
*/
/*
* @package       custom-scroll-bar
* @description   make you scroll bar pretty and better
*
*/
/*
* @subsection   icons
*
* @description
*/
/*
* @package       header icons title display mixin
* @description
*
*/
/*
* @package     bxSlider controls mixin
* @description
*
*/
/* line 4, ../../../../../sass/modules/tmlookbook/views/css/tmlookbook.scss */
#columns {
  padding-bottom: 0;
}

/* line 8, ../../../../../sass/modules/tmlookbook/views/css/tmlookbook.scss */
.tab-list {
  margin-top: 20px;
}

/* line 13, ../../../../../sass/modules/tmlookbook/views/css/tmlookbook.scss */
#tmlookbooks .thumbnail {
  position: relative;
  padding: 0;
  border: none;
}
/* line 18, ../../../../../sass/modules/tmlookbook/views/css/tmlookbook.scss */
#tmlookbooks .thumbnail .caption {
  position: absolute;
  bottom: 14.9%;
  left: 0;
  min-width: 307px;
  padding: 9px 25px;
  border-left: 0;
  background: #121212;
  color: #dedede;
  text-align: center;
  line-height: 1.5;
}
/* line 30, ../../../../../sass/modules/tmlookbook/views/css/tmlookbook.scss */
#tmlookbooks .thumbnail .caption .name {
  margin: 9px 0;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: 400;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
/* line 39, ../../../../../sass/modules/tmlookbook/views/css/tmlookbook.scss */
#tmlookbooks .thumbnail .caption .description {
  display: none;
}
/* line 43, ../../../../../sass/modules/tmlookbook/views/css/tmlookbook.scss */
#tmlookbooks .thumbnail .caption p {
  font-size: 14px;
}
/* line 47, ../../../../../sass/modules/tmlookbook/views/css/tmlookbook.scss */
#tmlookbooks .thumbnail + .thumbnail {
  margin-top: 50px;
}

/* line 53, ../../../../../sass/modules/tmlookbook/views/css/tmlookbook.scss */
.hotSpotWrap {
  position: relative;
  display: inline-block;
}
/* line 57, ../../../../../sass/modules/tmlookbook/views/css/tmlookbook.scss */
.hotSpotWrap .point {
  z-index: 2;
  position: absolute;
  width: 20px;
  height: 20px;
  margin-top: -13px;
  margin-left: -13px;
  border-radius: 100%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
@media (min-width: 1200px) {
  /* line 57, ../../../../../sass/modules/tmlookbook/views/css/tmlookbook.scss */
  .hotSpotWrap .point {
    width: 30px;
    height: 30px;
  }
}
/* line 73, ../../../../../sass/modules/tmlookbook/views/css/tmlookbook.scss */
.hotSpotWrap .point:before {
  content: '\e000';
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 20px;
  font-family: "fl-outicons";
  line-height: 1;
  transition: 0.3s;
}
@media (min-width: 1200px) {
  /* line 73, ../../../../../sass/modules/tmlookbook/views/css/tmlookbook.scss */
  .hotSpotWrap .point:before {
    font-size: 30px;
  }
}
/* line 89, ../../../../../sass/modules/tmlookbook/views/css/tmlookbook.scss */
.hotSpotWrap .point.active {
  z-index: 4;
}
/* line 92, ../../../../../sass/modules/tmlookbook/views/css/tmlookbook.scss */
.hotSpotWrap .point.active:before {
  transition: 0.3s;
  transform: rotate(45deg) translateZ(0);
}
/* line 99, ../../../../../sass/modules/tmlookbook/views/css/tmlookbook.scss */
.hotSpotWrap .point:hover::before {
  color: #f4d6d6;
}

/* line 107, ../../../../../sass/modules/tmlookbook/views/css/tmlookbook.scss */
.tm-lookbook-block .popover {
  z-index: 3;
  max-width: 150px;
  width: 150px;
  margin: 0;
  border: none;
  border-radius: 0;
  box-shadow: 0 2px 30px rgba(12, 12, 12, 0.06);
  transition: all 0.3s ease-in-out;
  transform: scale3d(0, 0, 1);
}
@media (min-width: 480px) {
  /* line 107, ../../../../../sass/modules/tmlookbook/views/css/tmlookbook.scss */
  .tm-lookbook-block .popover {
    max-width: 200px;
    width: 200px;
  }
}
@media (min-width: 1200px) {
  /* line 107, ../../../../../sass/modules/tmlookbook/views/css/tmlookbook.scss */
  .tm-lookbook-block .popover {
    max-width: 400px;
    width: 400px;
  }
}
/* line 128, ../../../../../sass/modules/tmlookbook/views/css/tmlookbook.scss */
.tm-lookbook-block .popover.right {
  top: 14px !important;
  left: 5px !important;
  transform-origin: top left;
}
@media only screen and (max-width: 479px) {
  /* line 128, ../../../../../sass/modules/tmlookbook/views/css/tmlookbook.scss */
  .tm-lookbook-block .popover.right {
    top: 5px !important;
    left: -3px !important;
  }
}
/* line 139, ../../../../../sass/modules/tmlookbook/views/css/tmlookbook.scss */
.tm-lookbook-block .popover.left {
  top: 14px !important;
  right: 9px !important;
  left: auto !important;
  margin-left: 14px;
  transform-origin: top right;
}
@media only screen and (max-width: 479px) {
  /* line 139, ../../../../../sass/modules/tmlookbook/views/css/tmlookbook.scss */
  .tm-lookbook-block .popover.left {
    top: 5px !important;
    right: 10px !important;
  }
}
/* line 152, ../../../../../sass/modules/tmlookbook/views/css/tmlookbook.scss */
.tm-lookbook-block .popover.in {
  transform: scale3d(1, 1, 1);
}
/* line 156, ../../../../../sass/modules/tmlookbook/views/css/tmlookbook.scss */
.tm-lookbook-block .popover .arrow {
  display: none;
}
/* line 160, ../../../../../sass/modules/tmlookbook/views/css/tmlookbook.scss */
.tm-lookbook-block .popover .daydeal-box {
  display: none;
}
/* line 164, ../../../../../sass/modules/tmlookbook/views/css/tmlookbook.scss */
.tm-lookbook-block .popover .popover-content {
  overflow: hidden;
  padding: 8px;
}
@media (min-width: 480px) {
  /* line 164, ../../../../../sass/modules/tmlookbook/views/css/tmlookbook.scss */
  .tm-lookbook-block .popover .popover-content {
    padding: 15px;
  }
}
@media (min-width: 1200px) {
  /* line 164, ../../../../../sass/modules/tmlookbook/views/css/tmlookbook.scss */
  .tm-lookbook-block .popover .popover-content {
    padding: 30px;
  }
}
/* line 176, ../../../../../sass/modules/tmlookbook/views/css/tmlookbook.scss */
.tm-lookbook-block .popover .popover-content .product-container {
  display: flex;
}
/* line 179, ../../../../../sass/modules/tmlookbook/views/css/tmlookbook.scss */
.tm-lookbook-block .popover .popover-content .product-container [itemprop='name'] {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
}
@media (min-width: 480px) {
  /* line 179, ../../../../../sass/modules/tmlookbook/views/css/tmlookbook.scss */
  .tm-lookbook-block .popover .popover-content .product-container [itemprop='name'] {
    margin-bottom: 5px;
  }
}
@media only screen and (max-width: 479px) {
  /* line 190, ../../../../../sass/modules/tmlookbook/views/css/tmlookbook.scss */
  .tm-lookbook-block .popover .popover-content .product-container .content_price .price, .tm-lookbook-block .popover .popover-content .product-container .content_price .old-price, .tm-lookbook-block .popover .popover-content .product-container .content_price .price-percent-reduction {
    font-size: 12px;
  }
}
@media (min-width: 1200px) {
  /* line 188, ../../../../../sass/modules/tmlookbook/views/css/tmlookbook.scss */
  .tm-lookbook-block .popover .popover-content .product-container .content_price {
    margin-bottom: 35px;
  }
}
/* line 199, ../../../../../sass/modules/tmlookbook/views/css/tmlookbook.scss */
.tm-lookbook-block .popover .popover-content .product-container .product-name {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}
@media only screen and (max-width: 479px) {
  /* line 199, ../../../../../sass/modules/tmlookbook/views/css/tmlookbook.scss */
  .tm-lookbook-block .popover .popover-content .product-container .product-name {
    font-size: 10px;
  }
}
@media (max-width: 1199px) {
  /* line 199, ../../../../../sass/modules/tmlookbook/views/css/tmlookbook.scss */
  .tm-lookbook-block .popover .popover-content .product-container .product-name {
    display: block;
    display: -webkit-box;
    max-height: 28px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
/* line 218, ../../../../../sass/modules/tmlookbook/views/css/tmlookbook.scss */
.tm-lookbook-block .popover .popover-content .product-container .product-price {
  font-size: 16px;
}
@media (max-width: 1199px) {
  /* line 221, ../../../../../sass/modules/tmlookbook/views/css/tmlookbook.scss */
  .tm-lookbook-block .popover .popover-content .product-container .left-block {
    width: 40%;
  }
}
/* line 225, ../../../../../sass/modules/tmlookbook/views/css/tmlookbook.scss */
.tm-lookbook-block .popover .popover-content .product-container .left-block .new-box, .tm-lookbook-block .popover .popover-content .product-container .left-block .sale-box {
  display: none;
}
/* line 228, ../../../../../sass/modules/tmlookbook/views/css/tmlookbook.scss */
.tm-lookbook-block .popover .popover-content .product-container .left-block .product_img_link {
  overflow: hidden;
  max-width: 82px;
  position: relative;
  display: block;
  background: #f4f4f4;
}
/* line 235, ../../../../../sass/modules/tmlookbook/views/css/tmlookbook.scss */
.tm-lookbook-block .popover .popover-content .product-container .right-block {
  margin-left: 8px;
}
@media (min-width: 480px) {
  /* line 235, ../../../../../sass/modules/tmlookbook/views/css/tmlookbook.scss */
  .tm-lookbook-block .popover .popover-content .product-container .right-block {
    margin-left: 20px;
  }
}
@media (max-width: 1199px) {
  /* line 235, ../../../../../sass/modules/tmlookbook/views/css/tmlookbook.scss */
  .tm-lookbook-block .popover .popover-content .product-container .right-block {
    width: 60%;
  }
}
@media (min-width: 1200px) {
  /* line 235, ../../../../../sass/modules/tmlookbook/views/css/tmlookbook.scss */
  .tm-lookbook-block .popover .popover-content .product-container .right-block {
    margin-top: 15px;
  }
}
/* line 251, ../../../../../sass/modules/tmlookbook/views/css/tmlookbook.scss */
.tm-lookbook-block .popover .popover-content .product-container .product_link {
  display: none;
}
@media (min-width: 1200px) {
  /* line 251, ../../../../../sass/modules/tmlookbook/views/css/tmlookbook.scss */
  .tm-lookbook-block .popover .popover-content .product-container .product_link {
    display: inline-block;
    padding-right: 25px;
    padding-left: 25px;
    letter-spacing: 0.06em;
    font-weight: 700;
    font-size: 16px;
  }
}

/* line 268, ../../../../../sass/modules/tmlookbook/views/css/tmlookbook.scss */
.tm-lookbook-block {
  clear: both;
}
@media (min-width: 1200px) {
  /* line 271, ../../../../../sass/modules/tmlookbook/views/css/tmlookbook.scss */
  .module-tmlookbook-pages .tm-lookbook-block {
    margin-top: 50px;
  }
}
/* line 279, ../../../../../sass/modules/tmlookbook/views/css/tmlookbook.scss */
.tm-lookbook-block.tm-lookbook-top .lookbook-tab > div {
  display: block;
}
/* line 283, ../../../../../sass/modules/tmlookbook/views/css/tmlookbook.scss */
.tm-lookbook-block.tm-lookbook-top .lookbook-tab .product_list {
  margin-left: 0;
  margin-right: 0;
}
/* line 289, ../../../../../sass/modules/tmlookbook/views/css/tmlookbook.scss */
.tm-lookbook-block.tm-lookbook-top .hotSpotWrap {
  display: block !important;
  width: 100%;
  margin-bottom: 20px;
}
/* line 294, ../../../../../sass/modules/tmlookbook/views/css/tmlookbook.scss */
.tm-lookbook-block.tm-lookbook-top .hotSpotWrap > img {
  width: 100% !important;
}

@media (min-width: 768px) {
  /* line 302, ../../../../../sass/modules/tmlookbook/views/css/tmlookbook.scss */
  .lookbook-tab > div {
    display: flex;
  }
}
/* line 307, ../../../../../sass/modules/tmlookbook/views/css/tmlookbook.scss */
.lookbook-tab > div > div:first-child {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  /* line 307, ../../../../../sass/modules/tmlookbook/views/css/tmlookbook.scss */
  .lookbook-tab > div > div:first-child {
    margin-bottom: 0;
  }
}
@media (min-width: 1300px) {
  /* line 316, ../../../../../sass/modules/tmlookbook/views/css/tmlookbook.scss */
  .one-column .lookbook-tab > div > div:first-child .hotSpotWrap, .one-column .lookbook-tab > div > div:first-child {
    display: flex;
  }
}
/* line 324, ../../../../../sass/modules/tmlookbook/views/css/tmlookbook.scss */
.lookbook-tab .product_list {
  clear: both;
  margin-top: 25px;
  margin-right: -15px;
  margin-left: -15px;
}
@media (min-width: 1640px) {
  /* line 324, ../../../../../sass/modules/tmlookbook/views/css/tmlookbook.scss */
  .lookbook-tab .product_list {
    margin-right: -10px;
    margin-left: -10px;
  }
}
@media only screen and (max-width: 479px) {
  /* line 324, ../../../../../sass/modules/tmlookbook/views/css/tmlookbook.scss */
  .lookbook-tab .product_list {
    display: flex;
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 479px) {
  /* line 339, ../../../../../sass/modules/tmlookbook/views/css/tmlookbook.scss */
  .lookbook-tab .product_list > li {
    width: 50%;
    margin-bottom: 20px;
  }
}
/* line 346, ../../../../../sass/modules/tmlookbook/views/css/tmlookbook.scss */
.lookbook-tab .product_list .product-container {
  position: relative;
  text-align: center;
}
/* line 350, ../../../../../sass/modules/tmlookbook/views/css/tmlookbook.scss */
.lookbook-tab .product_list .product-container .product_link {
  display: none;
}
/* line 354, ../../../../../sass/modules/tmlookbook/views/css/tmlookbook.scss */
.lookbook-tab .product_list .product-container .product_img_link {
  display: block;
  position: relative;
  display: block;
  background: #f4f4f4;
}
/* line 361, ../../../../../sass/modules/tmlookbook/views/css/tmlookbook.scss */
.lookbook-tab .product_list .daydeal-box {
  display: none;
}
@media (min-width: 992px) {
  /* line 361, ../../../../../sass/modules/tmlookbook/views/css/tmlookbook.scss */
  .lookbook-tab .product_list .daydeal-box {
    display: block;
  }
}

/* line 371, ../../../../../sass/modules/tmlookbook/views/css/tmlookbook.scss */
.tab-list {
  margin-bottom: 20px;
}
/* line 373, ../../../../../sass/modules/tmlookbook/views/css/tmlookbook.scss */
.tab-list > * {
  display: block;
}
/* line 376, ../../../../../sass/modules/tmlookbook/views/css/tmlookbook.scss */
.tab-list > * a {
  display: block;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
/* line 381, ../../../../../sass/modules/tmlookbook/views/css/tmlookbook.scss */
.tab-list > * a.active {
  box-shadow: 0 0 10px #121212;
}

/* line 389, ../../../../../sass/modules/tmlookbook/views/css/tmlookbook.scss */
.lookbook-default .tab-list {
  margin-top: 0;
  margin-bottom: 0;
}
/* line 393, ../../../../../sass/modules/tmlookbook/views/css/tmlookbook.scss */
.lookbook-default .tab-list > * {
  display: block;
}
/* line 396, ../../../../../sass/modules/tmlookbook/views/css/tmlookbook.scss */
.lookbook-default .tab-list > *:not(:first-child, :nth-child(2)) {
  margin-top: 20px;
}

/* line 404, ../../../../../sass/modules/tmlookbook/views/css/tmlookbook.scss */
.product-lookbooks {
  display: flex;
  align-items: center;
}
/* line 408, ../../../../../sass/modules/tmlookbook/views/css/tmlookbook.scss */
.product-lookbooks .lookbook-popover {
  width: 40px;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
/* line 413, ../../../../../sass/modules/tmlookbook/views/css/tmlookbook.scss */
.product-lookbooks .lookbook-popover:before {
  font-family: "fl-outicons";
  content: "\e041";
  display: inline-block;
  font-weight: normal;
  margin: 0;
  font-size: 24px;
  line-height: 1;
  text-align: center;
}
/* line 421, ../../../../../sass/modules/tmlookbook/views/css/tmlookbook.scss */
.product-lookbooks .lookbook-popover label {
  display: none;
}
/* line 426, ../../../../../sass/modules/tmlookbook/views/css/tmlookbook.scss */
.product-lookbooks .popover-content {
  text-align: center;
}
/* line 430, ../../../../../sass/modules/tmlookbook/views/css/tmlookbook.scss */
.product-lookbooks ul {
  display: inline-block;
  margin-bottom: 0;
}
/* line 435, ../../../../../sass/modules/tmlookbook/views/css/tmlookbook.scss */
.product-lookbooks ul li a {
  display: inline-block;
  color: #333;
  text-transform: capitalize;
  font-weight: 300;
}
/* line 441, ../../../../../sass/modules/tmlookbook/views/css/tmlookbook.scss */
.product-lookbooks ul li a:hover {
  text-decoration: underline;
}
