/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
/*
* @package       change-grid-on-big-screen
* @description   make grid like in design
*
*/
/*
* @package       custom-scroll-bar
* @description   make you scroll bar pretty and better
*
*/
/*
* @subsection   icons
*
* @description
*/
/*
* @package       header icons title display mixin
* @description
*
*/
/*
* @package     bxSlider controls mixin
* @description
*
*/
/* line 4, ../../../sass/modules/productcomments/productcomments.scss */
.star {
  display: block;
  position: relative;
  top: -1px;
  float: left;
  width: 17px;
  overflow: hidden;
  font-size: 16px;
  font-weight: normal;
}
/* line 14, ../../../sass/modules/productcomments/productcomments.scss */
.star a {
  display: block;
  position: absolute;
  text-indent: -5000px;
}
/* line 20, ../../../sass/modules/productcomments/productcomments.scss */
.star:after {
  font-family: "FontAwesome";
  content: "\f006";
  display: inline-block;
  font-weight: normal;
  color: #121212;
  font-size: 13px;
}
/* line 26, ../../../sass/modules/productcomments/productcomments.scss */
.star.star_on:after {
  font-family: "FontAwesome";
  content: "\f005";
  display: inline-block;
  font-weight: normal;
  color: #fbbc05;
  font-size: 13px;
}
/* line 32, ../../../sass/modules/productcomments/productcomments.scss */
.star.star.star_hover {
  cursor: pointer;
}
/* line 34, ../../../sass/modules/productcomments/productcomments.scss */
.star.star.star_hover:after {
  font-family: "FontAwesome";
  content: "\f005";
  display: inline-block;
  font-weight: normal;
  color: #ff514d;
  font-size: 13px;
}

/* line 42, ../../../sass/modules/productcomments/productcomments.scss */
#product_comments_block_extra {
  color: #f4d6d6;
}
/* line 45, ../../../sass/modules/productcomments/productcomments.scss */
#product_comments_block_extra .comments_note {
  display: inline-block;
  vertical-align: middle;
  margin-right: 34px;
}
/* line 49, ../../../sass/modules/productcomments/productcomments.scss */
#product_comments_block_extra .comments_note span {
  display: inline-block;
  vertical-align: middle;
  margin-right: 7px;
}
/* line 54, ../../../sass/modules/productcomments/productcomments.scss */
#product_comments_block_extra .comments_note .star_content {
  padding-top: 1px;
  display: inline-block;
  vertical-align: middle;
}
/* line 60, ../../../sass/modules/productcomments/productcomments.scss */
#product_comments_block_extra .comments_advices {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}

/* line 68, ../../../sass/modules/productcomments/productcomments.scss */
.comments_advices li {
  display: inline-block;
  line-height: 30px;
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 68, ../../../sass/modules/productcomments/productcomments.scss */
  .comments_advices li {
    display: block;
    line-height: 20px;
  }
}
/* line 77, ../../../sass/modules/productcomments/productcomments.scss */
.comments_advices a {
  color: #626262;
  font-weight: 400;
  position: relative;
  padding-left: 0;
  line-height: 18px;
  display: inline-block;
}
/* line 85, ../../../sass/modules/productcomments/productcomments.scss */
.comments_advices a#send_friend_button {
  padding-left: 22px;
}
/* line 89, ../../../sass/modules/productcomments/productcomments.scss */
.comments_advices a:before {
  font-family: "FontAwesome";
  color: #626262;
  font-size: 15px;
  line-height: 18px;
  position: absolute;
  top: 0;
  left: 1px;
  font-weight: normal;
}
/* line 99, ../../../sass/modules/productcomments/productcomments.scss */
.comments_advices a:hover {
  color: #f4d6d6;
}

/* pop-in add grade/advice ********************************************************************* */
/* line 106, ../../../sass/modules/productcomments/productcomments.scss */
#fancybox-wrap {
  width: 700px;
}

/* line 110, ../../../sass/modules/productcomments/productcomments.scss */
#fancybox-content {
  width: 700px;
  border-width: 0;
}

/* line 115, ../../../sass/modules/productcomments/productcomments.scss */
#new_comment_form {
  overflow: hidden;
  color: #3f3f3f;
  text-align: left;
}
/* line 120, ../../../sass/modules/productcomments/productcomments.scss */
#new_comment_form h2 {
  margin-bottom: 10px;
  font: 700 35px/1.73333 "Poiret One", sans-serif;
}
/* line 124, ../../../sass/modules/productcomments/productcomments.scss */
#new_comment_form .title {
  padding: 10px;
  font-size: 13px;
  color: #dedede;
  text-transform: uppercase;
  background: #121212;
}
/* line 131, ../../../sass/modules/productcomments/productcomments.scss */
#new_comment_form .product_name strong {
  font-weight: normal;
  color: #f4d6d6;
}
/* line 135, ../../../sass/modules/productcomments/productcomments.scss */
#new_comment_form ul.grade_content {
  list-style-type: none;
  margin: 0 0 20px 0;
}
/* line 138, ../../../sass/modules/productcomments/productcomments.scss */
#new_comment_form ul.grade_content li {
  width: 50%;
}
/* line 141, ../../../sass/modules/productcomments/productcomments.scss */
#new_comment_form ul.grade_content span {
  display: inline-block;
  padding: 0 10px;
  width: 150px;
  font-weight: bold;
}
/* line 147, ../../../sass/modules/productcomments/productcomments.scss */
#new_comment_form ul.grade_content .cancel {
  margin-right: 5px;
}
/* line 151, ../../../sass/modules/productcomments/productcomments.scss */
#new_comment_form .product {
  background-color: #f4f4f4;
  padding: 30px;
}
@media (max-width: 767px) {
  /* line 151, ../../../sass/modules/productcomments/productcomments.scss */
  #new_comment_form .product {
    padding-right: 15px;
  }
}
/* line 157, ../../../sass/modules/productcomments/productcomments.scss */
#new_comment_form .product img {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}
/* line 163, ../../../sass/modules/productcomments/productcomments.scss */
#new_comment_form .new_comment_form_content {
  background: white;
  border: 1px solid #e1e4e2;
  padding: 14px 18px 13px;
  margin: 0 0 30px 0;
  font: normal 13px/23px "Poiret One", sans-serif;
  -webkit-border-radius: 0px;
  -khtml-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  margin-bottom: 0;
  border: none;
}
@media (min-width: 1200px) {
  /* line 163, ../../../sass/modules/productcomments/productcomments.scss */
  #new_comment_form .new_comment_form_content {
    padding: 30px;
  }
}
@media (max-width: 767px) {
  /* line 163, ../../../sass/modules/productcomments/productcomments.scss */
  #new_comment_form .new_comment_form_content {
    padding-left: 35px;
    padding-right: 35px;
    margin-left: 0;
  }
}
/* line 174, ../../../sass/modules/productcomments/productcomments.scss */
#new_comment_form .new_comment_form_content .intro_form {
  padding-bottom: 10px;
  font-weight: bold;
  font-size: 12px;
}
/* line 181, ../../../sass/modules/productcomments/productcomments.scss */
#new_comment_form input,
#new_comment_form textarea {
  width: 100%;
  background: #dedede;
}
/* line 185, ../../../sass/modules/productcomments/productcomments.scss */
#new_comment_form textarea {
  height: 80px;
}
/* line 188, ../../../sass/modules/productcomments/productcomments.scss */
#new_comment_form input {
  margin-bottom: 10px;
}
/* line 191, ../../../sass/modules/productcomments/productcomments.scss */
#new_comment_form .submit {
  margin-top: 20px;
  padding: 0;
  font-size: 13px;
  text-align: right;
}
/* line 198, ../../../sass/modules/productcomments/productcomments.scss */
#new_comment_form #criterions_list {
  position: relative;
  padding-bottom: 5px;
  list-style-type: none;
}
/* line 203, ../../../sass/modules/productcomments/productcomments.scss */
#new_comment_form #criterions_list::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-bottom: 2px solid #f4f4f4;
}
/* line 213, ../../../sass/modules/productcomments/productcomments.scss */
#new_comment_form #criterions_list li {
  margin-bottom: 10px;
}
/* line 216, ../../../sass/modules/productcomments/productcomments.scss */
#new_comment_form #criterions_list label {
  float: left;
  margin: 0 10px 0 0;
}
/* line 220, ../../../sass/modules/productcomments/productcomments.scss */
#new_comment_form #criterions_list .star_content {
  float: left;
}
/* line 224, ../../../sass/modules/productcomments/productcomments.scss */
#new_comment_form #new_comment_form_footer {
  margin-top: 20px;
  font-size: 12px;
}

/* TAB COMMENTS ******************************************************************************** */
/* line 232, ../../../sass/modules/productcomments/productcomments.scss */
.page-product-box .container {
  max-width: 100%;
}
@media (max-width: 991px) {
  /* line 232, ../../../sass/modules/productcomments/productcomments.scss */
  .page-product-box .container {
    padding: 0;
  }
}

/* line 239, ../../../sass/modules/productcomments/productcomments.scss */
#product_comments_block_tab {
  margin: 0 0 20px;
}
/* line 243, ../../../sass/modules/productcomments/productcomments.scss */
#product_comments_block_tab .open-comment-form span {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1;
  vertical-align: middle;
}
/* line 252, ../../../sass/modules/productcomments/productcomments.scss */
#product_comments_block_tab .align_center {
  padding-top: 30px;
}
/* line 255, ../../../sass/modules/productcomments/productcomments.scss */
#product_comments_block_tab div.comment {
  position: relative;
  margin: 0;
  padding: 3.07% 0;
  display: flex;
}
/* line 262, ../../../sass/modules/productcomments/productcomments.scss */
#product_comments_block_tab div.comment:first-child {
  padding-top: 0;
}
/* line 266, ../../../sass/modules/productcomments/productcomments.scss */
#product_comments_block_tab div.comment::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  border-bottom: 2px solid #f4f4f4;
}
/* line 277, ../../../sass/modules/productcomments/productcomments.scss */
#product_comments_block_tab div.comment .comment_author .star_content {
  display: flex;
  margin: 0;
  vertical-align: middle;
}
/* line 282, ../../../sass/modules/productcomments/productcomments.scss */
#product_comments_block_tab div.comment .comment_author .star_content > span {
  margin-right: 10px;
}
/* line 287, ../../../sass/modules/productcomments/productcomments.scss */
#product_comments_block_tab div.comment .comment_details {
  overflow: hidden;
  color: #121212;
}
@media (max-width: 991px) {
  /* line 287, ../../../sass/modules/productcomments/productcomments.scss */
  #product_comments_block_tab div.comment .comment_details {
    border: none;
  }
}
/* line 295, ../../../sass/modules/productcomments/productcomments.scss */
#product_comments_block_tab div.comment .comment_details .title_block {
  margin-bottom: 3px;
  font: normal 13px/18px "Poiret One", sans-serif;
  font-weight: 500;
}
/* line 301, ../../../sass/modules/productcomments/productcomments.scss */
#product_comments_block_tab div.comment .comment_details ul {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}
/* line 306, ../../../sass/modules/productcomments/productcomments.scss */
#product_comments_block_tab div.comment .comment_details ul li {
  width: 100%;
  margin-bottom: 10px;
}
/* line 312, ../../../sass/modules/productcomments/productcomments.scss */
#product_comments_block_tab div.comment .comment_details li {
  clear: right;
}
/* line 315, ../../../sass/modules/productcomments/productcomments.scss */
#product_comments_block_tab div.comment .comment_details li .link {
  border: none;
  background: transparent;
}
/* line 320, ../../../sass/modules/productcomments/productcomments.scss */
#product_comments_block_tab div.comment .comment_details .useful-text {
  margin: 0 10px 10px 0;
}
/* line 323, ../../../sass/modules/productcomments/productcomments.scss */
#product_comments_block_tab div.comment .comment_details .btn {
  min-width: 50px;
  margin-right: 3px;
}
/* line 330, ../../../sass/modules/productcomments/productcomments.scss */
#product_comments_block_tab .comment_author_infos {
  clear: both;
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  margin-bottom: 10px;
}
/* line 337, ../../../sass/modules/productcomments/productcomments.scss */
#product_comments_block_tab .comment_author_infos strong, #product_comments_block_tab .comment_author_infos span {
  display: inline-block;
  margin-right: 10px;
  font-family: "Poiret One", sans-serif;
  font-size: 12px;
  color: #acacac;
}
/* line 345, ../../../sass/modules/productcomments/productcomments.scss */
#product_comments_block_tab .comment_author_infos strong {
  font-family: "Poiret One", sans-serif;
  color: #121212;
}
@media (min-width: 1200px) {
  /* line 345, ../../../sass/modules/productcomments/productcomments.scss */
  #product_comments_block_tab .comment_author_infos strong {
    font-size: 16px;
  }
}
/* line 353, ../../../sass/modules/productcomments/productcomments.scss */
#product_comments_block_tab .comment_author_infos em {
  font-size: 14px;
  display: block;
  padding-top: 12px;
}
/* line 359, ../../../sass/modules/productcomments/productcomments.scss */
#product_comments_block_tab a {
  text-decoration: none;
  font-weight: bold;
}
/* line 364, ../../../sass/modules/productcomments/productcomments.scss */
#product_comments_block_tab span.report_btn {
  cursor: pointer;
}
@media (max-width: 991px) {
  /* line 239, ../../../sass/modules/productcomments/productcomments.scss */
  #product_comments_block_tab {
    font-size: 12px;
  }
  /* line 373, ../../../sass/modules/productcomments/productcomments.scss */
  #product_comments_block_tab .comment_author_infos em {
    font-size: 12px;
  }
}

/* line 379, ../../../sass/modules/productcomments/productcomments.scss */
.fancybox-skin {
  background: #dedede;
}
