/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
/*
* @section      Page Product Styles
*/
@media (min-width: 1600px) {
  /* line 7, ../../sass/product_pages/default.scss */
  .product-information .tab-content-default {
    padding-right: 50px;
  }
}
/* line 12, ../../sass/product_pages/default.scss */
.product-information .tab-content-default > div {
  display: block;
  padding: 20px 0;
  animation: fadeIn 0.2s 0.2s ease both;
}
/* line 19, ../../sass/product_pages/default.scss */
.product-information h3 {
  display: block;
  margin: 0;
  padding: 10px 0;
  border: none;
  background: #dedede;
  font: 700 35px/1.73333 "Poiret One", sans-serif;
  font-size: 18px;
}
@media (min-width: 1200px) {
  /* line 19, ../../sass/product_pages/default.scss */
  .product-information h3 {
    font-size: 25px;
  }
}
@media (min-width: 768px) and (max-width: 991px), (min-width: 992px) and (max-width: 1199px), (min-width: 480px) and (max-width: 767px) {
  /* line 19, ../../sass/product_pages/default.scss */
  .product-information h3 {
    font-size: 20px;
  }
}
@media only screen and (max-width: 479px) {
  /* line 19, ../../sass/product_pages/default.scss */
  .product-information h3 {
    border-bottom: 2px solid #f4f4f4;
  }
}
@media (min-width: 1600px) {
  /* line 19, ../../sass/product_pages/default.scss */
  .product-information h3 {
    font-size: 30px;
  }
}
/* line 47, ../../sass/product_pages/default.scss */
.product-information h3:first-child + div {
  display: block;
}
/* line 51, ../../sass/product_pages/default.scss */
.product-information h3.active {
  color: #f4d6d6;
}
@media only screen and (max-width: 991px) {
  /* line 55, ../../sass/product_pages/default.scss */
  .two-columns .product-information h3 {
    border-bottom: 2px solid #f4f4f4;
  }
}
/* line 61, ../../sass/product_pages/default.scss */
.three-columns .product-information h3 {
  border-bottom: 2px solid #f4f4f4;
}

/* line 67, ../../sass/product_pages/default.scss */
.primary_block {
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  /* line 67, ../../sass/product_pages/default.scss */
  .primary_block {
    margin-bottom: 30px;
  }
}
@media (min-width: 1200px) {
  /* line 67, ../../sass/product_pages/default.scss */
  .primary_block {
    margin-bottom: 50px;
  }
}
@media (min-width: 1600px) {
  /* line 67, ../../sass/product_pages/default.scss */
  .primary_block {
    margin-bottom: 100px;
  }
}

/* line 84, ../../sass/product_pages/default.scss */
.reviews-block h3 {
  cursor: default;
}

@media (min-width: 992px) {
  /* line 91, ../../sass/product_pages/default.scss */
  .table-data-sheet tr td:first-child,
  table.table-product-discounts tr td:first-child {
    width: 50%;
  }
}
@media (min-width: 768px) {
  /* line 95, ../../sass/product_pages/default.scss */
  .table-data-sheet tr td:first-child .one-column,
  table.table-product-discounts tr td:first-child .one-column {
    width: 50%;
  }
}
