/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
/*
* @section      Page Product Styles
*/
/* line 7, ../../sass/product_pages/product_2.scss */
#primary-block {
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  /* line 7, ../../sass/product_pages/product_2.scss */
  #primary-block {
    padding-bottom: 50px;
  }
}
/* line 14, ../../sass/product_pages/product_2.scss */
#primary-block #left-column {
  position: relative;
  margin-bottom: 0;
}
/* line 17, ../../sass/product_pages/product_2.scss */
#primary-block #left-column #thumbs_list {
  margin-bottom: 0;
  overflow: visible;
}
/* line 20, ../../sass/product_pages/product_2.scss */
#primary-block #left-column #thumbs_list > li {
  margin-bottom: 10px;
}
@media (min-width: 1200px) {
  /* line 20, ../../sass/product_pages/product_2.scss */
  #primary-block #left-column #thumbs_list > li {
    margin-bottom: 20px;
  }
}
/* line 27, ../../sass/product_pages/product_2.scss */
#primary-block #left-column #thumbs_list > li:last-child {
  margin-bottom: 0;
}
/* line 32, ../../sass/product_pages/product_2.scss */
#primary-block #left-column #thumbs_list > li a img {
  opacity: 1;
}
/* line 39, ../../sass/product_pages/product_2.scss */
#primary-block #left-column .bx-wrapper .bx-controls-direction a {
  width: 40px;
  height: 40px;
  margin-top: -20px;
  top: 50%;
  text-align: center;
}
/* line 46, ../../sass/product_pages/product_2.scss */
#primary-block #left-column .bx-wrapper .bx-controls-direction a.bx-prev {
  left: 5px;
}
/* line 49, ../../sass/product_pages/product_2.scss */
#primary-block #left-column .bx-wrapper .bx-controls-direction a.bx-next {
  right: 5px;
}
/* line 52, ../../sass/product_pages/product_2.scss */
#primary-block #left-column .bx-wrapper .bx-controls-direction a:hover {
  color: #121212;
}
/* line 57, ../../sass/product_pages/product_2.scss */
#primary-block #right-column {
  position: relative;
  padding-left: 20px;
}
@media (max-width: 767px) {
  /* line 57, ../../sass/product_pages/product_2.scss */
  #primary-block #right-column {
    margin-top: 30px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 64, ../../sass/product_pages/product_2.scss */
  #primary-block #right-column .buttons_bottom_block {
    clear: left;
  }
  /* line 67, ../../sass/product_pages/product_2.scss */
  #primary-block #right-column .buttons_bottom_block + .buttons_bottom_block {
    clear: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 72, ../../sass/product_pages/product_2.scss */
  #primary-block #right-column #product_payment_logos {
    float: left;
  }
}
/* line 78, ../../sass/product_pages/product_2.scss */
#primary-block .fixed {
  position: fixed;
}
/* line 82, ../../sass/product_pages/product_2.scss */
#primary-block .label-danger {
  background: #fffbca;
}
/* line 86, ../../sass/product_pages/product_2.scss */
#primary-block .tab-content {
  margin-top: 29px;
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 93, ../../sass/product_pages/product_2.scss */
  #primary-block .product-custom-tab-content .table table th {
    font-size: 12px;
    height: 60px;
    max-width: 90px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 102, ../../sass/product_pages/product_2.scss */
  #primary-block .product-custom-tab-content table {
    font-size: 12px;
  }
}

/* line 110, ../../sass/product_pages/product_2.scss */
.product-information {
  margin-top: 6.77vw;
}
@media (min-width: 1200px) {
  /* line 113, ../../sass/product_pages/product_2.scss */
  .three-columns .product-information {
    margin-top: 30px;
  }
}
@media (min-width: 768px) and (min-width: 992px) and (max-width: 1199px), (min-width: 768px) and (min-width: 768px) and (max-width: 991px) {
  /* line 119, ../../sass/product_pages/product_2.scss */
  .product-information .product-info-tabs {
    flex-wrap: wrap;
    padding-bottom: 15px;
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  /* line 130, ../../sass/product_pages/product_2.scss */
  .product-information .product-info-tabs > li:nth-last-child(n + 5):first-child a, .product-information .product-info-tabs > li:nth-last-child(n+5):first-child ~ li a {
    font-size: 90%;
  }
  /* line 134, ../../sass/product_pages/product_2.scss */
  .three-columns .product-information .product-info-tabs > li:nth-last-child(n + 5):first-child a, .three-columns .product-information .product-info-tabs > li:nth-last-child(n+5):first-child ~ li a {
    font-size: 70%;
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  /* line 143, ../../sass/product_pages/product_2.scss */
  .product-information .product-info-tabs > li:nth-last-child(n + 6):first-child a, .product-information .product-info-tabs > li:nth-last-child(n+6):first-child ~ li a {
    font-size: 80%;
  }
  /* line 147, ../../sass/product_pages/product_2.scss */
  .three-columns .product-information .product-info-tabs > li:nth-last-child(n + 6):first-child a, .three-columns .product-information .product-info-tabs > li:nth-last-child(n+6):first-child ~ li a {
    font-size: 55%;
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  /* line 154, ../../sass/product_pages/product_2.scss */
  .product-information .product-info-tabs > li a {
    padding: 15px 22px;
  }
  /* line 158, ../../sass/product_pages/product_2.scss */
  .three-columns .product-information .product-info-tabs > li a {
    padding: 10px 15px;
  }
}
@media (min-width: 768px) and (min-width: 992px) and (max-width: 1199px), (min-width: 768px) and (min-width: 768px) and (max-width: 991px) {
  /* line 164, ../../sass/product_pages/product_2.scss */
  .product-information .product-info-tabs > li.active {
    box-shadow: inset 0 0 0 2px #f4f4f4;
  }
}

/* line 176, ../../sass/product_pages/product_2.scss */
.pb-left-column #image-block {
  background: transparent;
}
/* line 179, ../../sass/product_pages/product_2.scss */
.pb-left-column #image-block #views_block-1, .pb-left-column #image-block #views_block {
  position: static;
}

@media (min-width: 1200px) {
  /* line 185, ../../sass/product_pages/product_2.scss */
  .breadcrumb {
    margin-bottom: 45px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 193, ../../sass/product_pages/product_2.scss */
  #attributes fieldset > label {
    width: 100%;
    margin-bottom: 5px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 201, ../../sass/product_pages/product_2.scss */
  #attributes fieldset .attribute_list li {
    margin-bottom: 5px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 212, ../../sass/product_pages/product_2.scss */
  #usefull_link_block #product_comments_block_extra > * {
    margin-bottom: 10px;
  }
}

@media (min-width: 1600px) {
  /* line 222, ../../sass/product_pages/product_2.scss */
  .one-column #pr-body {
    margin-left: 33px;
  }
}

@media (max-width: 767px) {
  /* line 229, ../../sass/product_pages/product_2.scss */
  .zoomContainer {
    z-index: -1 !important;
  }
}
