/*
Uniform Theme: Uniform Default
Version: 1.8
By: Josh Pyles
License: MIT License
---
For use with the Uniform plugin:
http://uniformjs.com/

*/
/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
/*
* @package       change-grid-on-big-screen
* @description   make grid like in design
*
*/
/*
* @package       custom-scroll-bar
* @description   make you scroll bar pretty and better
*
*/
/*
* @subsection   icons
*
* @description
*/
/*
* @package       header icons title display mixin
* @description
*
*/
/*
* @package     bxSlider controls mixin
* @description
*
*/
/* General settings */
/* line 176, ../../sass/autoload/_uniform._base.scss */
div.selector, div.selector span, div.uploader, div.uploader span.action, div.button, div.button span {
  background-image: url("../../img/jquery/uniform/sprite.png");
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased;
}
/* line 186, ../../sass/autoload/_uniform._base.scss */
div.selector, div.checker, div.button, div.radio, div.uploader {
  vertical-align: middle;
  /* Keeping this as :focus to remove browser styles */
}
/* line 191, ../../sass/autoload/_uniform._base.scss */
div.selector:focus, div.checker:focus, div.button:focus, div.radio:focus, div.uploader:focus {
  outline: 0;
}
/* line 201, ../../sass/autoload/_uniform._base.scss */
div.selector, div.selector *, div.radio, div.radio *, div.checker, div.checker *, div.uploader, div.uploader *, div.button, div.button * {
  margin: 0;
  padding: 0;
}

/* line 208, ../../sass/autoload/_uniform._base.scss */
.highContrastDetect {
  background: url("../../../img/jquery/uniform/bg-input.png") repeat-x 0 0;
  width: 0;
  height: 0;
}

/* Input & Textarea */
/* line 218, ../../sass/autoload/_uniform._base.scss */
input.uniform-input,
select.uniform-multiselect,
textarea.uniform {
  padding: 3px;
  background: white;
  outline: 0;
}

/* Remove default webkit and possible mozilla .search styles.
 * Keeping this as :active to remove browser styles */
/* line 232, ../../sass/autoload/_uniform._base.scss */
div.checker input,
input[type="search"],
input[type="search"]:active {
  -moz-appearance: none;
  -webkit-appearance: none;
}

/* Select */
/* line 238, ../../sass/autoload/_uniform._base.scss */
div.selector {
  line-height: 36px;
  height: 36px;
  padding: 0 0 0 10px;
  position: relative;
  overflow: hidden;
  background: #f4f4f4;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  font-size: 12px;
}
@media (min-width: 1200px) {
  /* line 238, ../../sass/autoload/_uniform._base.scss */
  div.selector {
    line-height: 56px;
    height: 56px;
  }
}
/* line 252, ../../sass/autoload/_uniform._base.scss */
div.selector span {
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  background: none;
  height: 34px;
  line-height: 34px;
  padding-right: 36px;
  cursor: pointer;
  width: 100%;
  display: block;
  color: #3f3f3f;
}
@media (min-width: 1200px) {
  /* line 252, ../../sass/autoload/_uniform._base.scss */
  div.selector span {
    line-height: 54px;
    height: 54px;
  }
}
/* line 268, ../../sass/autoload/_uniform._base.scss */
div.selector span:after {
  font-family: "FontAwesome";
  content: "\f107";
  display: inline-block;
  font-weight: normal;
  position: absolute;
  right: 1px;
  top: 1px;
  text-align: center;
  height: 32px;
  width: 36px;
  font-size: 16px;
  line-height: 30px;
  color: #3f3f3f;
  background: #f4f4f4;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
@media (min-width: 1200px) {
  /* line 268, ../../sass/autoload/_uniform._base.scss */
  div.selector span:after {
    width: 36px;
    height: 52px;
    line-height: 52px;
  }
}
/* line 290, ../../sass/autoload/_uniform._base.scss */
div.selector.fixedWidth {
  width: 190px;
}
/* line 292, ../../sass/autoload/_uniform._base.scss */
div.selector.fixedWidth span {
  width: 150px;
}
/* line 297, ../../sass/autoload/_uniform._base.scss */
div.selector select {
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  border: none;
  background: none;
  position: absolute;
  height: 36px;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 12px;
}
@media (min-width: 1200px) {
  /* line 297, ../../sass/autoload/_uniform._base.scss */
  div.selector select {
    height: 56px;
  }
}
/* line 313, ../../sass/autoload/_uniform._base.scss */
div.selector.active span:after {
  color: black;
  top: 1px;
}
/* line 322, ../../sass/autoload/_uniform._base.scss */
div.selector.hover span:after, div.selector.focus span:after {
  color: black;
  top: 1px;
}
/* line 330, ../../sass/autoload/_uniform._base.scss */
div.selector.hover.active span:after, div.selector.focus.active span:after {
  color: black;
  top: 1px;
}
/* line 340, ../../sass/autoload/_uniform._base.scss */
div.selector.disabled span:after, div.selector.disabled.active span:after {
  color: black;
  top: 1px;
}

/* Checkbox */
/* line 350, ../../sass/autoload/_uniform._base.scss */
div.checker {
  position: relative;
}
/* line 353, ../../sass/autoload/_uniform._base.scss */
div.checker, div.checker span {
  width: 15px;
  height: 15px;
}
/* line 357, ../../sass/autoload/_uniform._base.scss */
div.checker input {
  position: relative;
  left: -1px;
  top: -3px;
  width: 15px;
  height: 14px !important;
  padding: 0;
  cursor: pointer;
}
/* line 366, ../../sass/autoload/_uniform._base.scss */
div.checker span {
  display: -moz-inline-box;
  display: inline-block;
  *display: inline;
  zoom: 1;
  text-align: center;
  border: 1px solid #e1e4e2;
  overflow: hidden;
  background: #fff;
}
/* line 373, ../../sass/autoload/_uniform._base.scss */
div.checker span.checked:before {
  content: '\f00c';
  font-family: "FontAwesome";
  position: absolute;
  left: auto;
  top: auto;
  padding: 0 0 0 1px;
  text-align: center;
  width: 13px;
  height: 13px;
  line-height: 14px;
  font-size: 12px;
  background: #f2f4f3;
}
/* line 390, ../../sass/autoload/_uniform._base.scss */
div.checker input {
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  border: none;
  background: none;
  display: -moz-inline-box;
  display: inline-block;
  *display: inline;
  zoom: 1;
}
/* line 396, ../../sass/autoload/_uniform._base.scss */
div.checker.active span {
  background-position: -15px -257px;
}
/* line 101, ../../sass/autoload/_uniform._base.scss */
div.checker.active span.checked {
  background-position: -15px -257px;
}
/* line 406, ../../sass/autoload/_uniform._base.scss */
div.checker.hover span, div.checker.focus span {
  background: #f2f4f3;
}
/* line 101, ../../sass/autoload/_uniform._base.scss */
div.checker.hover span.checked, div.checker.focus span.checked {
  background: #edefee;
}
/* line 95, ../../sass/autoload/_uniform._base.scss */
div.checker.disabled, div.checker.disabled.active {
  background-position: 0 -257px;
}
/* line 101, ../../sass/autoload/_uniform._base.scss */
div.checker.disabled span.checked, div.checker.disabled.active span.checked {
  background-position: 0 -257px;
}

/* Radio */
/* line 431, ../../sass/autoload/_uniform._base.scss */
div.radio {
  position: relative;
  display: inline;
}
/* line 434, ../../sass/autoload/_uniform._base.scss */
div.radio, div.radio span, div.radio input {
  width: 13px;
  height: 13px;
}
/* line 438, ../../sass/autoload/_uniform._base.scss */
div.radio span {
  width: 14px;
  height: 14px;
}
/* line 442, ../../sass/autoload/_uniform._base.scss */
div.radio span {
  display: -moz-inline-box;
  display: inline-block;
  *display: inline;
  zoom: 1;
  text-align: center;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  border: 1px solid #e1e4e2;
}
/* line 449, ../../sass/autoload/_uniform._base.scss */
div.radio span.checked:before {
  width: 8px;
  height: 8px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  background: #727272;
  position: absolute;
  z-index: 1;
  left: 2px;
  top: 2px;
  display: block;
  text-indent: -5000px;
  content: '*';
}
/* line 465, ../../sass/autoload/_uniform._base.scss */
div.radio input {
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  border: none;
  background: none;
  display: -moz-inline-box;
  display: inline-block;
  *display: inline;
  zoom: 1;
  text-align: center;
}
/* line 479, ../../sass/autoload/_uniform._base.scss */
div.radio.hover span, div.radio.focus span {
  background-color: #f7f7f7;
}

/* Uploader */
/* line 492, ../../sass/autoload/_uniform._base.scss */
div.uploader {
  background: none;
  height: 27px;
  width: 100%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
/* line 500, ../../sass/autoload/_uniform._base.scss */
div.uploader span.action {
  background-position: 0 -378px;
  height: 27px;
  line-height: 27px;
  width: 94px;
  text-align: center;
  float: left;
  display: inline;
  overflow: hidden;
  cursor: pointer;
}
/* line 512, ../../sass/autoload/_uniform._base.scss */
div.uploader span.filename {
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  float: left;
  cursor: default;
  height: 27px;
  margin: 0 0 0 0;
  line-height: 27px;
  width: 172px;
  padding: 0 10px;
}
/* line 523, ../../sass/autoload/_uniform._base.scss */
div.uploader input {
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  border: none;
  background: none;
  position: absolute;
  top: 0;
  right: 0;
  float: right;
  cursor: default;
  width: 100%;
  height: 100%;
}

/* Buttons */
/* line 537, ../../sass/autoload/_uniform._base.scss */
div.button {
  background-position: 0 -634px;
  height: 30px;
  cursor: pointer;
  position: relative;
  /* Keep buttons barely visible so they can get focus */
}
/* line 544, ../../sass/autoload/_uniform._base.scss */
div.button a, div.button button, div.button input {
  opacity: 0.01;
  filter: alpha(opacity=1);
  -moz-opacity: 0.01;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}
/* line 554, ../../sass/autoload/_uniform._base.scss */
div.button span {
  display: -moz-inline-box;
  display: inline-block;
  *display: inline;
  zoom: 1;
  line-height: 30px;
  text-align: center;
  background-position: right -514px;
  height: 30px;
  margin-left: 13px;
  padding: 0;
}
/* line 83, ../../sass/autoload/_uniform._base.scss */
div.button.active {
  background-position: 0 -664px;
}
/* line 567, ../../sass/autoload/_uniform._base.scss */
div.button.active span {
  background-position: right -544px;
  cursor: default;
}
/* line 89, ../../sass/autoload/_uniform._base.scss */
div.button.hover, div.button.focus {
  background-position: 0 -694px;
}
/* line 576, ../../sass/autoload/_uniform._base.scss */
div.button.hover span, div.button.focus span {
  background-position: right -574px;
}
/* line 95, ../../sass/autoload/_uniform._base.scss */
div.button.disabled, div.button.disabled.active {
  background-position: 0 -724px;
}
/* line 584, ../../sass/autoload/_uniform._base.scss */
div.button.disabled span, div.button.disabled.active span {
  background-position: right -604px;
  cursor: default;
}

/* INPUT & TEXTAREA */
/* ************************************************************************************************
		uniform
************************************************************************************************ */
/* line 24, ../../sass/autoload/uniform.default.scss */
input.uniform-input,
select.uniform-multiselect,
textarea.uniform {
  font-size: 13px;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: normal;
  line-height: 18px;
  color: #777;
  border: solid 1px #d6d4d4;
}
/* line 89, ../../sass/autoload/_uniform._base.scss */
input.uniform-input.hover, input.uniform-input.focus,
select.uniform-multiselect.hover,
select.uniform-multiselect.focus,
textarea.uniform.hover,
textarea.uniform.focus {
  border-color: #cbcaca;
}

/* PRESENTATION */
/* Buttons */
/* line 43, ../../sass/autoload/uniform.default.scss */
div.button span {
  font-weight: bold;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
/* line 52, ../../sass/autoload/uniform.default.scss */
div.button.hover span, div.button.focus span {
  color: #555;
}
/* line 58, ../../sass/autoload/uniform.default.scss */
div.button.disabled span, div.button.disabled.active span {
  color: #bbb;
}

/* Select */
/* line 67, ../../sass/autoload/uniform.default.scss */
#compare_shipping .form-group label {
  display: block;
}

/* line 69, ../../sass/autoload/uniform.default.scss */
.checker span input {
  margin: 0 !important;
  position: relative;
}

/* line 74, ../../sass/autoload/uniform.default.scss */
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  margin: 0 !important;
}

/* line 79, ../../sass/autoload/uniform.default.scss */
.radio-inline,
.checkbox-inline {
  cursor: default;
}

/* Checker */
/* line 84, ../../sass/autoload/uniform.default.scss */
div.checker {
  cursor: pointer;
  margin-right: 5px;
}
/* line 88, ../../sass/autoload/uniform.default.scss */
div.checker span {
  position: relative;
  top: 1px;
}

/* line 94, ../../sass/autoload/uniform.default.scss */
#layered_form div.checker {
  display: inline;
  cursor: default;
}

/* Radio */
/* line 100, ../../sass/autoload/uniform.default.scss */
div.radio {
  margin-right: 3px;
}
/* line 102, ../../sass/autoload/uniform.default.scss */
div.radio span {
  position: relative;
}

/* Uploader */
/* line 109, ../../sass/autoload/uniform.default.scss */
div.uploader span.action {
  text-shadow: rgba(0, 0, 0, 0.1) 0 1px 0;
  font-size: 13px;
  font-weight: bold;
  color: #fff;
}
/* line 116, ../../sass/autoload/uniform.default.scss */
div.uploader span.filename {
  color: #777;
  border: solid 1px #d6d4d4;
  font-size: 13px;
  background: #fbfbfb;
  margin-right: 2px;
}
/* line 125, ../../sass/autoload/uniform.default.scss */
div.uploader.disabled span.action, div.uploader.disabled.active span.action {
  color: #aaa;
}
/* line 129, ../../sass/autoload/uniform.default.scss */
div.uploader.disabled span.filename, div.uploader.disabled.active span.filename {
  border-color: #ddd;
  color: #aaa;
}

/* line 137, ../../sass/autoload/uniform.default.scss */
input.uniform-input, input.uniform-input:focus {
  background-color: #fff;
}
