/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
/*
* @package       change-grid-on-big-screen
* @description   make grid like in design
*
*/
/*
* @package       custom-scroll-bar
* @description   make you scroll bar pretty and better
*
*/
/*
* @subsection   icons
*
* @description
*/
/*
* @package       header icons title display mixin
* @description
*
*/
/*
* @package     bxSlider controls mixin
* @description
*
*/
/* line 9, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
.daydeal-box.products_block > div > span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40px;
  height: 30px;
  background: #dedede;
  border: 2px solid #e1e4e2;
  font: 400 7px/1.2 "Poiret One", sans-serif;
  color: #ff514d;
  text-transform: uppercase;
}
@media (min-width: 480px) {
  /* line 9, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
  .daydeal-box.products_block > div > span {
    width: 50px;
    height: 50px;
  }
}
@media (min-width: 480px) {
  /* line 9, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
  .daydeal-box.products_block > div > span {
    font-size: 8px;
  }
}
@media (min-width: 768px) {
  /* line 9, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
  .daydeal-box.products_block > div > span {
    width: 35px;
    height: 35px;
    font-size: 6px;
  }
}
@media (min-width: 992px) {
  /* line 9, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
  .daydeal-box.products_block > div > span {
    width: 3.49vw;
    height: 3.49vw;
    font-size: 0.57vw;
  }
}
/* line 41, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
.daydeal-box.products_block > div > span:not(:last-child) {
  border-bottom: none;
}
/* line 45, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
.daydeal-box.products_block > div > span > span {
  font-weight: 700;
}
@media (min-width: 768px) {
  /* line 45, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
  .daydeal-box.products_block > div > span > span {
    font-size: 15px;
  }
}
@media (min-width: 992px) {
  /* line 45, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
  .daydeal-box.products_block > div > span > span {
    font-size: 1.56vw;
  }
}

/* line 59, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
#daydeal-products {
  margin-top: 0;
  margin-bottom: 0;
}
@media (min-width: 720px) and (max-width: 991px) {
  /* line 64, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
  #daydeal-products .ajax_add_to_cart_button span {
    display: inline-block;
    width: 100%;
    line-height: 1;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
@media only screen and (max-width: 479px) {
  /* line 63, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
  #daydeal-products .ajax_add_to_cart_button {
    width: 100%;
  }
  /* line 77, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
  #daydeal-products .ajax_add_to_cart_button::before {
    position: static;
    border: none;
    font-size: 16px;
    line-height: 1.4;
    opacity: 1;
    transform: none;
    font-family: "fl-outicons";
    content: "\e04f";
    display: inline-block;
    font-weight: normal;
  }
  /* line 88, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
  #daydeal-products .ajax_add_to_cart_button span {
    display: none;
  }
  /* line 93, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
  #daydeal-products .ajax_add_to_cart_button.customize::before {
    content: '\e024';
  }
}
/* line 100, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
#daydeal-products .title_block {
  padding: 0;
}
@media only screen and (max-width: 479px) {
  /* line 100, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
  #daydeal-products .title_block {
    margin-bottom: 25px;
  }
}
/* line 107, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
#daydeal-products .title_block:after {
  display: none;
}
/* line 111, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
#daydeal-products .block_content {
  margin-bottom: 0;
}
/* line 114, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
#daydeal-products .label-daydeal {
  position: absolute;
  right: 5px;
  top: 5px;
  display: inline-block;
  padding: 5px 12px;
  background: #FF0;
}
/* line 123, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
#daydeal-products .products > li {
  margin-top: 0;
}
@media (min-width: 720px) {
  /* line 123, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
  #daydeal-products .products > li {
    display: flex;
  }
}
/* line 130, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
#daydeal-products .products .left-block {
  background: white;
}
@media (min-width: 720px) {
  /* line 130, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
  #daydeal-products .products .left-block {
    width: 47.5%;
  }
}
/* line 135, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
#daydeal-products .products .left-block .product_img_link {
  position: relative;
  display: block;
  overflow: hidden;
  position: relative;
  display: block;
  background: #f4f4f4;
}
/* line 141, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
#daydeal-products .products .left-block .product_img_link img {
  -webkit-transition: 0.7s all ease;
  -khtml-transition: 0.7s all ease;
  -moz-transition: 0.7s all ease;
  -ms-transition: 0.7s all ease;
  -o-transition: 0.7s all ease;
  transition: 0.7s all ease;
}
/* line 150, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
#daydeal-products .products .right-block {
  padding: 10px 0;
}
@media (min-width: 720px) {
  /* line 150, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
  #daydeal-products .products .right-block {
    width: 52.5%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: none;
  }
}
@media (max-width: 479px) {
  /* line 150, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
  #daydeal-products .products .right-block {
    border-top: none;
  }
}
@media (min-width: 1800px) {
  /* line 150, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
  #daydeal-products .products .right-block {
    padding: 38px;
  }
}
/* line 169, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
#daydeal-products .products h5 {
  margin: 0;
}
/* line 172, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
#daydeal-products .products .product-name {
  color: #595959;
}
@media (min-width: 992px) {
  /* line 172, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
  #daydeal-products .products .product-name {
    font-size: 16px;
  }
}
/* line 179, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
#daydeal-products .products .product-name:hover {
  color: #121212;
}
/* line 183, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
#daydeal-products .products .product-description {
  display: none;
  line-height: 1.5;
  margin: 10px 0 0;
}
/* line 188, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
.small-items #daydeal-products .products .product-description {
  display: none;
}
@media (min-width: 480px) {
  /* line 183, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
  #daydeal-products .products .product-description {
    display: block;
  }
}
@media (min-width: 1200px) {
  /* line 183, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
  #daydeal-products .products .product-description {
    margin-top: 20px;
  }
}
@media (min-width: 1200px) {
  /* line 183, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
  #daydeal-products .products .product-description {
    font-size: 16px;
  }
}
/* line 204, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
#daydeal-products .products .product-description + div {
  margin-top: 20px;
}
@media (min-width: 1200px) {
  /* line 204, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
  #daydeal-products .products .product-description + div {
    margin-top: 2.34vw;
  }
}
/* line 212, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
#daydeal-products .products .hook-reviews {
  margin-top: 6px;
}
@media (max-width: 767px) {
  /* line 212, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
  #daydeal-products .products .hook-reviews {
    display: none;
  }
}
/* line 219, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
#daydeal-products .products .comments_note .star_content {
  display: inline-block;
  vertical-align: top;
}
/* line 223, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
#daydeal-products .products .comments_note .nb-comments {
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  padding-top: 3px;
}
/* line 232, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
#daydeal-products .products .daydeal-box {
  position: absolute;
  width: 100%;
  top: 45px;
  left: 5px;
  display: block;
  text-align: center;
  margin-bottom: 0;
}
@media (min-width: 480px) {
  /* line 232, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
  #daydeal-products .products .daydeal-box {
    top: auto;
    bottom: 10px;
  }
}
@media (min-width: 480px) {
  /* line 232, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
  #daydeal-products .products .daydeal-box {
    left: 0;
    bottom: 10%;
  }
}
@media (min-width: 1200px) {
  /* line 232, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
  #daydeal-products .products .daydeal-box {
    bottom: 20px;
  }
}
@media (min-width: 480px) {
  /* line 255, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
  #daydeal-products .products .daydeal-box > div {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 480px) {
  /* line 261, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
  #daydeal-products .products .daydeal-box > div > span {
    border: 2px solid #e1e4e2;
  }
  /* line 266, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
  #daydeal-products .products .daydeal-box > div > span:not(:last-child) {
    border-right: none;
  }
}
/* line 273, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
#daydeal-products .products .price-content {
  margin-top: 10px;
}
@media (min-width: 1600px) {
  /* line 273, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
  #daydeal-products .products .price-content {
    margin-top: 16px;
  }
}
/* line 280, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
#daydeal-products .products .price, #daydeal-products .products .old-price, #daydeal-products .products .price-percent-reduction {
  letter-spacing: 0;
}
@media (min-width: 992px) {
  /* line 280, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
  #daydeal-products .products .price, #daydeal-products .products .old-price, #daydeal-products .products .price-percent-reduction {
    font-size: 24px;
  }
}
@media (min-width: 1600px) {
  /* line 280, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
  #daydeal-products .products .price, #daydeal-products .products .old-price, #daydeal-products .products .price-percent-reduction {
    font-size: 30px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 280, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
  #daydeal-products .products .price, #daydeal-products .products .old-price, #daydeal-products .products .price-percent-reduction {
    font-size: 18px;
  }
}
/* line 293, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
#daydeal-products .products .old-price {
  margin-left: 10px;
}
@media (min-width: 992px) {
  /* line 293, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
  #daydeal-products .products .old-price {
    font-size: 16px;
  }
}
@media (min-width: 1600px) {
  /* line 293, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
  #daydeal-products .products .old-price {
    font-size: 20px;
  }
}
/* line 304, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
#daydeal-products .products .price-percent-reduction {
  margin-left: 5px;
}
/* line 307, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
#daydeal-products .products * + h5 {
  margin-top: 13px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 307, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
  #daydeal-products .products * + h5 {
    margin-top: 7px;
  }
}
@media (min-width: 1200px) {
  /* line 315, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
  #daydeal-products .bx-wrapper {
    padding-top: 40px;
  }
}
/* line 320, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
.small-items #daydeal-products .bx-wrapper .bx-controls-direction {
  margin-top: 20px !important;
  text-align: center;
}
@media (min-width: 768px) {
  /* line 320, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
  .small-items #daydeal-products .bx-wrapper .bx-controls-direction {
    margin-top: 30px !important;
  }
}
@media (min-width: 1200px) {
  /* line 320, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
  .small-items #daydeal-products .bx-wrapper .bx-controls-direction {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34vw;
    margin: 0 auto;
  }
  /* line 264, ../../../../../sass/_elements_variables.scss */
  .small-items #daydeal-products .bx-wrapper .bx-controls-direction::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 42%;
    border-bottom: 2px solid #e1e4e2;
    transform: translate(-50%, -50%);
  }
}
/* line 275, ../../../../../sass/_elements_variables.scss */
.small-items #daydeal-products .bx-wrapper .bx-controls-direction .bx-next, .small-items #daydeal-products .bx-wrapper .bx-controls-direction .bx-prev {
  position: relative;
  display: inline-block;
  margin: 0 40px;
}
/* line 280, ../../../../../sass/_elements_variables.scss */
.small-items #daydeal-products .bx-wrapper .bx-controls-direction .bx-next::before, .small-items #daydeal-products .bx-wrapper .bx-controls-direction .bx-prev::before {
  font-size: 30px;
}
@media only screen and (max-width: 479px) {
  /* line 320, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
  .small-items #daydeal-products .bx-wrapper .bx-controls-direction {
    display: none;
  }
}
/* line 334, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
.small-items #daydeal-products .bx-wrapper .bx-controls-direction .bx-next, .small-items #daydeal-products .bx-wrapper .bx-controls-direction .bx-prev {
  top: 0;
}
/* line 339, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
#daydeal-products .bx-wrapper .bx-controls-direction .bx-next, #daydeal-products .bx-wrapper .bx-controls-direction .bx-prev {
  top: -40px;
  right: 0;
  left: auto;
  display: none;
  transform: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
@media (min-width: 480px) {
  /* line 339, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
  #daydeal-products .bx-wrapper .bx-controls-direction .bx-next, #daydeal-products .bx-wrapper .bx-controls-direction .bx-prev {
    display: block;
  }
}
/* line 352, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
#daydeal-products .bx-wrapper .bx-controls-direction .bx-prev {
  right: 50px;
}
/* line 357, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
#daydeal-products .bx-wrapper .products {
  margin: 0;
}
/* line 360, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
#daydeal-products .bx-wrapper .products > li {
  padding: 0;
}

@media (max-width: 1199px) {
  /* line 369, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
  .two-columns #daydeal-products .title_block {
    margin-bottom: 13px;
  }
}
/* line 375, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
.bx-wrapper .two-columns #daydeal-products .products {
  margin: 0;
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 379, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
  .two-columns #daydeal-products .products > li {
    width: 100%;
  }
}
/* line 384, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
.two-columns #daydeal-products .products .right-block {
  padding: 1.2vw;
}
@media (min-width: 1800px) {
  /* line 384, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
  .two-columns #daydeal-products .products .right-block {
    padding: 20px 38px 20px 28px;
  }
}
@media (min-width: 1200px) and (max-width: 1200px) {
  /* line 390, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
  .two-columns #daydeal-products .products .product-name {
    font-size: 18px;
  }
}
@media (min-width: 1200px) and (max-width: 1200px) {
  /* line 395, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
  .two-columns #daydeal-products .products .daydeal-box {
    padding: 4px 10px;
    margin-top: 8px;
  }
  /* line 399, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
  .two-columns #daydeal-products .products .daydeal-box > div > span {
    font-size: 10px;
  }
  /* line 401, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
  .two-columns #daydeal-products .products .daydeal-box > div > span + span {
    margin-left: 10px;
  }
  /* line 404, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
  .two-columns #daydeal-products .products .daydeal-box > div > span > span {
    font-size: 18px;
  }
}
@media (min-width: 1200px) and (max-width: 1200px) {
  /* line 410, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
  .two-columns #daydeal-products .products .price-content {
    margin-top: 5px;
  }
}
@media (min-width: 1200px) and (max-width: 1699px) {
  /* line 415, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
  .two-columns #daydeal-products .products .price, .two-columns #daydeal-products .products .old-price, .two-columns #daydeal-products .products .price-percent-reduction {
    font-size: 18px;
  }
}
@media (min-width: 1200px) and (max-width: 1200px) {
  /* line 420, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
  .two-columns #daydeal-products .products * + h5 {
    margin-top: 7px;
  }
}

/* line 431, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
.three-columns #daydeal-products .title_block {
  margin-bottom: 0;
}
@media (min-width: 992px) {
  /* line 435, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
  .three-columns #daydeal-products .products > li {
    width: 100%;
  }
}
@media (min-width: 1800px) {
  /* line 440, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
  .three-columns #daydeal-products .products .right-block {
    padding: 38px;
  }
}
@media (min-width: 1200px) and (max-width: 1200px) {
  /* line 445, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
  .three-columns #daydeal-products .products .product-name {
    font-size: 18px;
  }
}
@media (max-width: 1200px) {
  /* line 450, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
  .three-columns #daydeal-products .products .product-description {
    display: none;
  }
}
@media (min-width: 1200px) and (max-width: 1200px) {
  /* line 456, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
  .three-columns #daydeal-products .products .daydeal-box {
    padding: 4px 10px;
    margin-top: 8px;
  }
  /* line 460, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
  .three-columns #daydeal-products .products .daydeal-box > div > span {
    font-size: 10px;
  }
  /* line 462, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
  .three-columns #daydeal-products .products .daydeal-box > div > span + span {
    margin-left: 10px;
  }
  /* line 465, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
  .three-columns #daydeal-products .products .daydeal-box > div > span > span {
    font-size: 18px;
  }
}
@media (min-width: 1200px) and (max-width: 1200px) {
  /* line 471, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
  .three-columns #daydeal-products .products .price-content {
    margin-top: 5px;
  }
}
@media (min-width: 1200px) and (max-width: 1699px) {
  /* line 476, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
  .three-columns #daydeal-products .products .price, .three-columns #daydeal-products .products .old-price, .three-columns #daydeal-products .products .price-percent-reduction {
    font-size: 18px;
  }
}
@media (min-width: 1200px) and (max-width: 1200px) {
  /* line 481, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
  .three-columns #daydeal-products .products * + h5 {
    margin-top: 7px;
  }
}

/* line 490, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
.daydeal-box-product {
  border: 2px solid #f4d6d6;
  padding: 7px 26px;
}
/* line 493, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
.daydeal-box-product.act {
  display: none;
}

/* line 499, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
#product .daydeal-box {
  width: 100%;
  display: block;
  text-align: center;
  margin-bottom: 0;
}
/* line 505, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
#product .daydeal-box > div {
  display: flex;
}
/* line 508, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
#product .daydeal-box > div > span {
  border: 2px solid #e1e4e2;
}
@media (max-width: 767px) {
  /* line 508, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
  #product .daydeal-box > div > span {
    width: 60px;
    height: 60px;
  }
}
@media only screen and (max-width: 479px) {
  /* line 508, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
  #product .daydeal-box > div > span {
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 767px) {
  /* line 521, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
  #product .daydeal-box > div > span span {
    font-size: 30px;
  }
}
@media only screen and (max-width: 479px) {
  /* line 521, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
  #product .daydeal-box > div > span span {
    font-size: 20px;
  }
}
/* line 531, ../../../../../sass/modules/tmdaydeal/views/css/tmdaydeal.scss */
#product .daydeal-box > div > span:not(:last-child) {
  border-right: none;
}
