@keyframes slideInUp {
  0% {
    transform: translate3d(0, 50px, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.slideInUp {
  animation-name: slideInUp;
}
