/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
/* line 5, ../../../../../../sass/modules/tmmegalayout/views/css/layouts/Footer4.scss */
.footer-container .footer-block li a {
  color: #595959;
}
/* line 8, ../../../../../../sass/modules/tmmegalayout/views/css/layouts/Footer4.scss */
.footer-container .footer-block li a:hover {
  color: #f4d6d6;
}
/* line 17, ../../../../../../sass/modules/tmmegalayout/views/css/layouts/Footer4.scss */
.footer-container #block_contact_infos .toggle-footer li a, .footer-container #block_contact_infos .toggle-footer li span {
  color: #dedede;
}
/* line 20, ../../../../../../sass/modules/tmmegalayout/views/css/layouts/Footer4.scss */
.footer-container #block_contact_infos .toggle-footer li a::before, .footer-container #block_contact_infos .toggle-footer li span::before {
  color: #f4d6d6;
}
/* line 26, ../../../../../../sass/modules/tmmegalayout/views/css/layouts/Footer4.scss */
.footer-container #block_contact_infos .toggle-footer li a:hover {
  color: #f4d6d6;
}
@media (min-width: 480px) and (max-width: 767px) {
  /* line 34, ../../../../../../sass/modules/tmmegalayout/views/css/layouts/Footer4.scss */
  .footer-container #newsletter_block_left {
    margin-top: 25px;
  }
}
/* line 39, ../../../../../../sass/modules/tmmegalayout/views/css/layouts/Footer4.scss */
.footer-container #newsletter_block_left h4, .footer-container #newsletter_block_left p {
  display: none;
}
/* line 43, ../../../../../../sass/modules/tmmegalayout/views/css/layouts/Footer4.scss */
.footer-container #newsletter_block_left .form-group {
  position: relative;
  flex-wrap: wrap;
}
/* line 47, ../../../../../../sass/modules/tmmegalayout/views/css/layouts/Footer4.scss */
.footer-container #newsletter_block_left .form-group .form-control {
  margin-right: 0;
  margin-bottom: 15px;
}
/* line 51, ../../../../../../sass/modules/tmmegalayout/views/css/layouts/Footer4.scss */
.footer-container #newsletter_block_left .form-group .btn {
  width: 100%;
}
@media (min-width: 1600px), (min-width: 480px) and (max-width: 767px) {
  /* line 56, ../../../../../../sass/modules/tmmegalayout/views/css/layouts/Footer4.scss */
  .footer-container #newsletter_block_left .form-group .btn {
    position: absolute;
    top: 0;
    right: 0;
    min-width: inherit;
    width: auto;
    padding-right: 0;
    border: none;
    transition: all 0.3s ease-in-out;
  }
  /* line 66, ../../../../../../sass/modules/tmmegalayout/views/css/layouts/Footer4.scss */
  .footer-container #newsletter_block_left .form-group .btn::before {
    border-color: transparent;
  }
  /* line 70, ../../../../../../sass/modules/tmmegalayout/views/css/layouts/Footer4.scss */
  .footer-container #newsletter_block_left .form-group .btn::after {
    background: transparent;
  }
  /* line 75, ../../../../../../sass/modules/tmmegalayout/views/css/layouts/Footer4.scss */
  .footer-container #newsletter_block_left .form-group .form-control {
    padding-right: 155px;
  }
}
@media (min-width: 1600px) {
  /* line 82, ../../../../../../sass/modules/tmmegalayout/views/css/layouts/Footer4.scss */
  .footer-container #social_block {
    margin-top: 50px;
  }
}
/* line 88, ../../../../../../sass/modules/tmmegalayout/views/css/layouts/Footer4.scss */
.footer-container #social_block ul li {
  margin-bottom: 5px;
}
/* line 91, ../../../../../../sass/modules/tmmegalayout/views/css/layouts/Footer4.scss */
.footer-container #social_block ul li:not(:first-child) {
  margin-left: 2px;
}
/* line 95, ../../../../../../sass/modules/tmmegalayout/views/css/layouts/Footer4.scss */
.footer-container #social_block ul li a:hover {
  border-color: #595959;
}
@media (max-width: 767px) {
  /* line 87, ../../../../../../sass/modules/tmmegalayout/views/css/layouts/Footer4.scss */
  .footer-container #social_block ul {
    text-align: center;
  }
}
