/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
/* line 5, ../../../../../../sass/modules/tmmegalayout/views/css/layouts/Footer3.scss */
.footer-container #newsletter_block_left {
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  /* line 5, ../../../../../../sass/modules/tmmegalayout/views/css/layouts/Footer3.scss */
  .footer-container #newsletter_block_left {
    width: 80%;
  }
}
@media (min-width: 1200px) {
  /* line 5, ../../../../../../sass/modules/tmmegalayout/views/css/layouts/Footer3.scss */
  .footer-container #newsletter_block_left {
    width: 50%;
  }
}
/* line 17, ../../../../../../sass/modules/tmmegalayout/views/css/layouts/Footer3.scss */
.footer-container #newsletter_block_left .title_block, .footer-container #newsletter_block_left h4 {
  padding: 0;
  text-align: center;
}
/* line 21, ../../../../../../sass/modules/tmmegalayout/views/css/layouts/Footer3.scss */
.footer-container #newsletter_block_left .title_block::after, .footer-container #newsletter_block_left h4::after {
  display: none;
}
@media (min-width: 1600px) {
  /* line 26, ../../../../../../sass/modules/tmmegalayout/views/css/layouts/Footer3.scss */
  .footer-container #newsletter_block_left .form-group .form-control {
    margin-right: 80px;
  }
}
/* line 32, ../../../../../../sass/modules/tmmegalayout/views/css/layouts/Footer3.scss */
.footer-container #newsletter_block_left .btn-primary {
  color: #121212;
  border-color: #dedede;
}
/* line 36, ../../../../../../sass/modules/tmmegalayout/views/css/layouts/Footer3.scss */
.footer-container #newsletter_block_left .btn-primary::after {
  background: #dedede;
}
@media (min-width: 768px) {
  /* line 41, ../../../../../../sass/modules/tmmegalayout/views/css/layouts/Footer3.scss */
  .footer-container #newsletter_block_left .btn-primary:hover {
    color: #dedede;
  }
  /* line 45, ../../../../../../sass/modules/tmmegalayout/views/css/layouts/Footer3.scss */
  .footer-container #newsletter_block_left .btn-primary:active:focus, .footer-container #newsletter_block_left .btn-primary:active, .footer-container #newsletter_block_left .btn-primary:focus, .active > .footer-container #newsletter_block_left .btn-primary, .footer-container #newsletter_block_left .btn-primary.disabled, .footer-container #newsletter_block_left .btn-primary.btn[disabled], .disabled > .footer-container #newsletter_block_left .btn-primary {
    color: #121212;
  }
}
@media only screen and (max-width: 767px) {
  /* line 51, ../../../../../../sass/modules/tmmegalayout/views/css/layouts/Footer3.scss */
  .footer-container #newsletter_block_left .btn-primary:active:focus, .footer-container #newsletter_block_left .btn-primary:active, .footer-container #newsletter_block_left .btn-primary:focus, .footer-container #newsletter_block_left .btn-primary.hover, .footer-container #newsletter_block_left .btn-primary:hover {
    color: #121212;
  }
}
/* line 58, ../../../../../../sass/modules/tmmegalayout/views/css/layouts/Footer3.scss */
.footer-container .paiement_logo_block {
  margin-top: 0;
}
/* line 62, ../../../../../../sass/modules/tmmegalayout/views/css/layouts/Footer3.scss */
.footer-container #social_block ul li a {
  margin-bottom: 5px;
}
