/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
/*$base-border-color: darken(saturate(adjust_hue($color-box, 139.99999999999983), 5.263157894736871%), 6.470588235294116%);*/
/*
* @package        title block styles
* @description
*
*/
.block .title_block, .block .block h4 {
  text-transform: uppercase;
  font-weight: 700;
}

.block .title_block span::after, .block .block h4 span::after {
  display: none;
}

/*
* @package       smartbloghomelatestnews module styles
* @description
*
*/
@media (min-width: 768px) {
  #homepage-blog {
    display: flex;
    justify-content: space-between;
  }
}

#homepage-blog > div:first-of-type {
  text-align: left;
}

@media (min-width: 768px) {
  #homepage-blog > div:first-of-type {
    width: 40%;
  }
}

@media (min-width: 992px) {
  #homepage-blog > div:first-of-type {
    width: 30%;
  }
}

#homepage-blog li, #homepage-blog .blog-image, #homepage-blog {
  margin-bottom: 0;
}

#homepage-blog .title_block {
  font-weight: 700;
  letter-spacing: 0.02em;
}

@media (min-width: 768px) {
  #homepage-blog .title_block {
    text-align: left;
  }
}

@media (min-width: 992px) {
  #homepage-blog .title_block {
    font-size: 3.02vw;
  }
}

#homepage-blog .title_block + p {
  display: block;
  padding-right: 2vw;
  line-height: 1.5;
}

@media (min-width: 768px) {
  #homepage-blog .title_block + p {
    text-align: left;
  }
}

@media (min-width: 992px) {
  #homepage-blog .title_block + p {
    font-size: 16px;
  }
}

#homepage-blog .post-meta {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  transform: translate3d(-50%, -50%, 0);
  pointer-events: none;
}

#homepage-blog .post-meta h5 a {
  font-weight: 400;
  line-height: 1.33333;
  color: #dedede;
}

#homepage-blog .post-meta h5 a:hover {
  color: #929292;
}

#homepage-blog .post-meta .date-added {
  color: rgba(222, 222, 222, 0.8);
  text-shadow: 0 0 5px #595959;
}

#homepage-blog .post-meta .post-descr {
  display: none;
}

#homepage-blog .bx-wrapper .bx-controls-direction .bx-next, #homepage-blog .bx-wrapper .bx-controls-direction .bx-prev {
  top: 50%;
  margin-top: -20px;
}

@media (min-width: 768px) {
  #homepage-blog .bx-wrapper .bx-controls-direction .bx-next, #homepage-blog .bx-wrapper .bx-controls-direction .bx-prev {
    margin-top: -25px;
  }
}
