/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
/*
* @package       smartbloghomelatestnews module styles
* @description
*
*/
/* line 8, ../../../../../../sass/modules/tmmegalayout/views/css/layouts/Home2.scss */
#homepage-blog {
  text-align: left;
}
@media (min-width: 1600px) {
  /* line 8, ../../../../../../sass/modules/tmmegalayout/views/css/layouts/Home2.scss */
  #homepage-blog {
    margin-bottom: 60px;
  }
}
/* line 15, ../../../../../../sass/modules/tmmegalayout/views/css/layouts/Home2.scss */
#homepage-blog .title_block, #homepage-blog h4 {
  margin-bottom: 30px;
}
/* line 19, ../../../../../../sass/modules/tmmegalayout/views/css/layouts/Home2.scss */
#homepage-blog img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
/* line 27, ../../../../../../sass/modules/tmmegalayout/views/css/layouts/Home2.scss */
#homepage-blog .blog-image a {
  position: relative;
  padding-bottom: 43%;
}
/* line 34, ../../../../../../sass/modules/tmmegalayout/views/css/layouts/Home2.scss */
#homepage-blog .post-meta .post-descr {
  padding: 0;
}

/*
* @package        title block styles
* @description
*
*/
/* line 46, ../../../../../../sass/modules/tmmegalayout/views/css/layouts/Home2.scss */
.block .title_block, .block .block h4 {
  position: relative;
  text-transform: uppercase;
  font-weight: 400;
}
/* line 51, ../../../../../../sass/modules/tmmegalayout/views/css/layouts/Home2.scss */
.block .title_block::before, .block .block h4::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  width: 100%;
  border-bottom: 2px solid #e1e4e2;
  background-color: #dedede;
  transform: translateY(-50%);
}
/* line 63, ../../../../../../sass/modules/tmmegalayout/views/css/layouts/Home2.scss */
.block .title_block span, .block .block h4 span {
  position: relative;
  padding: 0 5vw;
  background-color: #dedede;
}
/* line 68, ../../../../../../sass/modules/tmmegalayout/views/css/layouts/Home2.scss */
.block .title_block span::after, .block .block h4 span::after {
  display: none;
}
/* line 73, ../../../../../../sass/modules/tmmegalayout/views/css/layouts/Home2.scss */
.block .title_block a, .block .block h4 a {
  transition: all 0.3s ease-in-out;
}
/* line 76, ../../../../../../sass/modules/tmmegalayout/views/css/layouts/Home2.scss */
.block .title_block a:hover, .block .block h4 a:hover {
  padding: 0 2vw;
}

/*
* @package       tm_manufacturers_block styles
* @description
*
*/
/* line 89, ../../../../../../sass/modules/tmmegalayout/views/css/layouts/Home2.scss */
#tm_manufacturers_block .title_block, #tm_manufacturers_block .manufacturer-name, #tm_manufacturers_block p, #tm_manufacturers_block .bx-controls {
  display: none;
}
/* line 93, ../../../../../../sass/modules/tmmegalayout/views/css/layouts/Home2.scss */
#tm_manufacturers_block img {
  opacity: .6;
}
