@keyframes slideOutRight {
  /* line 2, ../../../sass/animate/sliding_exits/slideOutRight.scss */
  0% {
    transform: translate3d(0, 0, 0);
  }

  /* line 6, ../../../sass/animate/sliding_exits/slideOutRight.scss */
  100% {
    visibility: hidden;
    transform: translate3d(100%, 0, 0);
  }
}

/* line 12, ../../../sass/animate/sliding_exits/slideOutRight.scss */
.slideOutRight {
  animation-name: slideOutRight;
}
