/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
/*$base-border-color: darken(saturate(adjust_hue($color-box, 139.99999999999983), 5.263157894736871%), 6.470588235294116%);*/
/*
* @package       topPosition
* @description   to create the equal positions of all popups in header
*
*/
/*
* @package      iconActiveAnimation
* @description  mixin for animation icons
*
*/
#languages-block-top {
  position: relative;
  font-size: 16px;
  font-weight: 700;
}

#languages-block-top span.firstWord {
  display: none;
}

#languages-block-top div.current {
  padding: 5px 15px;
  position: relative;
  display: block;
  color: #595959;
  cursor: pointer;
  font-family: "Museo", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  /*&:after {
      @include hm-icon;

      transition: $base-transition;
      transform-origin: center;
    }*/
}

.bg-dark #languages-block-top div.current {
  color: #dedede;
}

@media (max-width: 550px) {
  .mobile-stickup #languages-block-top div.current {
    color: #dedede;
  }
}

.nav-section #languages-block-top div.current {
  font-weight: 400;
}

#languages-block-top div.current span {
  margin-right: 3px;
}

#languages-block-top div.current.active:after {
  transform: rotate(-180deg) translateZ(0);
}

#languages-block-top ul {
  z-index: 2;
  overflow: hidden;
  position: absolute;
  right: 0;
  display: none;
  /*padding: 20px 40px;*/
  padding: 10px;
  background: white;
  border-radius: 0px;
  box-shadow: 0 2px 30px rgba(12, 12, 12, 0.06);
  top: calc(100% + 3px);
  font-weight: 400;
}

@media (min-width: 1600px) {
  #languages-block-top ul {
    min-width: 60;
  }
}

@media (min-width: 480px) {
  #languages-block-top ul {
    top: 100%;
  }
}

@media (min-width: 768px) {
  #languages-block-top ul {
    top: calc(100% + 30px);
  }
  .stickUpTop.isStuck #languages-block-top ul {
    top: calc(100% + 20px);
  }
}

#languages-block-top ul li {
  padding: 5px;
}

@media (min-width: 1200px) {
  #languages-block-top ul li {
    /*margin-bottom: 10px;*/
    font-size: 14px;
  }
}

.nav-section #languages-block-top ul {
  right: auto;
  left: 0;
}

.justify-end #languages-block-top ul {
  left: auto;
}

@media (min-width: 400px) {
  .justify-end #languages-block-top ul {
    right: 15px;
  }
}

@media (min-width: 1600px) {
  .justify-end #languages-block-top ul {
    left: 0;
    right: auto;
  }
}

#languages-block-top ul li.selected, #languages-block-top ul li.selected a, #languages-block-top ul li a:hover, #languages-block-top ul li a:focus {
  color: #595959;
}
