<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>tmmosaicproducts</name>
	<displayName><![CDATA[TM Mosaic Products]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Display category products in different layouts on the homepage]]></description>
	<author><![CDATA[TemplateMonster]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to uninstall this module? All data will be lost!]]></confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>