/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
/*
* @package       change-grid-on-big-screen
* @description   make grid like in design
*
*/
/*
* @package       custom-scroll-bar
* @description   make you scroll bar pretty and better
*
*/
/*
* @subsection   icons
*
* @description
*/
/* line 174, ../../../../sass/_elements_variables.scss */
#sdssearch_block_top #tmsearchbox .btn.button-search:before, #sdssearch_block_top #searchbox .btn.button-search:before {
  font-size: 24px;
  line-height: 1;
}

/*
* @package       header icons title display mixin
* @description
*
*/
/*
* @package     bxSlider controls mixin
* @description
*
*/
/*
* @package       topPosition
* @description   to create the equal positions of all popups in header
*
*/
/*
* @package      iconActiveAnimation
* @description  mixin for animation icons
*
*/
/* line 6, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
.sdsarticleCat .title_block, #sdsblogArticle .title_block, #articleComments .title_block {
  font-weight: 400;
  letter-spacing: 0.02em;
}
/* line 10, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
.sdsarticleCat .title_block:after, #sdsblogArticle .title_block:after, #articleComments .title_block:after {
  display: none;
}

/****************************** Blog blocks styles ********************************/
/* line 21, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
#latestComments ul li.last_item, #blogPopular ul li.last_item, #recent_article_smart_blog_block_left ul li.last_item {
  border: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

@media (min-width: 1200px) {
  /* line 32, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
  #latestComments .products-block li, #blogPopular .products-block li, #recent_article_smart_blog_block_left .products-block li {
    padding-bottom: 30px;
  }
}
/* line 38, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
#latestComments .products-block .products-block-image, #blogPopular .products-block .products-block-image, #recent_article_smart_blog_block_left .products-block .products-block-image {
  position: relative;
  display: block;
  overflow: hidden;
  float: left;
  width: 100px;
  height: 100px;
  margin-right: 19px;
  backface-visibility: hidden;
}
@media (min-width: 768px) {
  /* line 38, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
  #latestComments .products-block .products-block-image, #blogPopular .products-block .products-block-image, #recent_article_smart_blog_block_left .products-block .products-block-image {
    width: 8.06vw;
    height: 8.06vw;
  }
  /* line 52, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
  .three-columns #latestComments .products-block .products-block-image, .three-columns #blogPopular .products-block .products-block-image, .three-columns #recent_article_smart_blog_block_left .products-block .products-block-image {
    width: 5.06vw;
    height: 5.06vw;
  }
}
@media (min-width: 1200px) {
  /* line 38, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
  #latestComments .products-block .products-block-image, #blogPopular .products-block .products-block-image, #recent_article_smart_blog_block_left .products-block .products-block-image {
    width: 120px;
    height: 120px;
  }
}
/* line 63, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
#latestComments .products-block .products-block-image::before, #latestComments .products-block .products-block-image::after, #blogPopular .products-block .products-block-image::before, #blogPopular .products-block .products-block-image::after, #recent_article_smart_blog_block_left .products-block .products-block-image::before, #recent_article_smart_blog_block_left .products-block .products-block-image::after {
  content: '';
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  pointer-events: none;
}
/* line 69, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
#latestComments .products-block .products-block-image::after, #blogPopular .products-block .products-block-image::after, #recent_article_smart_blog_block_left .products-block .products-block-image::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 2px solid #dedede;
  border-bottom: 2px solid #dedede;
  opacity: 0;
  transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 0, 1);
  transform-origin: 50% 50%;
}
@media (min-width: 992px) {
  /* line 85, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
  #latestComments .products-block .products-block-image:hover::after, #blogPopular .products-block .products-block-image:hover::after, #recent_article_smart_blog_block_left .products-block .products-block-image:hover::after {
    opacity: 0.2;
    transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 1, 1);
  }
  /* line 89, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
  #latestComments .products-block .products-block-image:hover img, #blogPopular .products-block .products-block-image:hover img, #recent_article_smart_blog_block_left .products-block .products-block-image:hover img {
    opacity: 0.9;
  }
}
/* line 95, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
#latestComments .products-block .products-block-image img, #blogPopular .products-block .products-block-image img, #recent_article_smart_blog_block_left .products-block .products-block-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: inherit;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
}
/* line 105, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
#latestComments .products-block .product-name, #blogPopular .products-block .product-name, #recent_article_smart_blog_block_left .products-block .product-name {
  display: inline-block;
  overflow: hidden;
  width: 100%;
  margin-top: 3px;
  text-transform: none;
  font-weight: 700;
  font-size: 14px;
  color: #121212;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media (min-width: 1200px) {
  /* line 105, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
  #latestComments .products-block .product-name, #blogPopular .products-block .product-name, #recent_article_smart_blog_block_left .products-block .product-name {
    margin-top: 10px;
  }
}
/* line 121, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
#latestComments .products-block .product-name:hover, #blogPopular .products-block .product-name:hover, #recent_article_smart_blog_block_left .products-block .product-name:hover {
  color: #6b6b6b;
}
/* line 126, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
#latestComments .products-block .info, #blogPopular .products-block .info, #recent_article_smart_blog_block_left .products-block .info {
  display: inline-block;
  margin-bottom: 10px;
  font-family: "Poiret One", sans-serif;
  color: #acacac;
}

/* line 136, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
#latestComments .products-block-image {
  border: none;
}

/*************************** end Blog blocks styles *******************************/
/*************************** articles listing styles ******************************/
/* line 144, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
.title_block_exclusive {
  padding: 0 0 0 0;
  margin: 0 0 20px 0;
  font: 400 25px/1.2em "Poiret One", sans-serif;
  color: #121212;
  text-transform: none;
  letter-spacing: 0.02em;
}
@media (min-width: 1200px) {
  /* line 144, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
  .title_block_exclusive {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 35px;
  }
}
@media (min-width: 1600px) {
  /* line 144, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
  .title_block_exclusive {
    font-size: 30px;
  }
}
/* line 163, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
.title_block_exclusive a {
  color: #555459;
}
/* line 166, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
.title_block_exclusive a:hover {
  color: #f4d6d6;
}
/* line 171, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
.title_block_exclusive span[itemprop="dateCreated"] {
  display: block;
  font-family: "Poiret One", sans-serif;
  font-size: 12px;
  color: #595959;
}
@media (min-width: 1200px) {
  /* line 171, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
  .title_block_exclusive span[itemprop="dateCreated"] {
    margin-left: 20px;
    font-size: 14px;
  }
}

/* line 184, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
#sdsblogCategory {
  margin-bottom: 30px;
}
/* line 186, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
#sdsblogCategory .imageFeatured {
  float: left;
  margin: 0 20px 10px 0;
}

/* line 192, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
#smartblogcat {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
  margin-right: -10px;
  margin-left: -10px;
}
/* line 199, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
#smartblogcat > * {
  width: 100%;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 480px) {
  /* line 199, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
  #smartblogcat > * {
    width: 50%;
  }
}
@media (min-width: 768px) {
  /* line 199, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
  #smartblogcat > * {
    width: 25%;
  }
}
@media (min-width: 480px) {
  /* line 213, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
  #smartblogcat > *:first-child, #smartblogcat > *:nth-child(2) {
    margin-top: 0;
  }
}
@media (min-width: 768px) {
  /* line 221, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
  .two-columns #smartblogcat > * {
    width: 50%;
  }
}
@media (min-width: 768px) {
  /* line 229, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
  .three-columns #smartblogcat > * {
    width: 50%;
  }
}

/* line 237, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
.sdsarticleCat {
  position: relative;
}
/* line 240, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
.sdsarticleCat .articleContent {
  position: relative;
  display: block;
  overflow: hidden;
  background-color: #121212;
  backface-visibility: hidden;
}
/* line 247, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
.sdsarticleCat .articleContent::before, .sdsarticleCat .articleContent::after {
  content: '';
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  pointer-events: none;
}
/* line 253, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
.sdsarticleCat .articleContent::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 2px solid #dedede;
  border-bottom: 2px solid #dedede;
  opacity: 0;
  transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 0, 1);
  transform-origin: 50% 50%;
}
@media (min-width: 992px) {
  /* line 269, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
  .sdsarticleCat .articleContent:hover::after {
    opacity: 0.2;
    transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 1, 1);
  }
  /* line 273, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
  .sdsarticleCat .articleContent:hover img {
    opacity: 0.9;
    transform: scale3d(1.05, 1.05, 1);
  }
}
/* line 281, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
.sdsarticleCat .articleContent .post-image img {
  width: 100%;
  transition: all 0.3s ease-in-out;
  opacity: .5;
}
/* line 289, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
.sdsarticleCat .article-meta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  pointer-events: none;
  width: 80%;
}
@media (min-width: 1200px) {
  /* line 289, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
  .sdsarticleCat .article-meta {
    width: 70%;
  }
}
/* line 302, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
.sdsarticleCat .article-meta h2 {
  display: block;
  display: -webkit-box;
  max-height: 115px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 10px 0;
  font: 400 18px/1.33333 "Poiret One", sans-serif;
  color: #dedede;
  letter-spacing: 0.02em;
  transition: all 0.3s ease-in-out;
  text-transform: none;
}
@media (min-width: 1200px) {
  /* line 302, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
  .sdsarticleCat .article-meta h2 {
    font-size: 30px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 321, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
  .three-columns .sdsarticleCat .article-meta h2 {
    -webkit-line-clamp: 2;
  }
}
/* line 328, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
.sdsarticleCat .article-meta .date-added {
  font-family: "Poiret One", sans-serif;
  font-size: 14px;
  color: #dedede;
  opacity: .5;
}

/* line 337, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
.articleHeader {
  overflow: hidden;
  margin-bottom: 30px;
}
/* line 341, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
.articleHeader .postInfo > span {
  padding-right: 10px;
  padding-bottom: 3px;
  display: inline-block;
}
/* line 345, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
.articleHeader .postInfo > span:first-child {
  padding-left: 10px;
}
/* line 349, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
.articleHeader .postInfo a {
  text-decoration: underline;
}
/* line 351, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
.articleHeader .postInfo a:hover {
  text-decoration: none;
}

/* line 358, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
a.read-more {
  text-decoration: underline;
}
/* line 360, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
a.read-more:hover {
  text-decoration: none;
}

/* line 365, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
.post-count {
  float: left;
  padding: 5px 0 0 0;
}

/*********************** end articles listing styles ******************************/
/************************** article info styles ***********************************/
/* line 375, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
#sdsblogArticle .post-image {
  display: block;
  margin-bottom: 30px;
  overflow: hidden;
  max-height: 450px;
}
/* line 380, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
#sdsblogArticle .post-image img {
  width: 100%;
}
/* line 385, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
#sdsblogArticle .blog-fancybox {
  position: relative;
  overflow: hidden;
  display: inline-block;
  cursor: zoom-in;
}
@media only screen and (max-width: 479px) {
  /* line 385, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
  #sdsblogArticle .blog-fancybox {
    width: 100%;
  }
}
/* line 395, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
#sdsblogArticle .blog-fancybox::after {
  position: absolute;
  top: 5px;
  right: 8px;
  color: #121212;
  transition: all 0.3s ease-in-out;
  font-family: "fl-outicons";
  content: "\e033";
  display: inline-block;
  font-weight: normal;
  transform: translate(30px, -30px);
}
/* line 407, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
#sdsblogArticle .blog-fancybox:hover::after {
  transform: none;
}
/* line 413, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
#sdsblogArticle .sdsarticle-des {
  margin-bottom: 30px;
}
@media (min-width: 1200px) {
  /* line 413, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
  #sdsblogArticle .sdsarticle-des {
    font-size: 16px;
    line-height: 1.5;
  }
}
/* line 421, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
#sdsblogArticle .sdsarticle-des img {
  max-width: 100%;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
@media only screen and (max-width: 479px) {
  /* line 421, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
  #sdsblogArticle .sdsarticle-des img {
    max-width: inherit;
  }
}
@media (min-width: 480px) {
  /* line 432, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
  #sdsblogArticle .sdsarticle-des .image-grid {
    display: flex;
  }
  /* line 436, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
  #sdsblogArticle .sdsarticle-des .image-grid > * {
    width: 38%;
  }
  /* line 439, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
  #sdsblogArticle .sdsarticle-des .image-grid > *:last-child {
    width: 25.4%;
  }
}
/* line 446, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
#sdsblogArticle .sdsarticle-des h2 {
  color: #121212;
  font: 700 24px/1.2 "Poiret One", sans-serif;
}
@media (min-width: 1200px) {
  /* line 451, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
  #sdsblogArticle .sdsarticle-des p {
    margin-bottom: 20px;
  }
}
/* line 458, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
#sdsblogArticle .sdstags-update {
  margin-bottom: 30px;
}
/* line 462, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
#sdsblogArticle .block-addthis {
  margin-bottom: 30px;
}
@media (max-width: 479px) {
  /* line 466, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
  #sdsblogArticle .addthis_default_style .addthis_counter {
    clear: left;
  }
  /* line 469, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
  #sdsblogArticle .at-share-tbx-element a.at300b, #sdsblogArticle .at-share-tbx-element a.at300b {
    clear: left;
    display: block;
    margin-bottom: 10px;
    width: auto;
  }
}

/************************ end of article info styles ******************************/
/* line 480, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
#sdsblogArticle .attention img {
  margin: 0 10px;
}

/*************************************** Blog comments *****************************/
/* line 485, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
#comments #commentTitle {
  display: none;
}

@media (min-width: 1200px) {
  /* line 490, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
  #articleComments .title_block {
    margin-bottom: 20px;
  }
}

/* line 497, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
#comments {
  font-family: "Poiret One", sans-serif;
}
/* line 500, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
#comments img.avatar {
  float: left;
  margin-right: 15px;
  margin-bottom: 5px;
}
@media (max-width: 991px) {
  /* line 500, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
  #comments img.avatar {
    width: 60px;
  }
}
@media (min-width: 1600px) {
  /* line 500, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
  #comments img.avatar {
    margin-right: 25px;
  }
}
@media (max-width: 479px) {
  /* line 500, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
  #comments img.avatar {
    float: none;
    margin: 0 0 15px 0;
  }
}
/* line 522, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
#comments > .commentList ul.commentList > li > * {
  margin-bottom: 20px;
}
@media (min-width: 1600px) {
  /* line 522, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
  #comments > .commentList ul.commentList > li > * {
    margin-bottom: 44px;
  }
}
/* line 533, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
#comments .created {
  color: #acacac;
  font-size: 12px;
}
/* line 538, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
#comments .name {
  font-size: 14px;
  color: #121212;
}
@media (min-width: 1200px) {
  /* line 538, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
  #comments .name {
    margin-top: 13px;
  }
}
/* line 547, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
#comments p {
  line-height: 1.5;
  letter-spacing: 0;
}
@media (min-width: 1200px) {
  /* line 547, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
  #comments p {
    font-size: 16px;
  }
}

/* line 557, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
#respond {
  background: #fff;
}

/* line 561, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
#respond h4 {
  position: relative;
  padding: 0 0 30px;
  font-weight: 400;
  text-transform: none;
}
@media (min-width: 1600px) {
  /* line 561, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
  #respond h4 {
    font-size: 1.56vw;
  }
}
/* line 571, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
#respond h4:after {
  display: none;
}
/* line 574, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
#respond h4 small {
  font: normal 13px/18px "Poiret One", sans-serif;
  position: absolute;
  right: 0;
  bottom: 0;
}
/* line 580, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
#respond h4 small a {
  text-decoration: underline;
}
/* line 582, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
#respond h4 small a:hover {
  text-decoration: none;
}

/* line 589, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
#respond #commentInput {
  background: #fff;
  padding: 0 10px 10px 0;
}
@media (max-width: 767px) {
  /* line 593, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
  #respond #commentInput input[type='text'] {
    height: 50px;
    margin-bottom: 10px;
  }
}
@media (min-width: 768px), (min-width: 480px) and (max-width: 767px) {
  /* line 593, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
  #respond #commentInput input[type='text'] {
    max-width: 50%;
  }
}
/* line 605, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
#respond #commentInput textarea {
  margin-top: 10px;
  margin-bottom: 10px;
}
@media (min-width: 1200px) {
  /* line 605, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
  #respond #commentInput textarea {
    margin-top: 15px;
    margin-bottom: 30px;
  }
}

/* line 616, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
#respond #replyTitle {
  display: none;
}

/* line 620, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
#respond table {
  width: 100%;
}

/* line 624, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
#respond .smartblogcaptcha {
  width: 100px;
}

/* line 628, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
#respond td {
  padding: 3px 5px;
}
@media (max-width: 991px) {
  /* line 628, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
  #respond td {
    display: block;
    padding: 0 0 5px;
  }
}

@media (min-width: 1600px) {
  /* line 636, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
  #submitComment {
    padding-left: 40px;
    padding-right: 40px;
  }
}

/* line 643, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
#respond .note {
  color: #888888;
  display: block;
  font-size: 10px;
}

/* line 649, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
#respond td:first-child {
  vertical-align: top;
  padding-top: 3px;
}
/* line 652, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
#respond td:first-child b {
  line-height: 18px;
}
/* line 655, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
#respond td:first-child .note {
  line-height: 10px;
}

/* line 660, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
#respond .text-right {
  padding: 10px 5px 0;
}

/* line 664, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
#sdssearch_block_top {
  padding-top: 0;
}
/* line 100, ../../../../sass/_header_modules_variables.scss */
#sdssearch_block_top #tmsearchbox, #sdssearch_block_top #searchbox {
  float: left;
  width: 100%;
  border: none;
  position: relative;
  background: white;
  border: 2px solid #f4f4f4;
  border-radius: 0px;
}
/* line 109, ../../../../sass/_header_modules_variables.scss */
#sdssearch_block_top #tmsearchbox .btn.button-search, #sdssearch_block_top #searchbox .btn.button-search {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 50px;
  height: 100%;
  border: none;
  background: transparent;
  color: #121212;
  text-align: center;
  transition: all 0.3s ease-in-out;
}
/* line 122, ../../../../sass/_header_modules_variables.scss */
#sdssearch_block_top #tmsearchbox .btn.button-search span, #sdssearch_block_top #searchbox .btn.button-search span {
  display: none;
}
/* line 126, ../../../../sass/_header_modules_variables.scss */
#sdssearch_block_top #tmsearchbox .btn.button-search:before, #sdssearch_block_top #searchbox .btn.button-search:before {
  position: absolute;
  top: 50%;
  right: 0;
  width: 100%;
  font-family: "fl-outicons";
  content: "\e032";
  display: inline-block;
  font-weight: normal;
  -webkit-transform: translate(0, -50%);
  -khtml-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
/* line 135, ../../../../sass/_header_modules_variables.scss */
#sdssearch_block_top #tmsearchbox .btn.button-search:hover, #sdssearch_block_top #searchbox .btn.button-search:hover {
  background: transparent;
  color: #f4d6d6;
}
/* line 140, ../../../../sass/_header_modules_variables.scss */
#sdssearch_block_top #tmsearchbox #tm_search_query, #sdssearch_block_top #tmsearchbox #search_query_top, #sdssearch_block_top #searchbox #tm_search_query, #sdssearch_block_top #searchbox #search_query_top {
  display: block;
  padding: 12px 0 13px 25px;
  height: 45px;
  border: none;
  background: none;
  box-shadow: none !important;
  border-right: 60px solid rgba(222, 222, 222, 0);
}
@media (min-width: 1200px) {
  /* line 140, ../../../../sass/_header_modules_variables.scss */
  #sdssearch_block_top #tmsearchbox #tm_search_query, #sdssearch_block_top #tmsearchbox #search_query_top, #sdssearch_block_top #searchbox #tm_search_query, #sdssearch_block_top #searchbox #search_query_top {
    height: 55px;
    padding-top: 16px;
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  /* line 670, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
  #smartblogsearch .title_block {
    display: none;
  }
}

/* line 677, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
ul.commentList ul {
  padding-left: 15px;
}
@media (min-width: 768px) {
  /* line 677, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
  ul.commentList ul {
    padding-left: 2.60vw;
  }
}
@media (min-width: 1200px) {
  /* line 677, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
  ul.commentList ul {
    padding-left: 55px;
  }
}

/* line 690, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
.commentList .well {
  background: #fff;
}
@media (max-width: 767px) {
  /* line 690, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
  .commentList .well {
    position: relative;
    padding-bottom: 50px;
  }
}
/* line 697, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
.commentList .created, .commentList .name {
  margin-bottom: 8px;
}
@media (min-width: 1200px) {
  /* line 700, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
  .commentList .comment-reply-link.btn {
    margin-top: 15px;
  }
}
@media (min-width: 1600px) {
  /* line 700, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
  .commentList .comment-reply-link.btn {
    padding-left: 43px;
    padding-right: 43px;
  }
}

/* line 712, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
#articleRelated {
  text-align: center;
}
/* line 715, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
#articleRelated .title_block {
  font-weight: 400;
  text-align: left;
}
@media (min-width: 1200px) {
  /* line 715, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
  #articleRelated .title_block {
    margin-bottom: 23px;
  }
}
/* line 724, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
#articleRelated .products-block-image {
  position: relative;
  display: block;
  overflow: hidden;
  background-color: #121212;
  backface-visibility: hidden;
}
/* line 731, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
#articleRelated .products-block-image::before, #articleRelated .products-block-image::after {
  content: '';
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  pointer-events: none;
}
/* line 737, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
#articleRelated .products-block-image::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 2px solid #dedede;
  border-bottom: 2px solid #dedede;
  opacity: 0;
  transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 0, 1);
  transform-origin: 50% 50%;
}
@media (min-width: 992px) {
  /* line 753, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
  #articleRelated .products-block-image:hover::after {
    opacity: 0.2;
    transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 1, 1);
  }
  /* line 757, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
  #articleRelated .products-block-image:hover img {
    opacity: 0.9;
    transform: scale3d(1.05, 1.05, 1);
  }
}
/* line 764, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
#articleRelated .products-block-image img {
  opacity: .5;
  transition: all 0.3s ease-in-out;
}
/* line 770, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
#articleRelated h5 {
  margin-top: 20px;
  margin-bottom: 5px;
}
/* line 775, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
#articleRelated .post-name {
  overflow: hidden;
  display: inline-block;
  width: 100%;
  color: #121212;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: none;
  font: 700 18px/1.6 "Poiret One", sans-serif;
}
@media (min-width: 1200px) {
  /* line 775, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
  #articleRelated .post-name {
    font-size: 24px;
  }
}
/* line 790, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
#articleRelated .info {
  display: block;
  margin-bottom: 10px;
}
@media (min-width: 1200px) {
  /* line 790, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
  #articleRelated .info {
    margin-bottom: 15px;
    font-size: 14px;
  }
}
/* line 800, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
#articleRelated .desc {
  padding-right: 10px;
  padding-left: 10px;
}
/* line 806, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
#articleRelated .bx-wrapper .row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
/* line 810, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
#articleRelated .bx-wrapper li {
  clear: none !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
@media (min-width: 1200px) {
  /* line 817, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
  #articleRelated .bx-wrapper .bx-controls .bx-controls-direction {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34vw;
    margin: 0 auto;
  }
  /* line 264, ../../../../sass/_elements_variables.scss */
  #articleRelated .bx-wrapper .bx-controls .bx-controls-direction::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 42%;
    border-bottom: 2px solid #e1e4e2;
    transform: translate(-50%, -50%);
  }
}
/* line 275, ../../../../sass/_elements_variables.scss */
#articleRelated .bx-wrapper .bx-controls .bx-controls-direction .bx-next, #articleRelated .bx-wrapper .bx-controls .bx-controls-direction .bx-prev {
  position: relative;
  display: inline-block;
  margin: 0 40px;
}
/* line 280, ../../../../sass/_elements_variables.scss */
#articleRelated .bx-wrapper .bx-controls .bx-controls-direction .bx-next::before, #articleRelated .bx-wrapper .bx-controls .bx-controls-direction .bx-prev::before {
  font-size: 30px;
}
/* line 823, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
#articleRelated li {
  padding-bottom: 20px;
}
@media only screen and (min-width: 992px) {
  /* line 827, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
  #articleRelated li.first-in-line {
    clear: left;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /* line 832, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
  #articleRelated li.first-item-of-tablet-line {
    clear: left;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  /* line 823, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
  #articleRelated li {
    width: 50%;
    float: left;
    text-align: center;
  }
  /* line 840, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
  #articleRelated li.first-item-of-mobile-line {
    clear: left;
  }
}
@media only screen and (max-width: 767px) {
  /* line 845, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
  #articleRelated li .img-responsive {
    width: 100%;
  }
}
/* line 850, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
#articleRelated .products-block-image {
  margin-bottom: 10px;
  display: block;
}

@media (min-width: 1200px) {
  /* line 858, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
  .module-smartblog-category.two-columns .column, .module-smartblog-details.two-columns .column {
    padding-right: 3.13vw;
  }
}
@media (min-width: 1600px) {
  /* line 858, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
  .module-smartblog-category.two-columns .column, .module-smartblog-details.two-columns .column {
    padding-right: 60px;
  }
}

/* line 872, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
body[class*='smartblog'] .column > * {
  margin: 0;
}
@media (min-width: 768px) {
  /* line 875, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
  body[class*='smartblog'] .column > * + * {
    margin-top: 6vw;
  }
}
@media (min-width: 1600px) {
  /* line 875, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
  body[class*='smartblog'] .column > * + * {
    margin-top: 115px;
  }
}
@media (min-width: 1200px) {
  /* line 885, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
  body[class*='smartblog'] .column .title_block {
    margin-bottom: 15px;
  }
}
@media (min-width: 768px) {
  /* line 892, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
  body[class*='smartblog'] .breadcrumb {
    margin-bottom: 6vw;
  }
}
@media (min-width: 1600px) {
  /* line 892, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
  body[class*='smartblog'] .breadcrumb {
    margin-bottom: 115px;
  }
}
/* line 902, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
body[class*='smartblog'] .desc {
  display: block;
  display: -webkit-box;
  font: normal 13px/18px "Poiret One", sans-serif;
  color: #131313;
  letter-spacing: 0;
  line-height: 1.5;
  max-height: 42px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (min-width: 1200px) {
  /* line 902, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
  body[class*='smartblog'] .desc {
    font-size: 16px;
    max-height: 50px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 902, ../../../../sass/modules/smartblog/css/smartblogstyle.scss */
  body[class*='smartblog'] .desc {
    display: none;
  }
}
