/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
/*$base-border-color: darken(saturate(adjust_hue($color-box, 139.99999999999983), 5.263157894736871%), 6.470588235294116%);*/
/*
* @package       change-grid-on-big-screen
* @description   make grid like in design
*
*/
/*
* @package       custom-scroll-bar
* @description   make you scroll bar pretty and better
*
*/
/*
* @subsection   icons
*
* @description
*/
/*
* @package       header icons title display mixin
* @description
*
*/
/*
* @package     bxSlider controls mixin
* @description
*
*/
/*
* @section   Categories Page Styles
*/
.content_scene_cat {
  overflow: hidden;
  line-height: 19px;
  margin: 0 0 26px 0;
  display: none;
}

@media only screen and (max-width: 479px) {
  .content_scene_cat {
    display: none;
  }
}

.content_scene_cat .content_scene_cat_bg {
  display: flex;
  min-height: 24.43vw;
  padding: 40px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top 50% left 50%;
  color: #dedede;
}

.content_scene_cat .content_scene_cat_bg > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content_scene_cat span.category-name {
  font: bold 65px/1.30769 "Museo", sans-serif;
  font-size: 24px;
  color: #dedede;
  margin-bottom: 12px;
  display: inline-block;
  text-transform: uppercase;
}

@media (min-width: 992px) {
  .content_scene_cat span.category-name {
    font-size: 40px;
  }
}

@media (min-width: 1200px) {
  .content_scene_cat span.category-name {
    font-size: 58px;
  }
}

.content_scene_cat .category-description {
  line-height: 1.5;
}

@media (min-width: 992px) {
  .content_scene_cat .category-description {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .content_scene_cat .category-description {
    font-size: 16px;
  }
}

.content_scene_cat p {
  margin-bottom: 0;
}

.content_scene_cat a {
  color: #dedede;
}

.content_scene_cat a.lnk_more {
  font-weight: bold;
}

.content_scene_cat .content_scene {
  color: #595959;
}

.content_scene_cat .content_scene .cat_desc {
  padding-top: 20px;
}

.content_scene_cat .content_scene .cat_desc a {
  color: #626262;
}

.content_scene_cat .content_scene .cat_desc a:hover {
  color: #f4d6d6;
}

/*
* @subsection   Sub Categories Styles
*/
#subcategories {
  padding: 15px 0 0 0;
}

#subcategories p.subcategory-heading {
  font: bold 24px/28px "Museo", sans-serif;
  margin: 0 0 15px 0;
}

#subcategories .bx-wrapper ul {
  margin: 0;
}

#subcategories .bx-wrapper ul li {
  margin: 0;
}

#subcategories .bx-wrapper .bx-prev, #subcategories .bx-wrapper .bx-next {
  top: 0;
  right: -65px;
  left: auto;
  height: calc(50% - 5px);
  margin: 0;
}

#subcategories .bx-wrapper .bx-prev::before, #subcategories .bx-wrapper .bx-next::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#subcategories .bx-wrapper .bx-next {
  top: auto;
  bottom: 0;
}

#subcategories ul {
  margin: 0 0 0 -20px;
}

@media (max-width: 479px) {
  #subcategories ul {
    margin: 0;
    text-align: center;
  }
}

#subcategories ul li {
  float: left;
  width: 128px;
  margin: 0 0 13px 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  position: relative;
  display: block;
  background: #f4f4f4;
}

@media (max-width: 479px) {
  #subcategories ul li {
    width: 45%;
    float: none;
    margin: 0 1% 13px;
    display: inline-block;
    vertical-align: top;
  }
}

#subcategories ul li .subcategory-image {
  padding: 0 0 8px 0;
}

#subcategories ul li .subcategory-image a {
  display: block;
}

#subcategories ul li .subcategory-image a img {
  max-width: 100%;
  vertical-align: top;
  height: auto;
  max-height: 125px;
  margin-left: auto;
  margin-right: auto;
}

#subcategories ul li h5 {
  margin: 0;
}

#subcategories ul li .subcategory-name {
  text-transform: uppercase;
  color: #595959;
}

#subcategories ul li .subcategory-name:hover {
  color: #f4d6d6;
}

#subcategories ul li .cat_desc {
  display: none;
}
