/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
/*
* @package       change-grid-on-big-screen
* @description   make grid like in design
*
*/
/*
* @package       custom-scroll-bar
* @description   make you scroll bar pretty and better
*
*/
/*
* @subsection   icons
*
* @description
*/
/*
* @package       header icons title display mixin
* @description
*
*/
/*
* @package     bxSlider controls mixin
* @description
*
*/
/*
* @subsection   Compare Page Styles
*/
/* line 10, ../sass/comparator.scss */
table#product_comparison tbody tr td.product-block {
  vertical-align: top;
  padding: 14px 19px 19px;
  text-align: center;
}
/* line 17, ../sass/comparator.scss */
table#product_comparison tbody tr td.td_empty,
table#product_comparison tbody tr td.feature-name, table#product_comparison tbody tr.comparison_header {
  background: white;
  color: #3f3f3f;
}
/* line 21, ../sass/comparator.scss */
table#product_comparison tbody tr td.comparison_infos {
  text-align: center;
}
/* line 23, ../sass/comparator.scss */
table#product_comparison tbody tr td.comparison_infos div.center {
  margin: 0 auto;
  width: 80px;
}
/* line 28, ../sass/comparator.scss */
table#product_comparison tbody tr td.td_empty {
  vertical-align: bottom;
}
/* line 30, ../sass/comparator.scss */
table#product_comparison tbody tr td.td_empty > span {
  font: bold 24px/28px "Poiret One", sans-serif;
  text-transform: uppercase;
  color: #121212;
  white-space: nowrap;
}
/* line 39, ../sass/comparator.scss */
table#product_comparison .remove {
  text-align: right;
  padding: 0 0 15px 0;
}
/* line 42, ../sass/comparator.scss */
table#product_comparison .remove a {
  font-size: 23px;
  line-height: 23px;
  color: #595959;
}
/* line 46, ../sass/comparator.scss */
table#product_comparison .remove a:hover {
  color: #f4d6d6;
}
/* line 51, ../sass/comparator.scss */
table#product_comparison .product-image-block {
  display: inline-block;
  position: relative;
  max-width: 250px;
}
/* line 55, ../sass/comparator.scss */
table#product_comparison .product-image-block .product_image {
  position: relative;
  display: block;
  background: #f4f4f4;
  display: inline-block;
  margin: 0 0 8px 0;
}
/* line 59, ../sass/comparator.scss */
table#product_comparison .product-image-block .product_image img {
  width: 100%;
}
/* line 64, ../sass/comparator.scss */
table#product_comparison h5 {
  padding: 0 0 8px 0;
  min-height: 54px;
}
/* line 68, ../sass/comparator.scss */
table#product_comparison .prices-container {
  padding: 0 0 5px 0;
}
/* line 71, ../sass/comparator.scss */
table#product_comparison .comparison_availability_statut {
  font-weight: bold;
  color: #91dd4d;
}
/* line 75, ../sass/comparator.scss */
table#product_comparison .product_discount {
  padding-top: 5px;
}
/* line 77, ../sass/comparator.scss */
table#product_comparison .product_discount .reduced-price {
  color: #ff514d;
  font-weight: bold;
}
/* line 82, ../sass/comparator.scss */
table#product_comparison .product_desc {
  padding: 0 0 12px 0;
}
/* line 86, ../sass/comparator.scss */
table#product_comparison .button-container a, table#product_comparison .button-container > span {
  margin-bottom: 10px;
}
/* line 90, ../sass/comparator.scss */
table#product_comparison .comparison_unit_price {
  font-size: 17px;
  font-family: "Poiret One", sans-serif;
  color: #121212;
  font-style: italic;
}
/* line 96, ../sass/comparator.scss */
table#product_comparison .product-rating {
  width: 100px;
  margin: 0 auto;
  overflow: hidden;
}
/* line 102, ../sass/comparator.scss */
table#product_comparison .comparison_feature .product_name {
  display: none;
}
/* line 106, ../sass/comparator.scss */
table#product_comparison td.compare_extra_information {
  padding: 10px;
}
/* line 109, ../sass/comparator.scss */
table#product_comparison #social-share-compare {
  margin-bottom: 50px;
}
/* line 112, ../sass/comparator.scss */
table#product_comparison #social-share-compare .socialsharing_product button {
  margin-bottom: 7px;
  text-align: center;
}

/* line 120, ../sass/comparator.scss */
.footer_link {
  margin: 0 0 20px 0;
}

/* line 124, ../sass/comparator.scss */
#stOCClose {
  width: 29px !important;
  height: 29px !important;
}

/* line 132, ../sass/comparator.scss */
.stButton .stFb,
.stButton .stTwbutton,
.stButton .stMainServices,
.stButton .stButton_gradient {
  height: 22px !important;
}

/* line 137, ../sass/comparator.scss */
.share strong {
  display: block;
  margin-bottom: 10px;
}
/* line 141, ../sass/comparator.scss */
.share > div {
  margin-bottom: 8px;
}
@media (min-width: 1200px) {
  /* line 136, ../sass/comparator.scss */
  .share {
    position: relative;
    top: -350px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 136, ../sass/comparator.scss */
  .share {
    position: relative;
    top: -260px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 136, ../sass/comparator.scss */
  .share {
    position: relative;
    top: -245px;
  }
}

/* line 158, ../sass/comparator.scss */
.stArrow {
  display: none !important;
}

/*
* @subsection   Responsive code
*/
@media (min-width: 992px) {
  /* line 167, ../sass/comparator.scss */
  #columns table#product_comparison tbody tr td.td_empty span {
    font-size: 14px;
  }
  /* line 170, ../sass/comparator.scss */
  #columns table#product_comparison tbody tr td.product-block {
    padding: 14px;
  }
  /* line 174, ../sass/comparator.scss */
  #columns table#product_comparison .btn.ajax_add_to_cart_button,
  #columns table#product_comparison .btn.lnk_view {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  /* line 181, ../sass/comparator.scss */
  #product_comparison thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  /* line 186, ../sass/comparator.scss */
  #product_comparison tr {
    overflow: hidden;
  }
  /* line 188, ../sass/comparator.scss */
  #product_comparison tr:last-child {
    border-bottom: none;
  }
  /* line 190, ../sass/comparator.scss */
  #product_comparison tr:last-child td {
    border-bottom: none;
  }

  /* line 195, ../sass/comparator.scss */
  #product_comparison td {
    white-space: normal;
    width: 33.33%;
  }
  /* line 198, ../sass/comparator.scss */
  #product_comparison td:last-child {
    border-bottom: none;
  }
  /* line 201, ../sass/comparator.scss */
  #product_comparison td:first-child {
    position: static;
  }

  /* line 207, ../sass/comparator.scss */
  #product_comparison .comparison_feature .feature-name {
    width: 100%;
    float: none;
    clear: both;
  }
}
/* line 216, ../sass/comparator.scss */
#products-comparison .products_block {
  margin-bottom: 15px;
  max-width: 100%;
  overflow: auto;
}
/* line 221, ../sass/comparator.scss */
#products-comparison .products_block .table {
  margin-bottom: 15px;
}
/* line 224, ../sass/comparator.scss */
#products-comparison .products_block .popover.bottom > .arrow {
  top: -11px !important;
}
/* line 228, ../sass/comparator.scss */
#products-comparison .products_block .daydeal-box {
  display: none;
}
@media (max-width: 991px) {
  /* line 233, ../sass/comparator.scss */
  #products-comparison .products_block td {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  /* line 237, ../sass/comparator.scss */
  #products-comparison .products_block h5 {
    margin: 0;
    padding: 0;
  }
  /* line 240, ../sass/comparator.scss */
  #products-comparison .products_block h5 a.product-name {
    font-size: 12px;
    line-height: 18px;
  }
  /* line 246, ../sass/comparator.scss */
  #products-comparison .products_block .prices-container .price {
    font-size: 13px;
    line-height: 18px;
  }
  /* line 250, ../sass/comparator.scss */
  #products-comparison .products_block .prices-container .old-price {
    display: none;
  }
  /* line 254, ../sass/comparator.scss */
  #products-comparison .products_block .popover-content {
    font-size: 11px;
    line-height: 15px;
    padding: 3px;
  }
  /* line 258, ../sass/comparator.scss */
  #products-comparison .products_block .popover-content .well {
    margin-bottom: 10px;
  }
}
/* line 266, ../sass/comparator.scss */
#products-comparison .products_block table#product_comparison tbody tr td {
  min-width: 160px;
}

/* line 275, ../sass/comparator.scss */
.products-comparison .page-heading {
  margin-bottom: 20px;
  padding-bottom: 0;
}
