/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
/*$base-border-color: darken(saturate(adjust_hue($color-box, 139.99999999999983), 5.263157894736871%), 6.470588235294116%);*/
/*
* @subsection   Contact Page Styles
*/
.contact-title {
  margin: -5px 0 27px 0;
  line-height: 23px;
}

.contact-title i {
  font-size: 23px;
  color: #595959;
  padding: 0 8px 0 0;
}

.contact-form-box {
  padding: 23px 0 0 0;
  margin: 0 0 30px 0;
  background: url(../img/contact-form.png) repeat-x #dedede;
  -webkit-box-shadow: rgba(0, 0, 0, 0.17) 0 5px 13px 2px 5px rgba(0, 0, 0, 0.4);
  -khtml-box-shadow: rgba(0, 0, 0, 0.17) 0 5px 13px 2px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: rgba(0, 0, 0, 0.17) 0 5px 13px 2px 5px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: rgba(0, 0, 0, 0.17) 0 5px 13px 2px 5px rgba(0, 0, 0, 0.4);
  -o-box-shadow: rgba(0, 0, 0, 0.17) 0 5px 13px 2px 5px rgba(0, 0, 0, 0.4);
  box-shadow: rgba(0, 0, 0, 0.17) 0 5px 13px 2px 5px rgba(0, 0, 0, 0.4);
}

.contact-form-box fieldset {
  padding: 0 19px 21px 19px;
  background: url(../img/form-contact-shadow.png) center bottom no-repeat;
  background-size: contain;
}

.contact-form-box label {
  margin: 0 0 6px 0;
}

.contact-form-box .page-subheading {
  padding-left: 0;
  border: none;
}

.contact-form-box .col-md-3 {
  padding-left: 0;
}

@media (max-width: 991px) {
  .contact-form-box .col-md-3 {
    padding-right: 0;
  }
}

.contact-form-box .col-md-9 {
  padding-right: 0;
}

@media (max-width: 991px) {
  .contact-form-box .col-md-9 {
    padding-left: 0;
  }
}

.contact-form-box #desc_contact0 {
  display: none;
}

.contact-form-box .form-group {
  margin-bottom: 7px;
}

.contact-form-box textarea {
  height: 257px;
}

.contact-form-box .submit {
  margin-top: 13px;
}

.contact-form-box select.form-control {
  max-width: 270px;
  width: 100%;
}

.contact-form-box input.form-control {
  max-width: 270px;
}

#contact.hide-right-column div.uploader span.filename,
#contact.hide-left-column div.uploader span.filename {
  width: 97px;
}

@media (min-width: 992px) and (max-width: 1199px) {
  #contact.hide-right-column div.uploader span.filename,
  #contact.hide-left-column div.uploader span.filename {
    width: 53px;
  }
}

#contact.hide-right-column.hide-left-column div.uploader span.filename {
  width: 172px;
}

@media (min-width: 992px) and (max-width: 1199px) {
  #contact.hide-right-column.hide-left-column div.uploader span.filename {
    width: 114px;
  }
}

@media (min-width: 320px) and (max-width: 340px) {
  #contact.hide-right-column.hide-left-column div.uploader span.filename {
    width: 155px;
  }
}
