/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
/*$base-border-color: darken(saturate(adjust_hue($color-box, 139.99999999999983), 5.263157894736871%), 6.470588235294116%);*/
/*
* @package       change-grid-on-big-screen
* @description   make grid like in design
*
*/
/*
* @package       custom-scroll-bar
* @description   make you scroll bar pretty and better
*
*/
/*
* @subsection   icons
*
* @description
*/
/*
* @package       header icons title display mixin
* @description
*
*/
/*
* @package     bxSlider controls mixin
* @description
*
*/
/*
* @subsection   History Page Styles
*/
#order-detail-content table .return_quantity {
  text-align: center;
  min-width: 108px;
}

#order-detail-content table .return_quantity .return_quantity_buttons {
  margin-top: 3px;
  display: flex;
  justify-content: center;
}

#order-detail-content table .return_quantity .return_quantity_buttons a {
  display: none;
  float: left;
}

#order-detail-content table .return_quantity .return_quantity_buttons a + a {
  margin-left: 3px;
}

#order-detail-content table .return_quantity .order_qte_input {
  display: none;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  width: 75px;
  text-align: center;
}

#order-detail-content table .return_quantity label {
  font-weight: 400;
}

.table td.history_detail a + a {
  margin-left: 14px;
}

.table td.step-by-step-date {
  width: 105px;
}

.table tfoot strong {
  color: #404040;
}

.info-order i {
  font-size: 20px;
}

.info-order i.icon-gift {
  color: #ff514d;
}

.info-order i.icon-repeat {
  color: #91dd4d;
}

@media (max-width: 767px) {
  #submitReorder {
    overflow: hidden;
  }
  #submitReorder .pull-right {
    float: none !important;
  }
}

#sendOrderMessage {
  margin-bottom: 30px;
}

#sendOrderMessage select.form-control {
  width: 263px;
}

textarea.form-control {
  padding: 20px;
}
