/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
/*
* @subsection   Maintenance Page Styles
*/
/* line 6, ../sass/maintenance.scss */
#body {
  background-color: #F7F7F7;
}

/* line 10, ../sass/maintenance.scss */
#maintenance {
  margin: 50px 0 0 0;
  background-color: #dedede;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3) 2px 5px rgba(0, 0, 0, 0.4);
  -khtml-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3) 2px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3) 2px 5px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3) 2px 5px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3) 2px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3) 2px 5px rgba(0, 0, 0, 0.4);
}
@media (min-width: 1200px) {
  /* line 10, ../sass/maintenance.scss */
  #maintenance {
    margin: 126px 0 0 0;
    padding: 50px;
  }
}
/* line 18, ../sass/maintenance.scss */
#maintenance .logo {
  margin: 0 0 31px 0;
  text-align: center;
}
/* line 22, ../sass/maintenance.scss */
#maintenance h1 {
  font: 24px "Poiret One", sans-serif;
  color: #3f3f3f;
  padding: 0 0 14px 0;
  margin: 0 0 19px 0;
}
/* line 28, ../sass/maintenance.scss */
#maintenance #message {
  font: 14px "Poiret One", sans-serif;
  padding: 0 0 0 18px;
  color: #3f3f3f;
  text-align: center;
}

/* line 36, ../sass/maintenance.scss */
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  /* line 44, ../sass/maintenance.scss */
  .container {
    width: 500px;
  }
}
@media (min-width: 992px) {
  /* line 50, ../sass/maintenance.scss */
  .container {
    width: 500px;
  }
}
@media (min-width: 1200px) {
  /* line 56, ../sass/maintenance.scss */
  .container {
    width: 500px;
  }
}
@media only screen and (min-width: 1200px) {
  /* line 62, ../sass/maintenance.scss */
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}
