/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
/*$base-border-color: darken(saturate(adjust_hue($color-box, 139.99999999999983), 5.263157894736871%), 6.470588235294116%);*/
/*
* @subsection   My-account Page Styles
*/
#my-account .page-heading {
  padding-bottom: 0;
}

@media (min-width: 992px) and (max-width: 1199px) {
  #my-account .page-heading {
    margin-bottom: 20px;
  }
}

#my-account .addresses-lists {
  margin-bottom: 30px;
}

#my-account p.info-account {
  margin: -4px 0 24px 0;
}

#my-account ul.myaccount-link-list li {
  overflow: hidden;
  padding-bottom: 10px;
}

#my-account ul.myaccount-link-list li a {
  display: block;
  overflow: hidden;
  font: bold 24px/28px "Museo", sans-serif;
  font-weight: 500;
  text-decoration: none;
  position: relative;
  border: 1px solid;
  border-color: #e4e1e1;
  background: white;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 992px) and (max-width: 1199px) {
  #my-account ul.myaccount-link-list li a {
    font-size: 18px;
    font-weight: 500;
  }
}

#my-account ul.myaccount-link-list li a i {
  font-size: 25px;
  position: absolute;
  left: 0;
  top: 0;
  width: 52px;
  height: 100%;
  padding: 0;
  line-height: 55px;
  text-align: center;
  border-right: 1px solid white;
}

#my-account ul.myaccount-link-list li a span {
  display: block;
  padding: 13px 15px 15px 17px;
  overflow: hidden;
  border-left: 1px solid;
  margin-left: 52px;
  border-color: #e4e1e1;
}

#my-account ul.myaccount-link-list li a:hover {
  background: #f2f2f2;
  border-color: #d8d4d4;
  color: #595959;
}
