/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
/*
* @subsection   One-Page Checkout Styles
*/
/* line 6, ../sass/order-opc.scss */
#order-opc {
  line-height: 20px;
}
/* line 8, ../sass/order-opc.scss */
#order-opc .box {
  padding-bottom: 20px;
}
/* line 11, ../sass/order-opc.scss */
#order-opc .cart_navigation {
  margin-bottom: 53px;
}
/* line 14, ../sass/order-opc.scss */
#order-opc .page-heading.step-num {
  position: relative;
  padding-left: 45px;
  overflow: visible;
}
/* line 18, ../sass/order-opc.scss */
#order-opc .page-heading.step-num span {
  font: bold 65px/1.30769 "Poiret One", sans-serif;
  color: #121212;
  position: absolute;
  left: 0;
  top: -25px;
}
/* line 28, ../sass/order-opc.scss */
#order-opc .columns-container .form-group {
  margin-bottom: 2px;
}
/* line 30, ../sass/order-opc.scss */
#order-opc .columns-container .form-group .form-control {
  max-width: 271px;
}
/* line 36, ../sass/order-opc.scss */
#order-opc .lost_password {
  display: inline-block;
  text-decoration: underline;
  margin: 5px 0 14px;
}
/* line 40, ../sass/order-opc.scss */
#order-opc .lost_password:hover {
  text-decoration: none;
}
/* line 44, ../sass/order-opc.scss */
#order-opc .opc-button {
  padding: 11px 0 0 0;
}
/* line 47, ../sass/order-opc.scss */
#order-opc ul.bullet {
  line-height: 22px;
  margin-bottom: 5px;
}
/* line 51, ../sass/order-opc.scss */
#order-opc .date-select {
  padding-bottom: 10px;
}
/* line 54, ../sass/order-opc.scss */
#order-opc .opc-add-save {
  border-top: 1px solid #e1e4e2;
  margin-top: 20px;
  padding-top: 20px;
}
/* line 59, ../sass/order-opc.scss */
#order-opc #message {
  margin-bottom: 35px;
}
/* line 62, ../sass/order-opc.scss */
#order-opc #opc_payment_methods {
  margin-bottom: 30px;
}
/* line 64, ../sass/order-opc.scss */
#order-opc #opc_payment_methods p.warning {
  color: #ff514d;
  font-weight: bold;
}
/* line 69, ../sass/order-opc.scss */
#order-opc #opc_account {
  margin-bottom: 30px;
}
/* line 72, ../sass/order-opc.scss */
#order-opc .address_delivery.select {
  margin-bottom: 15px;
}
/* line 75, ../sass/order-opc.scss */
#order-opc #address_invoice_form.form-group {
  margin-bottom: 30px;
}

/* line 82, ../sass/order-opc.scss */
#new_account_form .id_state,
#new_account_form .dni,
#new_account_form .postcode {
  display: none;
}
