/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
/*
* @subsection   Print Styles
*/
@media only print {
  /* line 10, ../sass/print.scss */
  #header .nav,
  #header .banner,
  #header .row > div {
    display: none;
  }
  /* line 13, ../sass/print.scss */
  #header .row div#header_logo, #header .row div.header_logo {
    display: block;
  }

  /* line 17, ../sass/print.scss */
  #center_column {
    width: 100% !important;
  }

  /* line 21, ../sass/print.scss */
  #left_column,
  #right_column {
    display: none;
  }

  /* line 26, ../sass/print.scss */
  .no-print,
  #quantity_wanted_p > a,
  a.quick-view {
    display: none !important;
  }

  /* line 31, ../sass/print.scss */
  div.selector,
  div.selector span,
  div.selector select {
    background: none;
  }

  /* line 35, ../sass/print.scss */
  #thumbs_list li a:hover,
  #thumbs_list li a.shown {
    border-color: #fff;
  }

  /* line 39, ../sass/print.scss */
  .product_attributes,
  .box-cart-bottom {
    -webkit-box-shadow: none 2px 5px rgba(0, 0, 0, 0.4);
    -khtml-box-shadow: none 2px 5px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: none 2px 5px rgba(0, 0, 0, 0.4);
    -ms-box-shadow: none 2px 5px rgba(0, 0, 0, 0.4);
    -o-box-shadow: none 2px 5px rgba(0, 0, 0, 0.4);
    box-shadow: none 2px 5px rgba(0, 0, 0, 0.4);
  }

  /* line 42, ../sass/print.scss */
  .pb-left-column #views_block {
    margin-top: 10px;
    width: 278px !important;
  }

  /* line 47, ../sass/print.scss */
  #thumbs_list_frame,
  #thumbs_list {
    width: 100% !important;
    height: 100% !important;
  }

  /* line 53, ../sass/print.scss */
  #thumbs_list li,
  #thumbs_list li:first-child {
    margin: 4px;
    width: 82px;
    height: 82px;
  }

  /* line 61, ../sass/print.scss */
  #view_scroll_left,
  #view_scroll_right,
  .view_scroll_spacer {
    display: none !important;
  }

  /* line 64, ../sass/print.scss */
  .bx-wrapper {
    width: 100% !important;
    max-width: 100% !important;
  }

  /* line 68, ../sass/print.scss */
  .bx-viewport {
    height: auto !important;
  }

  /* line 73, ../sass/print.scss */
  #bxslider,
  #bxslider1,
  #crossselling_list_car {
    width: 100% !important;
    height: auto !important;
    overflow: visible !important;
  }

  /* line 79, ../sass/print.scss */
  #bxslider1 .product-box {
    min-height: 200px;
  }

  /* line 83, ../sass/print.scss */
  .bx-controls-direction {
    display: none;
  }

  /* line 89, ../sass/print.scss */
  #footer .row > div,
  #footer .row > section {
    display: none;
  }
  /* line 91, ../sass/print.scss */
  #footer .row > div#block_contact_infos,
  #footer .row > section#block_contact_infos {
    display: block;
    width: 100%;
    border-left: none;
    border-top: 1px solid #515151;
    padding-top: 20px;
  }

  /* line 101, ../sass/print.scss */
  .footer-container #footer h4:after {
    display: none;
  }
}
