@charset "UTF-8";
/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
/*$base-border-color: darken(saturate(adjust_hue($color-box, 139.99999999999983), 5.263157894736871%), 6.470588235294116%);*/
/*
* @package       change-grid-on-big-screen
* @description   make grid like in design
*
*/
/*
* @package       custom-scroll-bar
* @description   make you scroll bar pretty and better
*
*/
/*
* @subsection   icons
*
* @description
*/
/*
* @package       header icons title display mixin
* @description
*
*/
/*
* @package     bxSlider controls mixin
* @description
*
*/
/*
* @section      Page Product Styles
*/
.primary_block {
  margin-bottom: 10px;
}

@media (min-width: 480px) {
  .primary_block {
    margin-top: 10px;
  }
}

.product-heading-h5 {
  font: bold 24px/28px "Museo", sans-serif;
}

#productscategory_list .product-name,
#crossselling_list_car .product-name,
.related-block .product-name,
.accessories-block .product-name {
  margin-bottom: 5px;
}

.primary_block .pb-left-column img {
  max-width: 100%;
  height: auto;
}

/*
* @subsection     Left column in product block
*/
/* .pb-left-column ***************************************************************************** */
@media only screen and (max-width: 479px) {
  .pb-left-column {
    max-width: 320px;
    margin: 0 auto 15px;
    float: none;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .pb-left-column {
    max-width: 480px;
    margin: 0 auto 15px;
    float: none;
  }
}

.pb-left-column #image-block {
  z-index: 1;
  position: relative;
  display: block;
  background: #f4f4f4;
}

.pb-left-column #image-block img {
  width: 100%;
}

.pb-left-column #image-block #view_full_size {
  display: block;
  cursor: pointer;
}

.pb-left-column #image-block #view_full_size .span_link {
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -68px;
  display: none;
  padding: 10px 0;
  text-align: center;
  line-height: 22px;
  color: #404040;
  width: 136px;
  font-weight: 700;
  background: rgba(222, 222, 222, 0.5);
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16) 2px 5px rgba(0, 0, 0, 0.4);
  -khtml-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16) 2px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16) 2px 5px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16) 2px 5px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16) 2px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.16) 2px 5px rgba(0, 0, 0, 0.4);
}

.pb-left-column #image-block #view_full_size .span_link:after {
  font-family: "FontAwesome";
  color: #595959;
  font-size: 20px;
  line-height: 22px;
  content: "\f00e";
  font-weight: normal;
  margin: 0 0 0 4px;
}

.pb-left-column #image-block #view_full_size .span_link:hover:after {
  color: #404040;
}

.pb-left-column #image-block a.jqzoom div div img {
  width: auto;
  max-width: 10000px;
}

.pb-left-column #image-block a.jqzoom div div .zoomWrapper {
  border: none;
}

.pb-left-column #image-block .zoomPad {
  z-index: auto !important;
}

.pb-left-column #image-block .new-box,
.pb-left-column #image-block .sale-box {
  z-index: 50002;
}

.pb-left-column #views_block, .pb-left-column #views_block-1 {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 15px;
  margin-top: 0;
}

@media (min-width: 1640px) {
  .pb-left-column #views_block, .pb-left-column #views_block-1 {
    left: 10px;
  }
}

#thumbs_list {
  overflow: hidden;
  width: 100%;
}

#thumbs_list ul#thumbs_list_frame {
  list-style-type: none;
  padding-left: 0;
  overflow: hidden;
  width: 80px;
}

#thumbs_list li {
  float: left;
  width: 100%;
  cursor: pointer;
  line-height: 0;
}

#thumbs_list li a {
  position: relative;
  display: block;
  background: #f4f4f4;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease;
  -khtml-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #fcfcfc;
}

#thumbs_list li a:hover, #thumbs_list li a.zoomThumbActive, #thumbs_list li a.shown {
  background: #f4f4f4;
}

#thumbs_list li a:hover img, #thumbs_list li a.zoomThumbActive img, #thumbs_list li a.shown img {
  opacity: 1;
}

#thumbs_list li img {
  width: 100%;
  height: 100%;
  opacity: .3;
  -webkit-transition: all 0.3s ease;
  -khtml-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

#view_scroll_left,
#view_scroll_right {
  width: 100%;
  line-height: 0;
  font-size: 0;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  background: rgba(18, 18, 18, 0.3);
  text-align: center;
}

#view_scroll_left:before,
#view_scroll_right:before {
  color: #dedede;
  font-family: "FontAwesome";
  font-size: 20px;
  line-height: 22px;
}

#view_scroll_left:hover:before,
#view_scroll_right:hover:before {
  color: #404040;
}

#view_scroll_right {
  top: auto;
  bottom: 0;
}

#view_scroll_right:before {
  content: "\f107";
}

#view_scroll_left:before {
  content: "\f106";
}

.resetimg {
  padding: 0 15px 0 0;
  position: absolute;
  right: 15px;
  bottom: 0px;
  margin-bottom: 5px;
  z-index: 1000;
}

.resetimg #resetImages i {
  margin-right: 6px;
}

/*
* @subsection      Link list
*/
#usefull_link_block {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 0;
}

#usefull_link_block li {
  float: left;
  padding: 0 15px 0 0;
}

#usefull_link_block li:first-child {
  border-left: 0;
  padding-left: 0;
}

@media (min-width: 480px) and (max-width: 767px) {
  #usefull_link_block li:first-child {
    margin-bottom: 0;
  }
}

@media (min-width: 1600px) {
  #usefull_link_block li:first-child {
    margin-bottom: 0;
  }
}

#usefull_link_block li a {
  color: #626262;
  font-weight: 400;
  position: relative;
  padding-left: 0;
  line-height: 18px;
  display: inline-block;
}

#usefull_link_block li a#send_friend_button {
  padding-left: 22px;
}

#usefull_link_block li a:before {
  font-family: "FontAwesome";
  color: #626262;
  font-size: 15px;
  line-height: 18px;
  position: absolute;
  top: 0;
  left: 1px;
  font-weight: normal;
}

#usefull_link_block li a:hover {
  color: #f4d6d6;
}

#usefull_link_block li.print a:before {
  content: "\f02f";
}

#usefull_link_block li.sendtofriend a:before {
  content: "\f003";
}

#usefull_link_block li#left_share_fb a:before {
  content: "\f09a";
}

#usefull_link_block li#favoriteproducts_block_extra_remove, #usefull_link_block li#favoriteproducts_block_extra_add, #usefull_link_block li#favoriteproducts_block_extra_removed, #usefull_link_block li#favoriteproducts_block_extra_added {
  cursor: pointer;
  position: relative;
}

#usefull_link_block li#favoriteproducts_block_extra_remove:before, #usefull_link_block li#favoriteproducts_block_extra_add:before, #usefull_link_block li#favoriteproducts_block_extra_removed:before, #usefull_link_block li#favoriteproducts_block_extra_added:before {
  font-family: "FontAwesome";
  color: #404040;
  font-size: 15px;
  line-height: 18px;
  position: absolute;
  top: 0;
  left: 12px;
  font-weight: normal;
  content: "\f08a";
}

#usefull_link_block li#favoriteproducts_block_extra_remove:hover, #usefull_link_block li#favoriteproducts_block_extra_add:hover, #usefull_link_block li#favoriteproducts_block_extra_removed:hover, #usefull_link_block li#favoriteproducts_block_extra_added:hover {
  color: #f4d6d6;
}

#usefull_link_block li#favoriteproducts_block_extra_removed:before {
  content: "\f004";
}

.two-columns #usefull_link_block li {
  clear: left;
  border: none;
  padding-left: 0;
}

.two-columns #usefull_link_block li#favoriteproducts_block_extra_add, .two-columns #usefull_link_block li#favoriteproducts_block_extra_remove, .two-columns #usefull_link_block li#favoriteproducts_block_extra_added, .two-columns #usefull_link_block li#favoriteproducts_block_extra_removed {
  padding-left: 25px;
}

.two-columns #usefull_link_block li#favoriteproducts_block_extra_add:before, .two-columns #usefull_link_block li#favoriteproducts_block_extra_remove:before, .two-columns #usefull_link_block li#favoriteproducts_block_extra_added:before, .two-columns #usefull_link_block li#favoriteproducts_block_extra_removed:before {
  left: 1px;
}

/*
* @package       buttons-block
* @description   styles for block with all btn
*
*/
.buttons-block {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

@media (min-width: 480px) {
  .buttons-block {
    margin-bottom: 30px;
  }
}

@media (min-width: 1200px) {
  .buttons-block {
    margin-bottom: 50px;
  }
}

.buttons-block p:empty {
  display: none;
}

.buttons-block > * {
  margin-bottom: 15px;
}

.buttons-block > *.buttons_bottom_block, .buttons-block > *.product-lookbooks {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 479px) {
  .buttons-block > *.buttons_bottom_block, .buttons-block > *.product-lookbooks {
    margin-top: 15px;
  }
}

.buttons-block > *:not(:last-child) {
  margin-right: 20px;
}

@media (min-width: 1600px) {
  .buttons-block .btn-primary {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media only screen and (max-width: 1400px) {
  .buttons-block .ajax_add_to_cart_product_button, .buttons-block #add_preorder {
    min-width: 45px;
  }
  .buttons-block .ajax_add_to_cart_product_button::before, .buttons-block #add_preorder::before {
    position: static;
    border: none;
    font-size: 16px;
    line-height: 1.4;
    opacity: 1;
    transform: none;
    border: none !important;
    font-family: "fl-outicons";
    content: url("../fonts/bag.png");
    display: inline-block;
    font-weight: normal;
  }
  .buttons-block .ajax_add_to_cart_product_button span, .buttons-block #add_preorder span {
    display: none;
  }
}

@media only screen and (max-width: 1400px) {
  .buttons-block #add_preorder::before {
    content: '\e044';
    margin-left: 3px;
  }
}

/*
* @package      extra-right
* @description  styles for extra-right block with  product right column hook
*
*/
.extra-right {
  /*display: flex;*/
  display: none;
  flex-wrap: wrap;
  align-items: center;
}

.extra-right li {
  list-style: none;
}

.extra-right > * {
  margin-bottom: 15px;
}

.extra-right > *:not(:last-child) {
  margin-right: 30px;
  margin-bottom: 20px;
}

@media (min-width: 480px) {
  .extra-right > *:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media (min-width: 768px) {
  .extra-right > *:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media (min-width: 1600px) {
  .extra-right > *:not(:last-child) {
    margin-right: 70px;
  }
}

.extra-right + * {
  margin-top: 15px;
}

@media (min-width: 480px) {
  .extra-right + * {
    margin-top: 20px;
  }
}

@media (min-width: 1200px) {
  .extra-right + * {
    margin-top: 30px;
  }
}

/*
* @package     product_payment_logos
* @description
*
*/
#product_payment_logos h5 {
  display: none;
}

/*
* @subsection      Right column in product block
*/
@media (min-width: 1600px) {
  .one-column .pb-right-column {
    padding-left: 50px;
  }
}

.pb-right-column .product-info-line {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 0 5px 0;
  line-height: 2.42857;
}

.pb-right-column .product-info-line > * {
  margin-right: 2.60vw;
}

@media (min-width: 992px) and (max-width: 1199px), (min-width: 768px) and (max-width: 991px) {
  .pb-right-column .product-info-line > * {
    font-size: 1vw;
  }
}

.pb-right-column .product-info-line > p {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
  text-transform: uppercase;
  font-family: "Museo", sans-serif;
  letter-spacing: 0.02em;
}

@media (min-width: 1200px) {
  .pb-right-column .product-info-line > p {
    font-size: 14px;
  }
}

.pb-right-column .product-info-line > p label {
  margin: 0;
  font-weight: normal;
  color: #595959;
}

.pb-right-column .product-info-line > p span {
  color: #ff514d;
}

.pb-right-column .product-info-line > p span.label {
  color: #dedede;
}

.pb-right-column .product-info-line > p span.editable {
  /*background: $base-box-bg;*/
  background: #dedede;
  display: inline-block;
  padding: 0 2px;
  font-weight: bold;
  -webkit-border-radius: 0px;
  -khtml-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}

@media (min-width: 1200px) {
  .pb-right-column .product-info-line > p span.editable {
    padding: 0 9px;
  }
}

.pb-right-column h1 {
  margin: 10px 0 0;
  padding-bottom: 10px;
  color: #595959;
  font: 400 22px/1.73333 "Museo", sans-serif;
}

@media (min-width: 768px) {
  .pb-right-column h1 {
    font-size: 1.56vw;
  }
}

@media (min-width: 768px) and (max-width: 991px), (min-width: 992px) and (max-width: 1199px) {
  .one-column .pb-right-column h1 {
    font-size: 25px;
  }
}

@media (min-width: 1600px) {
  .pb-right-column h1 {
    margin-top: 35px;
    margin-bottom: 12px;
    font-size: 30px;
  }
}

.pb-right-column #short_description_block #short_description_content {
  padding: 0 0 10px;
  word-wrap: break-word;
}

.pb-right-column #short_description_block #short_description_content p {
  line-height: 18px;
}

#product p#loyalty {
  padding: 17px 0 15px 35px;
  border-bottom: 1px solid #e4e1e1;
  margin: 10px 0 0px;
  position: relative;
}

#product p#loyalty b {
  color: #404040;
}

#product p#loyalty:before {
  content: "\f024";
  font-family: "FontAwesome";
  color: #cfcccc;
  font-size: 26px;
  line-height: 28px;
  position: absolute;
  top: 16px;
  left: 0;
}

#page .rte {
  word-wrap: break-word;
}

#attributes {
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 2px solid #f4f4f4;
  font-family: "Museo", sans-serif;
  text-transform: uppercase;
}

@media (min-width: 992px) {
  #attributes {
    padding-bottom: 30px;
  }
}

@media (min-width: 1200px) {
  #attributes {
    margin-bottom: 50px;
    padding-bottom: 50px;
  }
}

#attributes fieldset {
  width: 100%;
}

@media only screen and (max-width: 479px) {
  #attributes fieldset {
    display: flex;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .two-columns #attributes fieldset {
    display: flex;
  }
  .two-columns #attributes fieldset > label {
    margin-bottom: 10px;
  }
}

#attributes fieldset > label {
  display: inline-block;
  min-width: 55px;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: bold;
  color: #595959;
}

@media only screen and (max-width: 479px) {
  #attributes fieldset > label {
    margin-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  #attributes fieldset > label {
    min-width: 105px;
  }
}

@media (min-width: 1600px) {
  #attributes fieldset > label {
    font-size: 14px;
  }
}

#attributes fieldset + fieldset {
  margin-top: 20px;
}

@media (min-width: 1200px) {
  #attributes fieldset + fieldset {
    margin-top: 32px;
  }
}

#attributes .attribute_list {
  display: inline-block;
  margin-bottom: 0;
}

#attributes .attribute_list .form-control {
  max-width: 230px;
}

#attributes .attribute_list .form-control option {
  background: #dedede;
  color: #404040;
}

#attributes .attribute_list ul {
  clear: both;
  margin-bottom: 0;
}

#attributes .attribute_list ul li {
  position: relative;
  display: inline-block;
  margin-right: 13px;
}

#attributes .attribute_list input.attribute_radio {
  float: left;
  margin-left: 3px;
}

#attributes .attribute_list input.attribute_radio + label {
  margin-bottom: 0;
  padding: 5px;
  font-weight: 700;
  text-transform: uppercase;
  min-width: 28px;
  text-align: center;
}

#attributes .attribute_list input.attribute_radio + label::before {
  display: none;
}

#attributes .attribute_list input.attribute_radio + label::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: none;
  background: transparent;
  border-radius: 0;
  opacity: 0;
  box-shadow: 0 0 0 2px #595959;
  transition: all 0.3s ease-in-out;
}

#attributes .attribute_list input.attribute_radio:checked + label::after {
  opacity: 1;
}

#attributes .attribute_list div.radio,
#attributes .attribute_list div.radio span,
#attributes .attribute_list div.radio input {
  float: none;
  display: inline-block;
}

#attributes .attribute_list #color_to_pick_list {
  list-style-type: none;
  margin: 0 -2px;
}

#attributes .attribute_list #color_to_pick_list li {
  display: inline-block;
  margin: 0 15px 0 0;
  vertical-align: middle;
}

#attributes .attribute_list #color_to_pick_list li > a:hover, #attributes .attribute_list #color_to_pick_list li.selected > a {
  transform: scale3d(1.3, 1.3, 1);
}

#attributes .attribute_list #color_to_pick_list li > a:hover::before, #attributes .attribute_list #color_to_pick_list li.selected > a::before {
  opacity: 1;
}

#attributes .attribute_list #color_to_pick_list li > a {
  position: relative;
  display: block;
  width: 22px;
  height: 22px;
  margin: 0;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#attributes .attribute_list #color_to_pick_list li > a::before {
  content: '';
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  border: 2px solid #dedede;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.box-info-product .ajax_add_to_cart_product_button.added span::before {
  margin-right: 5px;
  font-family: "fl-outicons";
  content: "";
  display: inline-block;
  font-weight: normal;
}

@media (min-width: 1200px) {
  .box-info-product .ajax_add_to_cart_product_button.added span::before {
    margin-right: 10px;
  }
}

.box-info-product .ajax_add_to_cart_product_button.added.disabled, .box-info-product .ajax_add_to_cart_product_button.disabled, .box-info-product .ajax_add_to_cart_product_button[disabled] {
  opacity: 1 !important;
}

.box-info-product .ajax_add_to_cart_product_button.added.disabled span::before, .box-info-product .ajax_add_to_cart_product_button.disabled span::before, .box-info-product .ajax_add_to_cart_product_button[disabled] span::before {
  margin-right: 5px;
  opacity: 1;
  animation: 1s linear 0s reverse none infinite spin;
  font-family: "fl-outicons";
  content: "";
  display: inline-block;
  font-weight: normal;
}

@media (min-width: 1200px) {
  .box-info-product .ajax_add_to_cart_product_button.added.disabled span::before, .box-info-product .ajax_add_to_cart_product_button.disabled span::before, .box-info-product .ajax_add_to_cart_product_button[disabled] span::before {
    margin-right: 10px;
  }
}

.box-info-product .box-cart-bottom {
  padding-bottom: 15px;
}

/*
* @subsection      Data sheet table
*/
.table-data-sheet, table.table-product-discounts {
  border: none;
  width: 100%;
  margin: 0 0 20px;
  background: #dedede;
  text-transform: uppercase;
}

.table-data-sheet tr, table.table-product-discounts tr {
  border: none;
}

.table-data-sheet tr.even, table.table-product-discounts tr.even {
  background: #f4f4f4;
}

.table-data-sheet tr td, table.table-product-discounts tr td {
  padding: 10px 20px 11px;
}

.table-data-sheet tr td:first-child, table.table-product-discounts tr td:first-child {
  border: none;
  width: 30%;
  font-weight: 700;
  color: #404040;
}

.table-data-sheet tr th, table.table-product-discounts tr th {
  color: #404040;
}

/*
* @subsection      Quantity wanted
*/
#quantity_wanted_p {
  position: relative;
  overflow: hidden;
  width: 115px;
}

.safari #quantity_wanted_p {
  display: flex;
}

#quantity_wanted_p input {
  width: 100%;
  height: 100%;
  padding: 0 30px 0 30px;
  outline-width: 0;
  border: none !important;
  /*background: $secondary-background;*/
  background: #dedede;
  color: black !important;
  -webkit-border-radius: 0px;
  -khtml-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}

.safari #quantity_wanted_p input {
  height: auto;
}

#quantity_wanted_p .product_quantity_up, #quantity_wanted_p .product_quantity_down {
  position: absolute;
  top: 7px;
  right: 16px;
  left: auto;
  width: 30px;
  height: calc(50% - 5px);
  margin: 0;
  text-align: center;
  font-size: 16px;
}

#quantity_wanted_p .product_quantity_down {
  top: auto;
  bottom: 5px;
}

#quantity_wanted_p label {
  color: #595959;
  float: left;
  line-height: 36px;
  padding-right: 10px;
}

#add_to_cart_product_page_button #add_to_cart {
  margin-bottom: 0;
}

/*
* @subsection      Availability statut
*/
#availability_date_label {
  display: inline-block;
  font-weight: 700;
  font-size: 12px;
}

#availability_date {
  margin: 0;
}

#availability_date + #oosHook {
  margin-bottom: 15px;
}

#last_quantities, #availability_statut #availability_value.warning_inline {
  color: #dedede;
  font-weight: 700;
  line-height: 18px;
  display: inline-block;
  padding: 3px 8px 4px;
  background: #91dd4d;
  border: 1px solid #5ea51f;
  -webkit-border-radius: 0px;
  -khtml-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}

#last_quantities {
  background: #ff514d;
  border-color: #e60500;
  padding: 4px 8px 3px;
  position: relative;
  top: 1px;
}

#pQuantityAvailable {
  display: inline-block;
}

#pQuantityAvailable span {
  font-weight: bold;
  color: #595959;
}

#availability_statut #availability_value.warning_inline {
  background: #ff514d;
  border-color: #e60500;
  text-shadow: 1px 1px #e60500;
  margin: 0;
}

.box-info-product .content_prices {
  border-bottom: 2px solid #f4f4f4;
  margin-bottom: 20px;
}

@media (min-width: 992px) {
  .box-info-product .content_prices {
    margin-bottom: 30px;
  }
}

@media (min-width: 1200px) {
  .box-info-product .content_prices {
    margin-bottom: 50px;
  }
}

.box-info-product .content_prices .discount {
  color: #ff514d;
  margin-bottom: 20px;
  display: block;
}

.all-price-info {
  margin-bottom: 25px;
}

@media (min-width: 1200px) {
  .all-price-info {
    margin-bottom: 50px;
  }
}

.all-price-info > p {
  display: inline-block;
  vertical-align: 0;
  margin-right: 5px;
  margin-bottom: 0;
}

#old_price .price {
  display: inline-block;
  margin-left: 10px;
  text-decoration: line-through;
  color: #595959;
  font: bold 24px/28px "Museo", sans-serif;
  font-weight: 400;
  letter-spacing: 0;
}

@media (min-width: 1600px) {
  #old_price .price {
    font-size: 20px;
  }
}

.inline-list {
  display: flex;
}

.inline-list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.inline-list-item:first-child {
  margin-right: 10px;
}

@media (min-width: 1600px) {
  .inline-list-item:first-child {
    margin-right: 45px;
  }
}

.inline-list-item p {
  margin: 0;
}

.inline-list-item p + p {
  margin-top: 10px;
}

p + .inline-list {
  margin-top: 10px;
}

@media (min-width: 992px) {
  p + .inline-list {
    margin-top: 20px;
  }
}

@media (min-width: 1600px) {
  p + .inline-list {
    margin-top: 23px;
  }
}

#reduction_percent,
#reduction_amount {
  font: bold 24px/28px "Museo", sans-serif;
  color: #595959;
}

#our_price_display {
  font: 700 35px/1.73333 "Museo", sans-serif;
  color: #595959;
}

@media (min-width: 1600px) {
  #our_price_display {
    font-size: 30px;
  }
}

/*
* @subsection      Online only
*/
.pb-right-column p.online_only {
  font-weight: 700;
  font-size: 13px;
  color: #f13340;
  text-align: left;
}

/*
* @subsection      Send to a Friend
*/
#send_friend_form {
  width: 700px;
  overflow: hidden;
  max-width: 100%;
}

@media only screen and (max-width: 479px) {
  #send_friend_form .product_desc, #send_friend_form img {
    display: none;
  }
}

#send_friend_form .send_friend_form_content {
  padding: 20px;
}

@media (min-width: 992px) {
  #send_friend_form .send_friend_form_content {
    padding: 30px;
  }
}

#send_friend_form .product {
  padding: 20px;
  background-color: #f4f4f4;
}

@media (min-width: 992px) {
  #send_friend_form .product {
    padding: 30px;
  }
}

#send_friend_form .product img {
  float: left;
  margin: 0 20px 10px 0;
  max-width: 100%;
  height: auto;
}

#send_friend_form .product p {
  padding: 0;
  color: #404040;
}

#send_friend_form .product p.product_name {
  color: #f4d6d6;
}

#send_friend_form .product p.product_name strong {
  font-weight: normal;
}

#send_friend_form .form_container {
  border: none;
  padding: 10px 0;
}

#send_friend_form .form_container p.intro_form {
  color: #595959;
  margin-bottom: 10px;
}

#send_friend_form .form_container p.txt_required {
  padding-bottom: 0;
  color: #ff514d;
}

#send_friend_form .form_container .text {
  padding-bottom: 10px;
}

#send_friend_form .submit {
  margin-top: 10px;
  margin-bottom: 0;
  padding-bottom: 0;
  text-align: right;
}

@media (min-width: 480px) {
  #send_friend_form .submit {
    margin-top: 20px;
  }
}

/*
* @subsection      Personnalisaton
*/
.product-information {
  color: #626262;
  line-height: 1.5;
}

@media only screen and (min-width: 768px) {
  .product-information {
    margin-bottom: 25px;
  }
}

@media only screen and (max-width: 767px) {
  .product-information {
    padding: 20px 0;
  }
}

@media only screen and (max-width: 1199px) {
  .product-information {
    margin-top: 4.17vw;
  }
}

.product-information .product-info-tabs {
  display: none;
}

@media only screen and (min-width: 768px) {
  .product-information .product-info-tabs {
    z-index: 2;
    position: relative;
    display: flex;
    padding-right: 0;
    box-shadow: inset 0 -2px 0 #f4f4f4;
  }
}

@media only screen and (min-width: 768px) and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (min-width: 768px) and (max-width: 991px) {
  .three-columns .product-information .product-info-tabs {
    flex-wrap: wrap;
    padding-bottom: 15px;
  }
}

@media only screen and (min-width: 768px) {
  .product-information .product-info-tabs > li {
    z-index: 2;
    flex-shrink: 1;
    display: flex;
    align-items: center;
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.06em;
    color: #595959;
    text-align: center;
    transition: all 0.3s ease-in-out;
  }
}

@media only screen and (min-width: 768px) and (min-width: 768px) {
  .product-information .product-info-tabs > li {
    font-size: 1.30vw;
  }
  .two-columns .product-information .product-info-tabs > li {
    font-size: 1vw;
  }
  .three-colums .product-information .product-info-tabs > li {
    font-size: 0.9vw;
  }
}

@media only screen and (min-width: 768px) and (min-width: 1200px) {
  .product-information .product-info-tabs > li {
    font-size: 10px;
  }
}

@media only screen and (min-width: 768px) and (min-width: 1640px) {
  .product-information .product-info-tabs > li {
    font-size: 16px;
  }
}

@media only screen and (min-width: 768px) {
  .product-information .product-info-tabs > li:nth-last-child(n + 7):first-child a,
  .product-information .product-info-tabs > li:nth-last-child(n+7):first-child ~ li a {
    padding: 18px 15px;
  }
  .product-information .product-info-tabs > li:nth-last-child(n + 8):first-child,
  .product-information .product-info-tabs > li:nth-last-child(n+8):first-child ~ li {
    font-size: 12px;
  }
  .product-information .product-info-tabs > li:nth-last-child(n + 8):first-child a,
  .product-information .product-info-tabs > li:nth-last-child(n+8):first-child ~ li a {
    padding: 15px;
  }
  .product-information .product-info-tabs > li a {
    padding: 15px 20px;
    font-family: "Museo", sans-serif;
    transition: all 0.3s ease-in-out;
  }
}

@media only screen and (min-width: 768px) and (min-width: 1200px) {
  .product-information .product-info-tabs > li a {
    padding: 25px 30px;
  }
}

@media only screen and (min-width: 768px) {
  .product-information .product-info-tabs > li a, .product-information .product-info-tabs > li a:hover, .product-information .product-info-tabs > li a:active, .product-information .product-info-tabs > li a:focus, .product-information .product-info-tabs > li a.active {
    background: none;
  }
  .product-information .product-info-tabs > li.active {
    background: #dedede;
    box-shadow: inset 0 2px 0 #f4f4f4, inset -2px 0 0 #f4f4f4, inset 2px 0 0 #f4f4f4;
  }
}

@media only screen and (min-width: 768px) and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (min-width: 768px) and (max-width: 991px) {
  .three-columns .product-information .product-info-tabs > li.active {
    box-shadow: inset 0 0 0 2px #f4f4f4;
  }
}

@media only screen and (min-width: 768px) {
  .product-information .product-info-tabs > li.active a {
    color: #595959;
  }
  .product-information .product-info-tabs > li:last-child {
    margin-bottom: -1px;
  }
}

.product-information .tab-content {
  margin: 0 !important;
  position: relative;
  z-index: 1;
}

@media only screen and (max-width: 767px) {
  .product-information .tab-content {
    padding: 0;
  }
}

@media only screen and (min-width: 768px) {
  .product-information .tab-content {
    padding-top: 30px;
  }
  .product-information .tab-content h3 {
    display: none;
  }
  .product-information .tab-content > div {
    padding-bottom: 15px;
  }
}

@media only screen and (max-width: 767px) {
  .product-information .tab-content {
    border: 1px solid #e4e1e1;
    background: white;
  }
  .product-information .tab-content > div {
    padding: 20px 10px;
    display: none;
  }
  .product-information .tab-content h3 {
    margin: 0;
    padding: 10px;
    border-top: 1px solid #e4e1e1;
    font: 700 35px/1.73333 "Museo", sans-serif;
    background: #dedede;
  }
  .product-information .tab-content h3:first-child {
    border: none;
  }
  .product-information .tab-content h3:first-child + div {
    display: block;
  }
  .product-information .tab-content h3.active {
    color: #f4d6d6;
  }
}

.product-information .tab-content > div {
  animation: fadeIn 0.2s 0.2s ease both;
}

ul#uploadable_files,
ul#text_fields {
  list-style-type: none;
}

.customizableProductsFile,
.customizableProductsText {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e4e1e1;
}

.customizationUploadLine {
  padding-bottom: 10px;
}

.customizationUploadLine label {
  display: block;
  vertical-align: top;
}

.customizationUploadLine textarea {
  padding-bottom: 15px;
  color: #333333;
}

@media (min-width: 480px) {
  .customizationUploadLine textarea {
    width: 50%;
  }
}

.customizationUploadBrowse img {
  border: 3px solid #121212;
  margin: 0 10px 10px 0;
  padding: 5px;
  background: #dedede;
}

.customizationUploadBrowse img + a {
  position: relative;
  vertical-align: top;
}

.customizationUploadBrowse img + a img {
  height: auto;
  margin: 0;
  border: none;
  padding: 0;
  background: none;
}

#customizedDatas {
  float: right;
}

.accessories_block div ul li a {
  display: inline-block;
}

.accessories_block div ul li.s_title_block a,
.accessories_block div ul li.s_title_block span {
  font-weight: 700;
}

.pb-left-column .zoomPad {
  float: none;
}

/*
* @subsection      Two columns layout triks
*/
.addsharethisinner .stButton .stArrow {
  display: none !important;
}

#view_full_size .zoomPreload {
  background-position: center center;
  text-indent: -5000px;
}

#blockpack ul.product_list > li {
  padding-bottom: 0;
}

@media only screen and (max-width: 767px) {
  #blockpack ul.product_list > li.first-item-of-mobile-line {
    clear: left;
  }
  #blockpack ul.product_list > li.first-item-of-tablet-line {
    clear: none;
  }
}

#blockpack ul.product_list .right-block, #blockpack ul.product_list .quick-view, #blockpack ul.product_list .functional-buttons, #blockpack ul.product_list .daydeal-box {
  display: none;
}

.page-product-box {
  margin-top: 30px;
}

@media (min-width: 992px) {
  .one-column .page-product-box {
    width: 50%;
    float: left;
  }
  .one-column .page-product-box:nth-of-type(odd) {
    padding-right: 20px;
  }
  .one-column .page-product-box:nth-of-type(even) {
    padding-left: 20px;
  }
}

@media (min-width: 1200px) {
  .page-product-box {
    margin-top: 50px;
  }
}

.page-product-box .page-product-heading {
  text-align: center;
  font-size: 18px;
}

@media (min-width: 992px) {
  .page-product-box .page-product-heading {
    font-size: 16px;
  }
}

@media (min-width: 1600px) {
  .page-product-box .page-product-heading {
    font-size: 24px;
  }
}

@media (min-width: 1600px) {
  .page-product-box .page-product-heading {
    margin-bottom: 50px;
  }
}

.page-product-box ul {
  text-align: center;
}

.page-product-box ul li {
  position: relative;
}

.page-product-box ul .ajax_add_to_cart_button {
  position: absolute;
  right: 5px;
  top: 5px;
  display: none;
  background: #dedede;
  padding: 5px 10px;
  box-shadow: 0 2px 30px rgba(12, 12, 12, 0.06);
  transition: all 0.3s ease-in-out;
  font-size: 12px;
}

@media (min-width: 480px) {
  .page-product-box ul .ajax_add_to_cart_button {
    display: block;
    right: 8%;
    top: 5%;
    padding: 10px 15px;
    font-size: 14px;
  }
}

.page-product-box ul .ajax_add_to_cart_button::before {
  font-size: 22px;
  line-height: 1;
  transform: translateZ(0);
  font-family: "fl-outicons";
  content: url("../fonts/bag.png");
  display: inline-block;
  font-weight: normal;
}

@media (min-width: 480px) {
  .page-product-box ul .ajax_add_to_cart_button::before {
    font-size: 24px;
  }
}

.page-product-box ul .ajax_add_to_cart_button:hover {
  color: #595959;
  transform: scale3d(0.9, 0.9, 1) translateZ(0);
}

.page-product-box ul .ajax_add_to_cart_button span {
  display: none;
}

.page-product-box ul .price_display {
  position: absolute;
  left: 5px;
  top: 5px;
  background: #dedede;
  padding: 5px;
  box-shadow: 0 2px 30px rgba(12, 12, 12, 0.06);
}

@media (min-width: 480px) {
  .page-product-box ul .price_display {
    left: 8%;
    top: 5%;
    padding: 10px;
  }
}

.page-product-box .product-image {
  margin-bottom: 0;
}

.page-product-box .bx-controls-direction .bx-next, .page-product-box .bx-controls-direction .bx-prev {
  opacity: 0;
  transform: translateX(-20px);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.page-product-box .bx-controls-direction .bx-next {
  transform: translateX(20px);
}

.page-product-box:hover .bx-controls-direction .bx-next, .page-product-box:hover .bx-controls-direction .bx-prev {
  opacity: 1;
  transform: translateX(0);
}

/*
* @subsection      Quick View Styles
*/
#product.content_only {
  height: 100%;
}

@media (min-width: 1200px) {
  #product.content_only.safari div.primary_block div.pb-right-column {
    width: 50%;
  }
}

#product.content_only .primary_block.row {
  margin-top: 0;
}

#product.content_only div[itemscope] {
  height: 100%;
}

#product.content_only #add_preorder {
  display: none;
}

#product.content_only div.primary_block {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  margin-bottom: 0;
}

#product.content_only div.primary_block div.pb-left-column {
  position: relative;
  width: 100%;
  max-width: inherit;
  margin: 0 20vw;
  /*background-color: $secondary-background;*/
  background-color: #fff;
}

@media (min-width: 1200px) {
  #product.content_only div.primary_block div.pb-left-column {
    width: 49%;
    margin: 0;
  }
}

#product.content_only div.primary_block div.pb-left-column::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 100vw;
  height: 100%;
  transform: translateX(-50%);
  background-color: #f4f4f4;
}

@media (min-width: 1200px) {
  #product.content_only div.primary_block div.pb-left-column::before {
    display: none;
  }
}

#product.content_only div.primary_block div.pb-left-column #thumbs_list ul {
  margin-bottom: 0;
}

#product.content_only div.primary_block div.pb-left-column p.resetimg {
  margin-bottom: 0;
  padding-top: 0;
}

#product.content_only div.primary_block div.pb-right-column {
  width: 100%;
  padding: 3% 7%;
  margin-bottom: 0;
}

@media (min-width: 1200px) {
  #product.content_only div.primary_block div.pb-right-column {
    width: 51%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

#product.content_only div.primary_block div.pb-right-column > div > div {
  width: 100%;
}

@media (min-width: 768px) {
  #product.content_only div.primary_block div.pb-right-column h1 {
    font-size: 24px;
  }
}

#product.content_only div.primary_block div.pb-right-column .box-info-product .content_prices {
  margin-bottom: 0;
  border-bottom: none;
}

#product.content_only div.primary_block div.pb-right-column .all-price-info {
  display: flex;
  align-items: center;
}

#product.content_only div.primary_block div.pb-right-column .all-price-info > * {
  margin-right: 20px;
}

#product.content_only div.primary_block div.pb-right-column #attributes {
  padding-bottom: 0;
  border-bottom: none;
}

.box-info-product .box-cart-bottom img {
  width: auto;
}

/*
* @package       tab buttons
* @description
*
*/
div.uploader {
  width: auto;
  display: inline-block;
}

div.uploader span.action {
  width: 152px;
  background: #f4f4f4;
  color: #595959;
}

div.uploader span.action::before {
  margin-right: 10px;
  font-family: "fl-outicons";
  content: "";
  display: inline-block;
  font-weight: normal;
}

div.uploader span.filename {
  border: none;
  background: #f4f4f4;
  color: #595959;
}

.download-btn i {
  font-size: 20px;
  margin-right: 10px;
}

.download-btn span {
  vertical-align: text-top;
}

.product-attachments-tab-content i {
  margin-right: 10px;
}

.product-attachments-tab-content i::before {
  font-family: "fl-outicons";
  content: "";
  display: inline-block;
  font-weight: normal;
}

.product-info-line p#product_reference,
.product-info-line p#product_condition,
.product-info-line p#pQuantityAvailable {
  display: none !important;
}
