/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
/*
* @package       change-grid-on-big-screen
* @description   make grid like in design
*
*/
/*
* @package       custom-scroll-bar
* @description   make you scroll bar pretty and better
*
*/
/*
* @subsection   icons
*
* @description
*/
/*
* @package       header icons title display mixin
* @description
*
*/
/*
* @package     bxSlider controls mixin
* @description
*
*/
/*******************************************************
Product list Styles
********************************************************/
/*
* @section      Product list Styles
* @description  This section holds specific style redeclarations for some
*               of common elements in page listing
*/
/* line 12, ../sass/product_list.scss */
ul.product_list {
  clear: both;
}
@media (min-width: 768px) {
  /* line 16, ../sass/product_list.scss */
  ul.product_list > li.product-animation {
    animation: rotate180 500ms ease both;
  }
  /* line 21, ../sass/product_list.scss */
  ul.product_list > li:nth-child(2) {
    animation-delay: 0.2s;
  }
  /* line 21, ../sass/product_list.scss */
  ul.product_list > li:nth-child(3) {
    animation-delay: 0.3s;
  }
  /* line 21, ../sass/product_list.scss */
  ul.product_list > li:nth-child(4) {
    animation-delay: 0.4s;
  }
  /* line 21, ../sass/product_list.scss */
  ul.product_list > li:nth-child(5) {
    animation-delay: 0.5s;
  }
  /* line 21, ../sass/product_list.scss */
  ul.product_list > li:nth-child(6) {
    animation-delay: 0.6s;
  }
  /* line 21, ../sass/product_list.scss */
  ul.product_list > li:nth-child(7) {
    animation-delay: 0.7s;
  }
  /* line 21, ../sass/product_list.scss */
  ul.product_list > li:nth-child(8) {
    animation-delay: 0.8s;
  }
  /* line 21, ../sass/product_list.scss */
  ul.product_list > li:nth-child(9) {
    animation-delay: 0.9s;
  }
  /* line 21, ../sass/product_list.scss */
  ul.product_list > li:nth-child(10) {
    animation-delay: 1s;
  }
  /* line 21, ../sass/product_list.scss */
  ul.product_list > li:nth-child(11) {
    animation-delay: 1.1s;
  }
  /* line 21, ../sass/product_list.scss */
  ul.product_list > li:nth-child(12) {
    animation-delay: 1.2s;
  }
  /* line 21, ../sass/product_list.scss */
  ul.product_list > li:nth-child(13) {
    animation-delay: 1.3s;
  }
  /* line 21, ../sass/product_list.scss */
  ul.product_list > li:nth-child(14) {
    animation-delay: 1.4s;
  }
  /* line 21, ../sass/product_list.scss */
  ul.product_list > li:nth-child(15) {
    animation-delay: 1.5s;
  }
  /* line 21, ../sass/product_list.scss */
  ul.product_list > li:nth-child(16) {
    animation-delay: 1.6s;
  }
  /* line 21, ../sass/product_list.scss */
  ul.product_list > li:nth-child(17) {
    animation-delay: 1.7s;
  }
  /* line 21, ../sass/product_list.scss */
  ul.product_list > li:nth-child(18) {
    animation-delay: 1.8s;
  }
  /* line 21, ../sass/product_list.scss */
  ul.product_list > li:nth-child(19) {
    animation-delay: 1.9s;
  }
  /* line 21, ../sass/product_list.scss */
  ul.product_list > li:nth-child(20) {
    animation-delay: 2s;
  }
  /* line 21, ../sass/product_list.scss */
  ul.product_list > li:nth-child(21) {
    animation-delay: 2.1s;
  }
}
@media (max-width: 767px) {
  /* line 28, ../sass/product_list.scss */
  ul.product_list .btn-sm, ul.product_list .btn-group-sm > .btn {
    font-size: 11px;
  }
}
/* line 34, ../sass/product_list.scss */
ul.product_list .lnk_view:not(.customize) {
  display: none;
}
/* line 39, ../sass/product_list.scss */
ul.product_list .daydeal-box {
  position: absolute;
  top: calc(5px + 45px);
  left: 5px;
}
@media (min-width: 768px) {
  /* line 39, ../sass/product_list.scss */
  ul.product_list .daydeal-box {
    top: calc(5% + 55px);
    left: 5%;
  }
}
/* line 50, ../sass/product_list.scss */
ul.product_list .new-box {
  top: 5px;
  left: 5px;
}
@media (min-width: 768px) {
  /* line 50, ../sass/product_list.scss */
  ul.product_list .new-box {
    top: 1.04vw;
    left: 5%;
  }
}
/* line 59, ../sass/product_list.scss */
ul.product_list .new-box + .sale-box {
  top: calc(5px + 20px);
}
@media (min-width: 768px) {
  /* line 59, ../sass/product_list.scss */
  ul.product_list .new-box + .sale-box {
    top: calc(1.04vw + 25px);
  }
}
/* line 68, ../sass/product_list.scss */
ul.product_list .sale-box {
  left: 5px;
}
@media (min-width: 768px) {
  /* line 68, ../sass/product_list.scss */
  ul.product_list .sale-box {
    left: 5%;
  }
}
/* line 77, ../sass/product_list.scss */
ul.product_list .color-list-container ul {
  list-style-type: none;
  margin: 0 -2px;
}
/* line 80, ../sass/product_list.scss */
ul.product_list .color-list-container ul li {
  display: inline-block;
  margin: 0 15px 0 0;
}
/* line 83, ../sass/product_list.scss */
ul.product_list .color-list-container ul li > a {
  position: relative;
  display: block;
  width: 22px;
  height: 22px;
  margin: 0;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
/* line 93, ../sass/product_list.scss */
ul.product_list .color-list-container ul li > a::before {
  content: '';
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  border: 2px solid #dedede;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
/* line 106, ../sass/product_list.scss */
ul.product_list .color-list-container ul li > a:hover {
  transform: scale3d(1.3, 1.3, 1);
}
/* line 108, ../sass/product_list.scss */
ul.product_list .color-list-container ul li > a:hover::before {
  opacity: 1;
}
/* line 117, ../sass/product_list.scss */
ul.product_list .product-image-container {
  text-align: center;
  position: relative;
}
/* line 120, ../sass/product_list.scss */
ul.product_list .product-image-container img {
  margin: 0 auto;
}
/* line 125, ../sass/product_list.scss */
ul.product_list .quick-view {
  color: #dedede;
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 5px 10px;
  font: 700 14px/1.2 "Poiret One", sans-serif;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  background: rgba(18, 18, 18, 0.7);
  transform: translate3d(-50%, -50%, 0);
  transition: transform 0.3s 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55), opacity 0.3s 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55), background 0.3s linear;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0 2px 8px 2px 5px rgba(0, 0, 0, 0.4);
  -khtml-box-shadow: rgba(0, 0, 0, 0.16) 0 2px 8px 2px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: rgba(0, 0, 0, 0.16) 0 2px 8px 2px 5px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: rgba(0, 0, 0, 0.16) 0 2px 8px 2px 5px rgba(0, 0, 0, 0.4);
  -o-box-shadow: rgba(0, 0, 0, 0.16) 0 2px 8px 2px 5px rgba(0, 0, 0, 0.4);
  box-shadow: rgba(0, 0, 0, 0.16) 0 2px 8px 2px 5px rgba(0, 0, 0, 0.4);
}
@media (min-width: 1200px) {
  /* line 125, ../sass/product_list.scss */
  ul.product_list .quick-view {
    padding: 10px 20px;
    opacity: 0;
    transform: translate3d(-50%, -20%, 0);
  }
}
@media (min-width: 1600px) {
  /* line 125, ../sass/product_list.scss */
  ul.product_list .quick-view {
    padding: 1.1vw 2.6vw;
  }
}
@media (max-width: 767px) {
  /* line 125, ../sass/product_list.scss */
  ul.product_list .quick-view {
    display: none;
  }
}
/* line 153, ../sass/product_list.scss */
ul.product_list .quick-view:hover {
  background: #121212;
}
/* line 157, ../sass/product_list.scss */
ul.product_list .quick-view::before {
  display: block;
  font-size: 30px;
  font-family: "fl-outicons";
  content: "\e01c";
  display: inline-block;
  font-weight: normal;
}
@media (min-width: 1200px) {
  /* line 157, ../sass/product_list.scss */
  ul.product_list .quick-view::before {
    display: none;
  }
}
/* line 167, ../sass/product_list.scss */
ul.product_list .quick-view > span {
  display: none;
}
@media (min-width: 1200px) {
  /* line 167, ../sass/product_list.scss */
  ul.product_list .quick-view > span {
    display: inline;
  }
}
/* line 175, ../sass/product_list.scss */
ul.product_list .comments_note {
  text-align: center;
  overflow: hidden;
  padding-bottom: 10px;
}
/* line 179, ../sass/product_list.scss */
ul.product_list .comments_note .nb-comments {
  overflow: hidden;
  font-style: italic;
  display: inline-block;
}
/* line 186, ../sass/product_list.scss */
ul.product_list .functional-buttons {
  display: flex;
  background-color: #dedede;
  transition: all 0.3s 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
/* line 191, ../sass/product_list.scss */
ul.product_list .functional-buttons > div {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 11px;
}
@media (min-width: 768px) {
  /* line 191, ../sass/product_list.scss */
  ul.product_list .functional-buttons > div {
    width: 3.13vw;
    height: 3.13vw;
    line-height: 3.13vw;
  }
}
/* line 208, ../sass/product_list.scss */
ul.product_list .functional-buttons > div a,
ul.product_list .functional-buttons > div label {
  font-size: 15px;
  font-weight: bold;
  color: #121212;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
/* line 215, ../sass/product_list.scss */
ul.product_list .functional-buttons > div a:hover,
ul.product_list .functional-buttons > div label:hover {
  color: #f4d6d6;
}
@media (min-width: 768px) {
  /* line 208, ../sass/product_list.scss */
  ul.product_list .functional-buttons > div a,
  ul.product_list .functional-buttons > div label {
    font-size: 1.25vw;
  }
}
/* line 223, ../sass/product_list.scss */
ul.product_list .functional-buttons > div a > span,
ul.product_list .functional-buttons > div label > span {
  display: none;
}
/* line 228, ../sass/product_list.scss */
ul.product_list .functional-buttons > div.wishlist a:before {
  font-family: "fl-outicons";
  content: "\e028";
  display: inline-block;
  font-weight: normal;
  min-width: 17px;
}
/* line 232, ../sass/product_list.scss */
ul.product_list .functional-buttons > div.wishlist a.checked:before {
  content: "\e00c";
}
/* line 238, ../sass/product_list.scss */
ul.product_list .functional-buttons > div.compare a:before {
  font-family: "fl-outicons";
  content: "\e052";
  display: inline-block;
  font-weight: normal;
  min-width: 17px;
  transition: all 0.3s ease-in-out;
  transform: translateZ(0) rotate(90deg);
}
/* line 245, ../sass/product_list.scss */
ul.product_list .functional-buttons > div.compare a.checked:before {
  transform: translateZ(0) rotate(0deg);
}
@media only screen and (max-width: 479px) {
  /* line 256, ../sass/product_list.scss */
  ul.product_list .ajax_add_to_cart_button::before, ul.product_list .customize::before, ul.product_list .btn-tmoneclickorder::before {
    position: static;
    border: none;
    font-size: 16px;
    line-height: 1.4;
    opacity: 1;
    transform: none;
    font-family: "fl-outicons";
    content: "\e04f";
    display: inline-block;
    font-weight: normal;
  }
  /* line 267, ../sass/product_list.scss */
  ul.product_list .ajax_add_to_cart_button span, ul.product_list .customize span, ul.product_list .btn-tmoneclickorder span {
    display: none;
  }
}
@media (min-width: 768px) {
  /* line 254, ../sass/product_list.scss */
  ul.product_list .ajax_add_to_cart_button, ul.product_list .customize, ul.product_list .btn-tmoneclickorder {
    font-size: 9px;
  }
}
@media (min-width: 992px) {
  /* line 254, ../sass/product_list.scss */
  ul.product_list .ajax_add_to_cart_button, ul.product_list .customize, ul.product_list .btn-tmoneclickorder {
    font-size: 12px;
  }
}
@media (min-width: 1200px) {
  /* line 254, ../sass/product_list.scss */
  ul.product_list .ajax_add_to_cart_button, ul.product_list .customize, ul.product_list .btn-tmoneclickorder {
    font-size: 0.73vw;
  }
}
@media only screen and (max-width: 479px) {
  /* line 285, ../sass/product_list.scss */
  ul.product_list .customize::before {
    content: '\e024';
  }
}
@media only screen and (max-width: 479px) {
  /* line 293, ../sass/product_list.scss */
  ul.product_list .btn-tmoneclickorder::before {
    content: '\e044';
  }
}
/* line 299, ../sass/product_list.scss */
ul.product_list .product-attr {
  display: flex;
  justify-content: center;
  background-color: #f4f4f4;
}
@media (min-width: 1200px) {
  /* line 299, ../sass/product_list.scss */
  ul.product_list .product-attr {
    background-color: #dedede;
  }
}
/* line 308, ../sass/product_list.scss */
ul.product_list .product-attr li {
  min-height: 2.50vw;
  line-height: 2.50vw;
  max-height: 48px;
  padding: 10px 0;
  font-weight: 700;
  font-family: "Poiret One", sans-serif;
  color: #121212;
}
@media (min-width: 768px) {
  /* line 308, ../sass/product_list.scss */
  ul.product_list .product-attr li {
    padding: 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 308, ../sass/product_list.scss */
  ul.product_list .product-attr li {
    padding: 2px 0;
  }
}
@media (min-width: 1920px) {
  /* line 308, ../sass/product_list.scss */
  ul.product_list .product-attr li {
    line-height: 48px;
  }
}

/*
* @section      Product list(Grid) Styles
*/
/* line 336, ../sass/product_list.scss */
*:not(.bx-viewport) > ul.product_list.grid {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 -15px;
}
/* line 344, ../sass/product_list.scss */
*:not(.bx-viewport) > ul.product_list.grid > li {
  margin: 0 10px;
  flex: 1 1 130px;
}
@media (min-width: 480px) {
  /* line 344, ../sass/product_list.scss */
  *:not(.bx-viewport) > ul.product_list.grid > li {
    flex: 1 1 200px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  /* line 344, ../sass/product_list.scss */
  *:not(.bx-viewport) > ul.product_list.grid > li {
    flex: 1 1 165px;
  }
}
@media (min-width: 1200px) {
  /* line 344, ../sass/product_list.scss */
  *:not(.bx-viewport) > ul.product_list.grid > li {
    flex: 1 1 250px;
  }
  /* line 358, ../sass/product_list.scss */
  .one-column *:not(.bx-viewport) > ul.product_list.grid > li {
    flex: 1 1 300px;
  }
}
@media (min-width: 1600px) {
  /* line 344, ../sass/product_list.scss */
  *:not(.bx-viewport) > ul.product_list.grid > li {
    flex: 1 1 300px;
  }
  /* line 366, ../sass/product_list.scss */
  .one-column *:not(.bx-viewport) > ul.product_list.grid > li {
    flex: 1 1 350px;
  }
}
@media (min-width: 1700px) {
  /* line 344, ../sass/product_list.scss */
  *:not(.bx-viewport) > ul.product_list.grid > li {
    flex: 1 1 350px;
  }
}
/* line 374, ../sass/product_list.scss */
*:not(.bx-viewport) > ul.product_list.grid > li:first-child {
  max-width: 450px !important;
}
/* line 380, ../sass/product_list.scss */
ul.product_list.grid > li, ul.product_list.grid .slick-track > li {
  padding-bottom: 20px;
  text-align: center;
}
@media (min-width: 1200px) {
  /* line 380, ../sass/product_list.scss */
  ul.product_list.grid > li, ul.product_list.grid .slick-track > li {
    padding-bottom: 2.08vw;
  }
}
@media (min-width: 768px) {
  /* line 390, ../sass/product_list.scss */
  ul.product_list.grid > li .ajax_add_to_cart_button:hover, ul.product_list.grid > li .customize:hover, ul.product_list.grid .slick-track > li .ajax_add_to_cart_button:hover, ul.product_list.grid .slick-track > li .customize:hover {
    border-color: #e9aeae;
    color: #dedede;
  }
  /* line 394, ../sass/product_list.scss */
  ul.product_list.grid > li .ajax_add_to_cart_button:hover::after, ul.product_list.grid > li .customize:hover::after, ul.product_list.grid .slick-track > li .ajax_add_to_cart_button:hover::after, ul.product_list.grid .slick-track > li .customize:hover::after {
    background-color: #e9aeae;
    transform: scale3d(1, 1, 1);
  }
}
/* line 403, ../sass/product_list.scss */
ul.product_list.grid > li .product-attr li, ul.product_list.grid .slick-track > li .product-attr li {
  width: 20%;
}
/* line 406, ../sass/product_list.scss */
ul.product_list.grid > li .product-attr li:not(:last-child), ul.product_list.grid .slick-track > li .product-attr li:not(:last-child) {
  border-right: 1px solid #dedede;
}
/* line 410, ../sass/product_list.scss */
ul.product_list.grid > li .product-attr li:nth-child(n + 6), ul.product_list.grid .slick-track > li .product-attr li:nth-child(n + 6) {
  display: none;
}
@media (min-width: 1200px) {
  /* line 415, ../sass/product_list.scss */
  ul.product_list.grid > li .product-attr li:not(:last-child), ul.product_list.grid .slick-track > li .product-attr li:not(:last-child) {
    border-right: 1px solid #f3f3f3;
  }
}
/* line 422, ../sass/product_list.scss */
ul.product_list.grid > li .button-container, ul.product_list.grid .slick-track > li .button-container {
  left: 50%;
  bottom: 22%;
  display: flex;
  flex-direction: column;
  transition: all 0.3s 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
@media (min-width: 1200px) {
  /* line 422, ../sass/product_list.scss */
  ul.product_list.grid > li .button-container, ul.product_list.grid .slick-track > li .button-container {
    opacity: 0;
    position: absolute;
    width: 62.50%;
    transform: translate3d(-50%, 20px, 0);
  }
}
/* line 437, ../sass/product_list.scss */
ul.product_list.grid > li .btn-tmoneclickorder, ul.product_list.grid > li .color-list-container, ul.product_list.grid > li .product-desc, ul.product_list.grid .slick-track > li .btn-tmoneclickorder, ul.product_list.grid .slick-track > li .color-list-container, ul.product_list.grid .slick-track > li .product-desc {
  display: none;
}
/* line 441, ../sass/product_list.scss */
ul.product_list.grid > li .product-container, ul.product_list.grid .slick-track > li .product-container {
  position: relative;
  background: white;
  padding: 0;
}
/* line 445, ../sass/product_list.scss */
ul.product_list.grid > li .product-container .product-image-container, ul.product_list.grid .slick-track > li .product-container .product-image-container {
  position: relative;
  display: block;
  background: #f4f4f4;
}
/* line 447, ../sass/product_list.scss */
ul.product_list.grid > li .product-container .product-image-container .product_img_link, ul.product_list.grid .slick-track > li .product-container .product-image-container .product_img_link {
  display: block;
}
/* line 451, ../sass/product_list.scss */
ul.product_list.grid > li .product-container h5, ul.product_list.grid .slick-track > li .product-container h5 {
  margin-bottom: 0;
  padding: 0 5px 7px 5px;
}
@media only screen and (max-width: 479px) {
  /* line 451, ../sass/product_list.scss */
  ul.product_list.grid > li .product-container h5, ul.product_list.grid .slick-track > li .product-container h5 {
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
  }
}
/* line 461, ../sass/product_list.scss */
ul.product_list.grid > li .product-container h5 a, ul.product_list.grid .slick-track > li .product-container h5 a {
  display: inline-block;
}
/* line 464, ../sass/product_list.scss */
ul.product_list.grid > li .product-container h5 a span.list-name, ul.product_list.grid .slick-track > li .product-container h5 a span.list-name {
  display: none;
}
/* line 468, ../sass/product_list.scss */
ul.product_list.grid > li .product-container h5 a:hover, ul.product_list.grid .slick-track > li .product-container h5 a:hover {
  color: #121212;
}
/* line 472, ../sass/product_list.scss */
ul.product_list.grid > li .product-container h5 a .grid-name, ul.product_list.grid .slick-track > li .product-container h5 a .grid-name {
  display: inline-block;
  display: -webkit-box;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 20px;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
/* line 484, ../sass/product_list.scss */
ul.product_list.grid > li .product-container .comments_note, ul.product_list.grid .slick-track > li .product-container .comments_note {
  text-align: center;
}
/* line 486, ../sass/product_list.scss */
ul.product_list.grid > li .product-container .comments_note .star_content, ul.product_list.grid .slick-track > li .product-container .comments_note .star_content {
  display: inline-block;
  margin: 0 0 0 0;
}
/* line 491, ../sass/product_list.scss */
ul.product_list.grid > li .product-container .content_price, ul.product_list.grid .slick-track > li .product-container .content_price {
  padding-bottom: 9px;
  line-height: 21px;
}
@media (min-width: 1200px) {
  /* line 491, ../sass/product_list.scss */
  ul.product_list.grid > li .product-container .content_price, ul.product_list.grid .slick-track > li .product-container .content_price {
    padding-bottom: 0;
  }
}
/* line 501, ../sass/product_list.scss */
ul.product_list.grid > li .product-container .old-price,
ul.product_list.grid > li .product-container .price,
ul.product_list.grid > li .product-container .price-percent-reduction, ul.product_list.grid .slick-track > li .product-container .old-price,
ul.product_list.grid .slick-track > li .product-container .price,
ul.product_list.grid .slick-track > li .product-container .price-percent-reduction {
  display: inline-block;
}
/* line 504, ../sass/product_list.scss */
ul.product_list.grid > li .product-container .product-flags, ul.product_list.grid .slick-track > li .product-container .product-flags {
  display: none;
}
/* line 507, ../sass/product_list.scss */
ul.product_list.grid > li .product-container .old-price, ul.product_list.grid .slick-track > li .product-container .old-price {
  margin-right: 5px;
}
/* line 511, ../sass/product_list.scss */
ul.product_list.grid > li .product-container .right-block, ul.product_list.grid .slick-track > li .product-container .right-block {
  padding: 10px 0 0;
}
/* line 515, ../sass/product_list.scss */
ul.product_list.grid > li .product-container .left-block, ul.product_list.grid .slick-track > li .product-container .left-block {
  position: relative;
}
/* line 520, ../sass/product_list.scss */
ul.product_list.grid > li .functional-buttons, ul.product_list.grid .slick-track > li .functional-buttons {
  position: absolute;
  top: 5px;
  right: 5px;
}
@media (min-width: 768px) {
  /* line 520, ../sass/product_list.scss */
  ul.product_list.grid > li .functional-buttons, ul.product_list.grid .slick-track > li .functional-buttons {
    top: 1.04vw;
    right: 5%;
  }
}
@media (min-width: 1200px) {
  /* line 520, ../sass/product_list.scss */
  ul.product_list.grid > li .functional-buttons, ul.product_list.grid .slick-track > li .functional-buttons {
    opacity: 0;
    transform: translate3d(20px, 0, 0);
  }
}
/* line 536, ../sass/product_list.scss */
ul.product_list.grid > li .functional-buttons > div:not(:last-child), ul.product_list.grid .slick-track > li .functional-buttons > div:not(:last-child) {
  border-right: 1px solid #f4f4f4;
}
@media (min-width: 1200px) {
  /* line 544, ../sass/product_list.scss */
  ul.product_list.grid > li.hovered .quick-view, ul.product_list.grid .slick-track > li.hovered .quick-view {
    opacity: 1;
    transform: translate3d(-50%, -50%, 0);
  }
  /* line 549, ../sass/product_list.scss */
  ul.product_list.grid > li.hovered .button-container, ul.product_list.grid .slick-track > li.hovered .button-container {
    opacity: 1;
    transform: translate3d(-50%, 0, 0);
  }
  /* line 553, ../sass/product_list.scss */
  ul.product_list.grid > li.hovered .functional-buttons, ul.product_list.grid .slick-track > li.hovered .functional-buttons {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@media (min-width: 992px) {
  /* line 561, ../sass/product_list.scss */
  ul.product_list.grid > li.first-in-line, ul.product_list.grid .slick-track > li.first-in-line {
    clear: left;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 567, ../sass/product_list.scss */
  ul.product_list.grid > li.first-item-of-tablet-line, ul.product_list.grid .slick-track > li.first-item-of-tablet-line {
    clear: left;
  }
}
@media (max-width: 767px) {
  /* line 573, ../sass/product_list.scss */
  ul.product_list.grid > li.first-item-of-mobile-line, ul.product_list.grid .slick-track > li.first-item-of-mobile-line {
    clear: left;
  }
}

/*
* @section      Product list(List) Styles
*/
/* line 602, ../sass/product_list.scss */
*:not(.bx-viewport) > ul.product_list.list {
  margin: 0 -5px;
}
/* line 606, ../sass/product_list.scss */
ul.product_list.list > li {
  margin-bottom: 20px;
}
@media (min-width: 1600px) {
  /* line 606, ../sass/product_list.scss */
  ul.product_list.list > li {
    margin-bottom: 50px;
  }
}
@media (min-width: 1600px) {
  /* line 614, ../sass/product_list.scss */
  .two-columns ul.product_list.list > li .left-block {
    width: 22.04%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 620, ../sass/product_list.scss */
  .three-columns ul.product_list.list > li .left-block {
    width: 45%;
  }
}
@media (min-width: 992px) {
  /* line 627, ../sass/product_list.scss */
  ul.product_list.list > li .center-block {
    border-right: 1px solid #f4f4f4;
  }
}
@media (min-width: 1600px) {
  /* line 632, ../sass/product_list.scss */
  .two-columns ul.product_list.list > li .center-block {
    width: 33.06%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 638, ../sass/product_list.scss */
  .three-columns ul.product_list.list > li .center-block {
    width: 55%;
    border: none;
    margin-bottom: 10px;
  }
}
@media (min-width: 768px) {
  /* line 647, ../sass/product_list.scss */
  ul.product_list.list > li .right-block {
    flex: 1;
  }
}
@media (min-width: 1200px) {
  /* line 647, ../sass/product_list.scss */
  ul.product_list.list > li .right-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 659, ../sass/product_list.scss */
  .three-columns ul.product_list.list > li .right-block {
    width: 55%;
  }
}
@media (min-width: 992px) {
  /* line 667, ../sass/product_list.scss */
  ul.product_list.list > li .product-container > div {
    display: flex;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 672, ../sass/product_list.scss */
  .three-columns ul.product_list.list > li .product-container > div {
    flex-wrap: wrap;
  }
}
/* line 680, ../sass/product_list.scss */
ul.product_list.list > li .product-image-container {
  position: relative;
  display: block;
  background: #f4f4f4;
}
/* line 682, ../sass/product_list.scss */
ul.product_list.list > li .product-image-container .product_img_link {
  display: block;
}
/* line 685, ../sass/product_list.scss */
ul.product_list.list > li .product-image-container .content_price {
  display: none !important;
}
/* line 690, ../sass/product_list.scss */
ul.product_list.list > li .product-flags {
  color: #3f3f3f;
  margin: 5px 0 10px 0;
}
@media (min-width: 480px) {
  /* line 690, ../sass/product_list.scss */
  ul.product_list.list > li .product-flags {
    margin-top: -5px;
  }
}
/* line 697, ../sass/product_list.scss */
ul.product_list.list > li .product-flags .discount {
  color: #ff514d;
}
/* line 702, ../sass/product_list.scss */
ul.product_list.list > li h5 {
  margin-top: 0;
}
/* line 705, ../sass/product_list.scss */
ul.product_list.list > li h5 a span.grid-name {
  display: none;
}
/* line 711, ../sass/product_list.scss */
ul.product_list.list > li .product-desc {
  margin-top: 20px;
  line-height: 1.71429;
  color: #acacac;
}
@media (min-width: 768px) and (max-width: 991px), only screen and (max-width: 479px) {
  /* line 711, ../sass/product_list.scss */
  ul.product_list.list > li .product-desc {
    display: none;
  }
}
@media (min-width: 992px) and (max-width: 1199px), (min-width: 768px) and (max-width: 991px), (min-width: 480px) and (max-width: 767px) {
  /* line 724, ../sass/product_list.scss */
  ul.product_list.list > li .product-desc > * {
    display: flex;
    display: -webkit-box;
    overflow: hidden;
    height: 85px;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
  }
}
@media (min-width: 1200px) {
  /* line 711, ../sass/product_list.scss */
  ul.product_list.list > li .product-desc {
    display: block;
  }
}
@media (min-width: 1600px) {
  /* line 711, ../sass/product_list.scss */
  ul.product_list.list > li .product-desc {
    font-size: 14px;
    padding-right: 40px;
  }
}
/* line 744, ../sass/product_list.scss */
ul.product_list.list > li .product-desc span.grid-desc {
  display: none;
}
@media (min-width: 1200px) {
  /* line 749, ../sass/product_list.scss */
  ul.product_list.list > li .ajax_add_to_cart_button, ul.product_list.list > li .customize {
    margin-right: 20px;
  }
}
@media (min-width: 1200px) {
  /* line 754, ../sass/product_list.scss */
  ul.product_list.list > li .ajax_add_to_cart_button::after, ul.product_list.list > li .customize::after {
    background: #121212;
  }
}
/* line 762, ../sass/product_list.scss */
ul.product_list.list > li .button-container > * {
  margin-bottom: 10px;
}
@media (min-width: 1200px) {
  /* line 762, ../sass/product_list.scss */
  ul.product_list.list > li .button-container > * {
    margin-bottom: 20px;
  }
}
@media (min-width: 1600px) {
  /* line 769, ../sass/product_list.scss */
  ul.product_list.list > li .button-container .btn {
    padding: 15px 30px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 775, ../sass/product_list.scss */
  .three-columns ul.product_list.list > li .button-container {
    display: flex;
  }
  /* line 779, ../sass/product_list.scss */
  .three-columns ul.product_list.list > li .button-container .btn {
    width: 50%;
  }
  /* line 782, ../sass/product_list.scss */
  .three-columns ul.product_list.list > li .button-container .btn:first-of-type {
    margin-right: 10px;
  }
  /* line 788, ../sass/product_list.scss */
  .three-columns ul.product_list.list > li .button-container .ajax_add_to_cart_button::before, .three-columns ul.product_list.list > li .button-container .customize::before, .three-columns ul.product_list.list > li .button-container .btn-tmoneclickorder::before {
    position: static;
    border: none;
    font-size: 16px;
    line-height: 1.4;
    opacity: 1;
    transform: none;
    font-family: "fl-outicons";
    content: "\e04f";
    display: inline-block;
    font-weight: normal;
  }
  /* line 799, ../sass/product_list.scss */
  .three-columns ul.product_list.list > li .button-container .ajax_add_to_cart_button span, .three-columns ul.product_list.list > li .button-container .customize span, .three-columns ul.product_list.list > li .button-container .btn-tmoneclickorder span {
    display: none;
  }
  /* line 805, ../sass/product_list.scss */
  .three-columns ul.product_list.list > li .button-container .customize::before {
    content: '\e024';
  }
  /* line 811, ../sass/product_list.scss */
  .three-columns ul.product_list.list > li .button-container .btn-tmoneclickorder::before {
    content: '\e044';
  }
}
/* line 821, ../sass/product_list.scss */
ul.product_list.list > li .product-attr li:not(:last-child) {
  margin-right: 10px;
}
@media (min-width: 1600px) {
  /* line 821, ../sass/product_list.scss */
  ul.product_list.list > li .product-attr li:not(:last-child) {
    margin-right: 30px;
  }
}
/* line 831, ../sass/product_list.scss */
ul.product_list.list > li .color-list-container {
  margin-bottom: 10px;
}
@media (min-width: 1200px) {
  /* line 831, ../sass/product_list.scss */
  ul.product_list.list > li .color-list-container {
    margin-bottom: 15px;
  }
}
/* line 840, ../sass/product_list.scss */
ul.product_list.list > li .functional-buttons > div {
  text-align: left;
}
@media (min-width: 480px) and (max-width: 767px), (min-width: 992px) and (max-width: 1199px), (min-width: 768px) and (max-width: 991px) {
  /* line 845, ../sass/product_list.scss */
  ul.product_list.list > li .daydeal-box {
    display: none;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 852, ../sass/product_list.scss */
  .three-columns ul.product_list.list > li .daydeal-box {
    transform: scale3d(0.9, 0.9, 1);
  }
}
@media (min-width: 1200px) {
  /* line 859, ../sass/product_list.scss */
  .three-columns ul.product_list.list > li .daydeal-box > div > span {
    font-size: 8px;
  }
  /* line 861, ../sass/product_list.scss */
  .three-columns ul.product_list.list > li .daydeal-box > div > span > span {
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  /* line 845, ../sass/product_list.scss */
  ul.product_list.list > li .daydeal-box {
    position: absolute;
    width: 100%;
    top: 55px;
    left: 5px;
    display: block;
    text-align: center;
    margin-bottom: 0;
    transform: scale3d(0.8, 0.8, 1);
  }
}
@media (min-width: 1200px) and (min-width: 480px) {
  /* line 845, ../sass/product_list.scss */
  ul.product_list.list > li .daydeal-box {
    top: auto;
    bottom: 10px;
  }
}
@media (min-width: 1200px) and (min-width: 480px) {
  /* line 845, ../sass/product_list.scss */
  ul.product_list.list > li .daydeal-box {
    left: 0;
    bottom: 10%;
  }
}
@media (min-width: 1200px) and (min-width: 1200px) {
  /* line 845, ../sass/product_list.scss */
  ul.product_list.list > li .daydeal-box {
    bottom: 20px;
  }
}
@media (min-width: 1200px) and (min-width: 480px) {
  /* line 893, ../sass/product_list.scss */
  ul.product_list.list > li .daydeal-box > div {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 1200px) and (min-width: 480px) {
  /* line 899, ../sass/product_list.scss */
  ul.product_list.list > li .daydeal-box > div > span {
    border: 2px solid #e1e4e2;
  }
  /* line 904, ../sass/product_list.scss */
  ul.product_list.list > li .daydeal-box > div > span:not(:last-child) {
    border-right: none;
  }
}
/* line 913, ../sass/product_list.scss */
ul.product_list.list > li .product-attr {
  justify-content: flex-start;
  background: transparent;
}
/* line 917, ../sass/product_list.scss */
.three-columns ul.product_list.list > li .product-attr {
  display: none;
}
@media (min-width: 992px) {
  /* line 922, ../sass/product_list.scss */
  .three-columns ul.product_list.list > li .product-attr {
    display: flex;
  }
}
/* line 928, ../sass/product_list.scss */
ul.product_list.list > li .quick-view {
  display: none;
}
@media (max-width: 479px) {
  /* line 585, ../sass/product_list.scss */
  ul.product_list.list > li .left-block {
    width: 50%;
  }
  /* line 588, ../sass/product_list.scss */
  ul.product_list.list > li .center-block, ul.product_list.list > li .right-block {
    width: 50%;
    float: right;
    clear: right;
    margin-bottom: 10px;
  }
  /* line 593, ../sass/product_list.scss */
  ul.product_list.list > li .center-block .right-block-content, ul.product_list.list > li .right-block .right-block-content {
    border: none;
    padding-left: 0;
  }
}

/*
* @package       when Product List Gallery is slideshow on
* @description
*
*/
/* line 956, ../sass/product_list.scss */
.product-list-slideshow ul.product_list.grid > li .button-container, .product-list-slideshow ul.product_list .slick-track > li .button-container {
  position: relative;
  margin-top: 20px;
  opacity: 1;
  transform: translate3d(-50%, 0, 0);
}
@media (min-width: 1200px) {
  /* line 963, ../sass/product_list.scss */
  .product-list-slideshow ul.product_list.grid > li .product-container .right-block, .product-list-slideshow ul.product_list .slick-track > li .product-container .right-block {
    padding-top: 40px;
  }
}
/* line 969, ../sass/product_list.scss */
.product-list-slideshow ul.product_list.grid > li .product-attr, .product-list-slideshow ul.product_list .slick-track > li .product-attr {
  border: 1px solid #f3f3f3;
  border-bottom-width: 0;
}
/* line 975, ../sass/product_list.scss */
.product-list-slideshow ul.product_list.grid > li.hovered .button-container, .product-list-slideshow ul.product_list .slick-track > li.hovered .button-container {
  transform: translate3d(-50%, 0, 0);
}
/* line 982, ../sass/product_list.scss */
.product-list-slideshow ul.product_list.list > li .daydeal-box {
  display: none;
}
/* line 987, ../sass/product_list.scss */
.product-list-slideshow ul.product_list .slick-track > li {
  margin-left: 10px;
  margin-right: 10px;
}
/* line 992, ../sass/product_list.scss */
.product-list-slideshow ul.product_list.grid.slick-slider {
  margin: 0;
}
/* line 996, ../sass/product_list.scss */
.product-list-slideshow ul.product_list > .slick-prev, .product-list-slideshow ul.product_list > .slick-next {
  top: 40%;
  font-family: "FontAwesome";
}
/* line 1000, ../sass/product_list.scss */
.product-list-slideshow ul.product_list > .slick-prev::before, .product-list-slideshow ul.product_list > .slick-next::before {
  font-size: 30px;
  color: #121212;
}
/* line 1006, ../sass/product_list.scss */
.product-list-slideshow ul.product_list > .slick-next:before {
  content: '\f178';
}
/* line 1009, ../sass/product_list.scss */
.product-list-slideshow ul.product_list > .slick-prev:before {
  content: '\f177';
}
/* line 1014, ../sass/product_list.scss */
.product-list-slideshow ul.product_list .slick-slide:focus {
  outline: none;
}
