/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
/*
* @section      Sitemap Page Styles
*/
/* line 7, ../sass/sitemap.scss */
#sitemap h1 {
  margin-bottom: 30px;
  margin-top: 35px;
  font: bold 65px/1.30769 "Poiret One", sans-serif;
  font-size: 40px;
  color: #121212;
  text-align: center;
  border: none;
}
@media (max-width: 767px) {
  /* line 7, ../sass/sitemap.scss */
  #sitemap h1 {
    font-size: 22px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 7, ../sass/sitemap.scss */
  #sitemap h1 {
    font-size: 25px;
  }
}
/* line 25, ../sass/sitemap.scss */
#sitemap .sitemap_block {
  margin: 0 0 30px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 25, ../sass/sitemap.scss */
  #sitemap .sitemap_block {
    margin-bottom: 22px;
  }
}
@media (max-width: 767px) {
  /* line 25, ../sass/sitemap.scss */
  #sitemap .sitemap_block {
    margin-bottom: 25px;
  }
}
/* line 36, ../sass/sitemap.scss */
#sitemap .sitemap_block ul.tree > li > a {
  color: #121212;
}
/* line 38, ../sass/sitemap.scss */
#sitemap .sitemap_block ul.tree > li > a:hover {
  color: #595959;
}
/* line 42, ../sass/sitemap.scss */
#sitemap .sitemap_block .page-subheading, #sitemap .sitemap_block ul.tree > li > a {
  position: relative;
  display: block;
  font: 700 35px/1.73333 "Poiret One", sans-serif;
  font-size: 25px;
  text-transform: uppercase;
  margin: 0;
  padding: 0 50px 22px 0;
  color: #121212;
  border-bottom: 1px solid #e1e4e2;
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 42, ../sass/sitemap.scss */
  #sitemap .sitemap_block .page-subheading, #sitemap .sitemap_block ul.tree > li > a {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  /* line 42, ../sass/sitemap.scss */
  #sitemap .sitemap_block .page-subheading, #sitemap .sitemap_block ul.tree > li > a {
    font-size: 16px;
  }
}
/* line 61, ../sass/sitemap.scss */
#sitemap .sitemap_block .page-subheading a, #sitemap .sitemap_block ul.tree > li > a a {
  font-family: "Poiret One", sans-serif;
}
/* line 66, ../sass/sitemap.scss */
#sitemap .sitemap_block .page-subheading.accordion_current:after, #sitemap .sitemap_block ul.tree > li > a.accordion_current:after {
  display: block;
  font-family: "FontAwesome";
  content: "\f107";
  position: absolute;
  right: 0;
  top: 0;
  font-size: 41px;
  line-height: 36px;
  width: 35px;
  font-weight: normal;
  cursor: pointer;
}
@media (max-width: 767px) {
  /* line 66, ../sass/sitemap.scss */
  #sitemap .sitemap_block .page-subheading.accordion_current:after, #sitemap .sitemap_block ul.tree > li > a.accordion_current:after {
    line-height: 30px;
    font-size: 20px;
  }
}
@media (min-width: 768px) {
  /* line 66, ../sass/sitemap.scss */
  #sitemap .sitemap_block .page-subheading.accordion_current:after, #sitemap .sitemap_block ul.tree > li > a.accordion_current:after {
    line-height: 50px;
  }
}
/* line 88, ../sass/sitemap.scss */
#sitemap .sitemap_block .page-subheading.accordion_current.active:after, #sitemap .sitemap_block ul.tree > li > a.accordion_current.active:after {
  content: "\f106";
}
/* line 92, ../sass/sitemap.scss */
#sitemap .sitemap_block .page-subheading a, #sitemap .sitemap_block ul.tree > li > a a {
  color: #121212;
}
/* line 94, ../sass/sitemap.scss */
#sitemap .sitemap_block .page-subheading a:hover, #sitemap .sitemap_block ul.tree > li > a a:hover {
  color: #595959;
}
/* line 99, ../sass/sitemap.scss */
#sitemap .sitemap_block .accordion_content {
  padding-top: 18px;
}
/* line 101, ../sass/sitemap.scss */
#sitemap .sitemap_block .accordion_content li {
  padding: 5px 0;
  font: normal 13px/18px "Poiret One", sans-serif;
}
/* line 107, ../sass/sitemap.scss */
#sitemap .sitemap_block ul.tree > li {
  margin: 0 0 30px;
}
/* line 109, ../sass/sitemap.scss */
#sitemap .sitemap_block ul.tree > li .accordion_content {
  overflow: hidden;
}
/* line 111, ../sass/sitemap.scss */
#sitemap .sitemap_block ul.tree > li .accordion_content > li {
  width: 20%;
  float: left;
  padding: 0 10px 20px 0;
}
/* line 115, ../sass/sitemap.scss */
#sitemap .sitemap_block ul.tree > li .accordion_content > li:nth-child(5n+1) {
  clear: left;
}
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 111, ../sass/sitemap.scss */
  #sitemap .sitemap_block ul.tree > li .accordion_content > li {
    width: 25%;
  }
  /* line 120, ../sass/sitemap.scss */
  #sitemap .sitemap_block ul.tree > li .accordion_content > li:nth-child(4n+1) {
    clear: left;
  }
}
@media (min-width: 630px) and (max-width: 991px) {
  /* line 111, ../sass/sitemap.scss */
  #sitemap .sitemap_block ul.tree > li .accordion_content > li {
    width: 33.33333%;
  }
  /* line 126, ../sass/sitemap.scss */
  #sitemap .sitemap_block ul.tree > li .accordion_content > li:nth-child(3n+1) {
    clear: left;
  }
}
@media (max-width: 629px) {
  /* line 111, ../sass/sitemap.scss */
  #sitemap .sitemap_block ul.tree > li .accordion_content > li {
    width: 50%;
  }
  /* line 132, ../sass/sitemap.scss */
  #sitemap .sitemap_block ul.tree > li .accordion_content > li:nth-child(2n+1) {
    clear: left;
  }
}
@media (max-width: 430px) {
  /* line 111, ../sass/sitemap.scss */
  #sitemap .sitemap_block ul.tree > li .accordion_content > li {
    width: 100%;
  }
}
/* line 139, ../sass/sitemap.scss */
#sitemap .sitemap_block ul.tree > li .accordion_content > li > a {
  padding: 5px 0 10px;
  display: inline-block;
  font: bold 16px/26px "Poiret One", sans-serif;
  color: #121212;
}
/* line 144, ../sass/sitemap.scss */
#sitemap .sitemap_block ul.tree > li .accordion_content > li > a:hover {
  color: #595959;
}
