/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
/*$base-border-color: darken(saturate(adjust_hue($color-box, 139.99999999999983), 5.263157894736871%), 6.470588235294116%);*/
/*
* @section      Stores Page Styles
*/
#stores #map {
  width: 100%;
  height: 447px;
  margin-bottom: 26px;
}

#stores input#addressInput {
  display: inline-block;
  width: 269px;
}

#stores .address-input {
  float: left;
  margin-right: 19px;
}

@media (max-width: 767px) {
  #stores .address-input {
    width: 100%;
    margin: 0 0 20px 0;
  }
}

#stores .address-input label {
  margin-right: 5px;
}

#stores .radius-input {
  float: left;
  margin-right: 20px;
}

#stores .radius-input label,
#stores .radius-input .selector {
  display: inline-block;
}

#stores .radius-input label {
  margin-right: 10px;
}

#stores .radius-input #radiusSelect {
  width: 78px;
}

#stores .store-content {
  padding-bottom: 30px;
}

#stores .store-content-select .selector {
  visibility: hidden;
  display: none;
}

#stores .store-content-select.active {
  padding-top: 30px;
  margin-bottom: 30px;
  border-top: 1px solid #e4e1e1;
}

#stores .store-content-select.active .selector {
  visibility: visible;
  display: block;
}

#stores .store-title {
  margin-bottom: 16px;
}

#stores label {
  font-weight: normal;
  color: #595959;
}

#stores #stores_loader {
  display: none;
  margin-left: 5px;
}

#stores #locationSelect {
  max-width: 290px;
  visibility: hidden;
}

#stores #stores-table {
  display: none;
}

#stores #stores-table tbody td {
  padding: 20px;
}

#stores #stores-table tbody td.num {
  background: white;
  width: 46px;
}

@media only screen and (max-width: 480px) {
  #stores #stores-table tbody td.num {
    display: none;
  }
}

#stores #stores-table tbody td.name span {
  padding-left: 15px;
}

@media (max-width: 767px) {
  #stores #stores-table tbody td.name img {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  #stores #stores-table th.num {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  #stores #stores-table th {
    font-size: 10px;
  }
}

@media (max-width: 767px) {
  .simplifiedStores .logo {
    display: none;
  }
}

.store-image {
  text-align: center;
}

.store-image img {
  max-width: 100%;
}

@media (min-width: 768px) and (max-width: 991px) {
  .store-image img {
    width: 100%;
    min-width: 100px;
  }
}
