/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
/*
* @section      Stores Page Styles
*/
/* line 7, ../sass/stores.scss */
#stores #map {
  width: 100%;
  height: 447px;
  margin-bottom: 26px;
}
/* line 12, ../sass/stores.scss */
#stores input#addressInput {
  display: inline-block;
  width: 269px;
}
/* line 16, ../sass/stores.scss */
#stores .address-input {
  float: left;
  margin-right: 19px;
}
@media (max-width: 767px) {
  /* line 16, ../sass/stores.scss */
  #stores .address-input {
    width: 100%;
    margin: 0 0 20px 0;
  }
}
/* line 23, ../sass/stores.scss */
#stores .address-input label {
  margin-right: 5px;
}
/* line 27, ../sass/stores.scss */
#stores .radius-input {
  float: left;
  margin-right: 20px;
}
/* line 31, ../sass/stores.scss */
#stores .radius-input label,
#stores .radius-input .selector {
  display: inline-block;
}
/* line 35, ../sass/stores.scss */
#stores .radius-input label {
  margin-right: 10px;
}
/* line 39, ../sass/stores.scss */
#stores .radius-input #radiusSelect {
  width: 78px;
}
/* line 43, ../sass/stores.scss */
#stores .store-content {
  padding-bottom: 30px;
}
/* line 47, ../sass/stores.scss */
#stores .store-content-select .selector {
  visibility: hidden;
  display: none;
}
/* line 51, ../sass/stores.scss */
#stores .store-content-select.active {
  padding-top: 30px;
  margin-bottom: 30px;
  border-top: 1px solid #e1e4e2;
}
/* line 56, ../sass/stores.scss */
#stores .store-content-select.active .selector {
  visibility: visible;
  display: block;
}
/* line 62, ../sass/stores.scss */
#stores .store-title {
  margin-bottom: 16px;
}
/* line 65, ../sass/stores.scss */
#stores label {
  font-weight: normal;
  color: #595959;
}
/* line 69, ../sass/stores.scss */
#stores #stores_loader {
  display: none;
  margin-left: 5px;
}
/* line 73, ../sass/stores.scss */
#stores #locationSelect {
  max-width: 290px;
  visibility: hidden;
}
/* line 77, ../sass/stores.scss */
#stores #stores-table {
  display: none;
}
/* line 80, ../sass/stores.scss */
#stores #stores-table tbody td {
  padding: 20px;
}
/* line 82, ../sass/stores.scss */
#stores #stores-table tbody td.num {
  background: white;
  width: 46px;
}
@media only screen and (max-width: 480px) {
  /* line 82, ../sass/stores.scss */
  #stores #stores-table tbody td.num {
    display: none;
  }
}
/* line 91, ../sass/stores.scss */
#stores #stores-table tbody td.name span {
  padding-left: 15px;
}
@media (max-width: 767px) {
  /* line 95, ../sass/stores.scss */
  #stores #stores-table tbody td.name img {
    display: none;
  }
}
@media only screen and (max-width: 480px) {
  /* line 103, ../sass/stores.scss */
  #stores #stores-table th.num {
    display: none;
  }
}
@media only screen and (max-width: 480px) {
  /* line 102, ../sass/stores.scss */
  #stores #stores-table th {
    font-size: 10px;
  }
}

@media (max-width: 767px) {
  /* line 115, ../sass/stores.scss */
  .simplifiedStores .logo {
    display: none;
  }
}

/* line 121, ../sass/stores.scss */
.store-image {
  text-align: center;
}
/* line 123, ../sass/stores.scss */
.store-image img {
  max-width: 100%;
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 123, ../sass/stores.scss */
  .store-image img {
    width: 100%;
    min-width: 100px;
  }
}
