@import '../../_theme_variables';

/******************************************************************************
						Home Page Slider
*******************************************************************************/
#homepage-slider {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;

  @media (min-width: 1600px) {
    margin-bottom: 60px;
  }

  #homeslider {
    margin: 0 auto;
    padding: 0;
    .homeslider-container {
      position: relative;

      .homeslider-image {
        position: absolute;
        top: 0;
        left: 0;
      }

      .homeslider-description {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        cursor: pointer;
        transform: translateX(-50%);

        @media (max-width: $screen-sm-min - 1) {
          width: 100%;
        }

        @media (min-width: $screen-md-min) {
          padding: 0 5.73vw;
        }

        @media (min-width: 1400px) {
          width: 100%;
        }

        .content {
          width: 50%;
        }

        h2 {
          position: relative;
          margin-bottom: 0;
          font: 900 3.96vw/#{(86/76)} $font-custom;
          text-transform: uppercase;
          letter-spacing: 0.04em;
          color: $dark-text-color;

          + p {
            margin-top: 1.6vw;
          }
        }

        p {
          position: relative;
          display: none;
          font: 300 13px/#{(30/20)} $font-custom;

          @media (min-width: $screen-xs-min) {
            display: block;
          }

          @media (min-width: $screen-lg-min) {
            font-size: 1.04vw;
          }
        }

        .social {
          position: absolute;
          left: 5%;
          top: 70%;
          display: none;
          color: $dark-text-color;

          @media (min-width: $screen-md-min) {
            display: block;
          }

          @media (min-width: 1600px) {
            left: 0;
          }

          > span {
            position: absolute;
            left: 0;
            top: -20px;
            display: block;
            min-width: 150px;
            padding-left: 4.69vw;
            font: 700 14px/1 $font-custom;
            text-transform: uppercase;
            letter-spacing: 0.06em;
            transform: rotate(-90deg);
            transform-origin: top left;

            @media (min-width: $screen-lg-min) {
              font-size: 0.83vw;
              min-width: 10.42vw;
            }

            &::before {
              content: '';
              position: absolute;
              top: 50%;
              left: 0;
              height: 2px;
              width: 25%;
              background-color: $dark-background;
              transform: translateY(-50%);
            }
          }

          li {
            position: relative;

            a {
              color: $dark-text-color;
              transition: $base-transition;
              margin: 25px 0;

              &:hover {
                color: $link-hover-color;
              }
            }
            &.facebook a, &.btn-facebook, &.btn-login-facebook {
              &:before {
                @include addIcon('\f09a');
              }
            }
            &.google-plus a, &.btn-google-plus, &.btn-login-google {
              &:before {
                @include addIcon('\f0d5');
              }
            }
            &.twitter a, &.btn-twitter {
              &:before {
                @include addIcon('\f099');
              }
            }

            span {
              display: none;
            }
          }
        }
      }
    }
  }

  .homeslider-counter {
    z-index: 100;
    position: absolute;
    top: 5.73vw;
    left: calc(100vw - 970px - ((100vw - 970px) / 2));
    display: none;
    align-items: flex-start;
    font: 300 1.04vw/#{(33/20)} $font-custom;
    letter-spacing: 0.06em;
    color: #dcdcdc;

    @media (min-width: $screen-md-min) {
      display: flex;
    }

    @media (min-width: $screen-lg-min) {
      left: calc(100vw - 1170px - ((100vw - 1170px) / 2));
    }

    @media (min-width: 1440px) {
      left: calc(100vw - 1420px - ((100vw - 1500px) / 2));
    }

    @media (min-width: 1640px) {
      left: calc(100vw - 1660px - ((100vw - 1640px) / 2));
    }

    .current-slide {
      font-size: 2.81vw;
      line-height: 1;
      margin-right: 15px;
    }
  }
}

/*****************************************************************************
						BXSlider Styles
********************************************************************************/
//RESET AND LAYOUT
#homepage-slider {
  .bx-wrapper {
    position: relative;
    padding: 0;

    *zoom: 1;
    a {
      display: block;
    }
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
  // THEME
  .bx-wrapper {
    .bx-viewport {
      width: 100%;
    }
  }
  .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
    z-index: 999;
    position: absolute;
    bottom: 30px;
    width: 100%;
  }
  //LOADER
  .bx-wrapper .bx-loading {
    z-index: 2000;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 50px;
    width: 100%;
    height: 100%;
  }

  //PAGER
  .bx-wrapper .bx-pager {
    top: 90%;
    bottom: auto;
    display: none;
    width: auto;
    transform: translateY(-50%);
    padding-top: 20px;
    color: #666;
    text-align: center;
    font-weight: bold;
    font-size: 0.85em;
    font-family: $font-family;
    left: 0;
    right: 0 !important;

    @media (min-width: $screen-md-min) {
      display: block;
    }

    @media (min-width: $screen-lg-min) {
      right: calc(100vw - 1170px - ((100vw - 1170px) / 2));
    }

    @media (min-width: 1440px) {
      right: calc(100vw - 1420px - ((100vw - 1420px) / 2));
    }

    @media (min-width: 1640px) {
      right: calc(100vw - 1660px - ((100vw - 1640px) / 2));
    }
  }

  .bx-wrapper .bx-pager .bx-pager-item, .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
    display: inline-block;

    *zoom: 1;
    *display: inline;
  }
  .bx-wrapper .bx-pager.bx-default-pager a {
    position: relative;
    display: block;
    width: 20px;
    height: 20px;
    margin: 10px 5px;
    outline: 0;

    background: none;
    text-indent: -9999px;
    transition: $base-transition;

    &::after, &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      transform: translate(-50%, -50%);
      transition: $base-transition;
    }

    &::before {
      width: 10px;
      height: 10px;
      background-color: #c4c4c4;
      border-radius: 50%;
    }

    &::after {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 2px solid $dark-border-color;
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.4);
    }
  }
  .bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
    &::before {
      background-color: $dark-background;
    }

    &::after {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
  }
  //DIRECTION CONTROLS (NEXT / PREV)
  .bx-wrapper .bx-controls-direction a {
    z-index: 999;
    position: absolute;
    top: 50%;
    left: 20px;
    margin: 0;
    outline: 0;

    @include transform (translate(0, -50%));
    &:before {
      @include addIcon('\f053');
    }
    &.bx-next {
      right: 20px;
      left: auto;
      &:before {
        @include addIcon('\f054');
      }
    }
    &:hover {
      color: $light-text-color;
    }
  }
  .bx-wrapper .bx-controls-direction a.disabled {
    display: none;
  }
  //AUTO CONTROLS (START / STOP)
  .bx-wrapper .bx-controls-auto {
    text-align: center;
  }
  .bx-wrapper .bx-controls-auto .bx-start {
    display: block;
    width: 10px;
    height: 11px;
    margin: 0 3px;
    outline: 0;
    &:before {
      content: '';
      color: #fff;
      font-family: $font-icon;
    }
  }
  .bx-wrapper .bx-controls-auto .bx-stop {
    display: block;
    width: 9px;
    height: 11px;
    margin: 0 3px;
    outline: 0;
    &:before {
      content: '';
      color: #fff;
      font-family: $font-icon;
    }
  }
  //PAGER WITH AUTO-CONTROLS HYBRID LAYOUT
  .bx-wrapper .bx-controls .bx-controls-auto {
    z-index: 998;
    top: 15px;
    right: 15px;
    width: 35px;
  }
  //IMAGE CAPTIONS
  .bx-wrapper .bx-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #666 \9
  ;
    background: rgba(80, 80, 80, 0.75);
  }
  .bx-wrapper .bx-caption span {
    display: block;
    padding: 10px;
    color: $light-text-color;
    font-size: 0.85em;
    font-family: $font-family;
  }
}

#bx-pager-thumb {
  padding: 10px 0;
  text-align: center;
  a {
    display: inline-block;
    max-width: 150px;
    width: 31%;
    img {
      max-width: 100%;
      height: auto;
    }
  }
}