/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
/*$base-border-color: darken(saturate(adjust_hue($color-box, 139.99999999999983), 5.263157894736871%), 6.470588235294116%);*/
#search_block_top {
  padding-top: 20px;
}

#search_block_top #searchbox {
  float: left;
  width: 100%;
  border: 1px solid #e4e1e1;
  position: relative;
  background: white;
  padding-right: 50px;
}

#search_block_top .btn.button-search {
  background: #121212;
  display: block;
  position: absolute;
  top: -1px;
  right: -1px;
  border: none;
  color: #dedede;
  width: 50px;
  text-align: center;
  padding: 10px 0 11px 0;
}

#search_block_top .btn.button-search span {
  display: none;
}

#search_block_top .btn.button-search:before {
  content: "\f002";
  display: block;
  font-family: "FontAwesome";
  font-size: 17px;
  width: 100%;
  text-align: center;
}

#search_block_top .btn.button-search:hover {
  color: #6f6f6f;
}

#search_block_top #search_query_top {
  display: inline-block;
  padding: 12px 10px 13px 13px;
  height: 43px;
  border: none;
  background: none;
}

.ac_results {
  background: #dedede;
  border: 1px solid #e4e1e1;
  width: 271px;
  margin-top: -1px;
}

.ac_results li {
  padding: 0 10px;
  font-weight: normal;
  color: #686666;
  font-size: 13px;
  line-height: 22px;
}

.ac_results li.ac_odd {
  background: #dedede;
}

.ac_results li:hover, .ac_results li.ac_over {
  background: white;
}

form#searchbox {
  position: relative;
}

form#searchbox label {
  color: #404040;
}

form#searchbox input#search_query_block {
  margin-right: 10px;
  max-width: 222px;
  margin-bottom: 10px;
  display: inline-block;
  float: left;
}

form#searchbox .btn.btn-sm {
  float: left;
}

form#searchbox .btn.btn-sm i {
  margin-right: 0;
}
