/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
/*$base-border-color: darken(saturate(adjust_hue($color-box, 139.99999999999983), 5.263157894736871%), 6.470588235294116%);*/
.header_user_info {
  float: right;
  border-left: 1px solid #515151;
  border-right: 1px solid #515151;
}

.header_user_info a {
  color: #dedede;
  font-weight: bold;
  display: block;
  padding: 8px 9px 11px 8px;
  cursor: pointer;
}

@media (max-width: 479px) {
  .header_user_info a {
    font-size: 11px;
  }
}

.header_user_info a:hover, .header_user_info a.active {
  background: #2b2b2b;
}

.header_user_info + .header_user_info {
  border-right: none;
}

.user_info {
  text-align: right;
  margin: 20px 0 0 0;
}

.user_info li {
  display: inline-block;
  padding-right: 15px;
}

.user_info li a {
  text-decoration: none;
}

.user_info li a:hover {
  text-decoration: underline;
}
