/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
/* line 3, ../../../sass/modules/homefeatured/homefeatured.scss */
.homefeatured-wrap {
  margin-bottom: 30px;
}
@media (min-width: 480px) {
  /* line 3, ../../../sass/modules/homefeatured/homefeatured.scss */
  .homefeatured-wrap {
    margin-bottom: 50px;
  }
}
@media (min-width: 768px) {
  /* line 3, ../../../sass/modules/homefeatured/homefeatured.scss */
  .homefeatured-wrap {
    margin-bottom: 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 14, ../../../sass/modules/homefeatured/homefeatured.scss */
  .homefeatured-wrap.block p {
    margin-bottom: 20px;
  }
}
/* line 22, ../../../sass/modules/homefeatured/homefeatured.scss */
.homefeatured-wrap .bx-wrapper .bx-controls-direction .bx-next, .homefeatured-wrap .bx-wrapper .bx-controls-direction .bx-prev {
  top: 100%;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
@media (min-width: 480px) {
  /* line 22, ../../../sass/modules/homefeatured/homefeatured.scss */
  .homefeatured-wrap .bx-wrapper .bx-controls-direction .bx-next, .homefeatured-wrap .bx-wrapper .bx-controls-direction .bx-prev {
    top: calc(100% + 16px);
  }
}
@media (min-width: 768px) {
  /* line 22, ../../../sass/modules/homefeatured/homefeatured.scss */
  .homefeatured-wrap .bx-wrapper .bx-controls-direction .bx-next, .homefeatured-wrap .bx-wrapper .bx-controls-direction .bx-prev {
    top: 35%;
    opacity: 0;
    transform: translateX(-20px);
  }
}
@media (min-width: 768px) {
  /* line 36, ../../../sass/modules/homefeatured/homefeatured.scss */
  .homefeatured-wrap .bx-wrapper .bx-controls-direction .bx-next {
    transform: translateX(20px);
  }
}
/* line 45, ../../../sass/modules/homefeatured/homefeatured.scss */
.homefeatured-wrap .bx-wrapper:hover .bx-controls-direction .bx-next, .homefeatured-wrap .bx-wrapper:hover .bx-controls-direction .bx-prev {
  opacity: 1;
  transform: translateX(0);
}
