/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
/******************************************************************************
						Home Page Slider
*******************************************************************************/
/* line 6, ../../../sass/modules/homeslider/homeslider.scss */
#homepage-slider {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}
@media (min-width: 1600px) {
  /* line 6, ../../../sass/modules/homeslider/homeslider.scss */
  #homepage-slider {
    margin-bottom: 60px;
  }
}
/* line 15, ../../../sass/modules/homeslider/homeslider.scss */
#homepage-slider #homeslider {
  margin: 0 auto;
  padding: 0;
}
/* line 18, ../../../sass/modules/homeslider/homeslider.scss */
#homepage-slider #homeslider .homeslider-container {
  position: relative;
}
/* line 21, ../../../sass/modules/homeslider/homeslider.scss */
#homepage-slider #homeslider .homeslider-container .homeslider-image {
  position: absolute;
  top: 0;
  left: 0;
}
/* line 27, ../../../sass/modules/homeslider/homeslider.scss */
#homepage-slider #homeslider .homeslider-container .homeslider-description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  transform: translateX(-50%);
}
@media (max-width: 767px) {
  /* line 27, ../../../sass/modules/homeslider/homeslider.scss */
  #homepage-slider #homeslider .homeslider-container .homeslider-description {
    width: 100%;
  }
}
@media (min-width: 992px) {
  /* line 27, ../../../sass/modules/homeslider/homeslider.scss */
  #homepage-slider #homeslider .homeslider-container .homeslider-description {
    padding: 0 5.73vw;
  }
}
@media (min-width: 1400px) {
  /* line 27, ../../../sass/modules/homeslider/homeslider.scss */
  #homepage-slider #homeslider .homeslider-container .homeslider-description {
    width: 100%;
  }
}
/* line 50, ../../../sass/modules/homeslider/homeslider.scss */
#homepage-slider #homeslider .homeslider-container .homeslider-description .content {
  width: 50%;
}
/* line 54, ../../../sass/modules/homeslider/homeslider.scss */
#homepage-slider #homeslider .homeslider-container .homeslider-description h2 {
  position: relative;
  margin-bottom: 0;
  font: 900 3.96vw/1.13158 "Poiret One", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  color: #121212;
}
/* line 62, ../../../sass/modules/homeslider/homeslider.scss */
#homepage-slider #homeslider .homeslider-container .homeslider-description h2 + p {
  margin-top: 1.6vw;
}
/* line 67, ../../../sass/modules/homeslider/homeslider.scss */
#homepage-slider #homeslider .homeslider-container .homeslider-description p {
  position: relative;
  display: none;
  font: 300 13px/1.5 "Poiret One", sans-serif;
}
@media (min-width: 480px) {
  /* line 67, ../../../sass/modules/homeslider/homeslider.scss */
  #homepage-slider #homeslider .homeslider-container .homeslider-description p {
    display: block;
  }
}
@media (min-width: 1200px) {
  /* line 67, ../../../sass/modules/homeslider/homeslider.scss */
  #homepage-slider #homeslider .homeslider-container .homeslider-description p {
    font-size: 1.04vw;
  }
}
/* line 81, ../../../sass/modules/homeslider/homeslider.scss */
#homepage-slider #homeslider .homeslider-container .homeslider-description .social {
  position: absolute;
  left: 5%;
  top: 70%;
  display: none;
  color: #121212;
}
@media (min-width: 992px) {
  /* line 81, ../../../sass/modules/homeslider/homeslider.scss */
  #homepage-slider #homeslider .homeslider-container .homeslider-description .social {
    display: block;
  }
}
@media (min-width: 1600px) {
  /* line 81, ../../../sass/modules/homeslider/homeslider.scss */
  #homepage-slider #homeslider .homeslider-container .homeslider-description .social {
    left: 0;
  }
}
/* line 96, ../../../sass/modules/homeslider/homeslider.scss */
#homepage-slider #homeslider .homeslider-container .homeslider-description .social > span {
  position: absolute;
  left: 0;
  top: -20px;
  display: block;
  min-width: 150px;
  padding-left: 4.69vw;
  font: 700 14px/1 "Poiret One", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  transform: rotate(-90deg);
  transform-origin: top left;
}
@media (min-width: 1200px) {
  /* line 96, ../../../sass/modules/homeslider/homeslider.scss */
  #homepage-slider #homeslider .homeslider-container .homeslider-description .social > span {
    font-size: 0.83vw;
    min-width: 10.42vw;
  }
}
/* line 114, ../../../sass/modules/homeslider/homeslider.scss */
#homepage-slider #homeslider .homeslider-container .homeslider-description .social > span::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  height: 2px;
  width: 25%;
  background-color: #121212;
  transform: translateY(-50%);
}
/* line 126, ../../../sass/modules/homeslider/homeslider.scss */
#homepage-slider #homeslider .homeslider-container .homeslider-description .social li {
  position: relative;
}
/* line 129, ../../../sass/modules/homeslider/homeslider.scss */
#homepage-slider #homeslider .homeslider-container .homeslider-description .social li a {
  color: #121212;
  transition: all 0.3s ease-in-out;
  margin: 25px 0;
}
/* line 134, ../../../sass/modules/homeslider/homeslider.scss */
#homepage-slider #homeslider .homeslider-container .homeslider-description .social li a:hover {
  color: #f4d6d6;
}
/* line 139, ../../../sass/modules/homeslider/homeslider.scss */
#homepage-slider #homeslider .homeslider-container .homeslider-description .social li.facebook a:before, #homepage-slider #homeslider .homeslider-container .homeslider-description .social li.btn-facebook:before, #homepage-slider #homeslider .homeslider-container .homeslider-description .social li.btn-login-facebook:before {
  font-family: "FontAwesome";
  content: "\f09a";
  display: inline-block;
  font-weight: normal;
}
/* line 144, ../../../sass/modules/homeslider/homeslider.scss */
#homepage-slider #homeslider .homeslider-container .homeslider-description .social li.google-plus a:before, #homepage-slider #homeslider .homeslider-container .homeslider-description .social li.btn-google-plus:before, #homepage-slider #homeslider .homeslider-container .homeslider-description .social li.btn-login-google:before {
  font-family: "FontAwesome";
  content: "\f0d5";
  display: inline-block;
  font-weight: normal;
}
/* line 149, ../../../sass/modules/homeslider/homeslider.scss */
#homepage-slider #homeslider .homeslider-container .homeslider-description .social li.twitter a:before, #homepage-slider #homeslider .homeslider-container .homeslider-description .social li.btn-twitter:before {
  font-family: "FontAwesome";
  content: "\f099";
  display: inline-block;
  font-weight: normal;
}
/* line 154, ../../../sass/modules/homeslider/homeslider.scss */
#homepage-slider #homeslider .homeslider-container .homeslider-description .social li span {
  display: none;
}
/* line 163, ../../../sass/modules/homeslider/homeslider.scss */
#homepage-slider .homeslider-counter {
  z-index: 100;
  position: absolute;
  top: 5.73vw;
  left: calc(100vw - 970px - ((100vw - 970px) / 2));
  display: none;
  align-items: flex-start;
  font: 300 1.04vw/1.65 "Poiret One", sans-serif;
  letter-spacing: 0.06em;
  color: #dcdcdc;
}
@media (min-width: 992px) {
  /* line 163, ../../../sass/modules/homeslider/homeslider.scss */
  #homepage-slider .homeslider-counter {
    display: flex;
  }
}
@media (min-width: 1200px) {
  /* line 163, ../../../sass/modules/homeslider/homeslider.scss */
  #homepage-slider .homeslider-counter {
    left: calc(100vw - 1170px - ((100vw - 1170px) / 2));
  }
}
@media (min-width: 1440px) {
  /* line 163, ../../../sass/modules/homeslider/homeslider.scss */
  #homepage-slider .homeslider-counter {
    left: calc(100vw - 1420px - ((100vw - 1500px) / 2));
  }
}
@media (min-width: 1640px) {
  /* line 163, ../../../sass/modules/homeslider/homeslider.scss */
  #homepage-slider .homeslider-counter {
    left: calc(100vw - 1660px - ((100vw - 1640px) / 2));
  }
}
/* line 190, ../../../sass/modules/homeslider/homeslider.scss */
#homepage-slider .homeslider-counter .current-slide {
  font-size: 2.81vw;
  line-height: 1;
  margin-right: 15px;
}

/*****************************************************************************
						BXSlider Styles
********************************************************************************/
/* line 203, ../../../sass/modules/homeslider/homeslider.scss */
#homepage-slider .bx-wrapper {
  position: relative;
  padding: 0;
  *zoom: 1;
}
/* line 208, ../../../sass/modules/homeslider/homeslider.scss */
#homepage-slider .bx-wrapper a {
  display: block;
}
/* line 211, ../../../sass/modules/homeslider/homeslider.scss */
#homepage-slider .bx-wrapper img {
  display: block;
  width: 100%;
  height: auto;
}
/* line 219, ../../../sass/modules/homeslider/homeslider.scss */
#homepage-slider .bx-wrapper .bx-viewport {
  width: 100%;
}
/* line 223, ../../../sass/modules/homeslider/homeslider.scss */
#homepage-slider .bx-wrapper .bx-pager, #homepage-slider .bx-wrapper .bx-controls-auto {
  z-index: 999;
  position: absolute;
  bottom: 30px;
  width: 100%;
}
/* line 230, ../../../sass/modules/homeslider/homeslider.scss */
#homepage-slider .bx-wrapper .bx-loading {
  z-index: 2000;
  position: absolute;
  top: 0;
  left: 0;
  min-height: 50px;
  width: 100%;
  height: 100%;
}
/* line 241, ../../../sass/modules/homeslider/homeslider.scss */
#homepage-slider .bx-wrapper .bx-pager {
  top: 90%;
  bottom: auto;
  display: none;
  width: auto;
  transform: translateY(-50%);
  padding-top: 20px;
  color: #666;
  text-align: center;
  font-weight: bold;
  font-size: 0.85em;
  font-family: "Poiret One", sans-serif;
  left: 0;
  right: 0 !important;
}
@media (min-width: 992px) {
  /* line 241, ../../../sass/modules/homeslider/homeslider.scss */
  #homepage-slider .bx-wrapper .bx-pager {
    display: block;
  }
}
@media (min-width: 1200px) {
  /* line 241, ../../../sass/modules/homeslider/homeslider.scss */
  #homepage-slider .bx-wrapper .bx-pager {
    right: calc(100vw - 1170px - ((100vw - 1170px) / 2));
  }
}
@media (min-width: 1440px) {
  /* line 241, ../../../sass/modules/homeslider/homeslider.scss */
  #homepage-slider .bx-wrapper .bx-pager {
    right: calc(100vw - 1420px - ((100vw - 1420px) / 2));
  }
}
@media (min-width: 1640px) {
  /* line 241, ../../../sass/modules/homeslider/homeslider.scss */
  #homepage-slider .bx-wrapper .bx-pager {
    right: calc(100vw - 1660px - ((100vw - 1640px) / 2));
  }
}
/* line 273, ../../../sass/modules/homeslider/homeslider.scss */
#homepage-slider .bx-wrapper .bx-pager .bx-pager-item, #homepage-slider .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}
/* line 279, ../../../sass/modules/homeslider/homeslider.scss */
#homepage-slider .bx-wrapper .bx-pager.bx-default-pager a {
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  margin: 10px 5px;
  outline: 0;
  background: none;
  text-indent: -9999px;
  transition: all 0.3s ease-in-out;
}
/* line 291, ../../../sass/modules/homeslider/homeslider.scss */
#homepage-slider .bx-wrapper .bx-pager.bx-default-pager a::after, #homepage-slider .bx-wrapper .bx-pager.bx-default-pager a::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
}
/* line 301, ../../../sass/modules/homeslider/homeslider.scss */
#homepage-slider .bx-wrapper .bx-pager.bx-default-pager a::before {
  width: 10px;
  height: 10px;
  background-color: #c4c4c4;
  border-radius: 50%;
}
/* line 308, ../../../sass/modules/homeslider/homeslider.scss */
#homepage-slider .bx-wrapper .bx-pager.bx-default-pager a::after {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #121212;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.4);
}
/* line 318, ../../../sass/modules/homeslider/homeslider.scss */
#homepage-slider .bx-wrapper .bx-pager.bx-default-pager a:hover::before, #homepage-slider .bx-wrapper .bx-pager.bx-default-pager a.active::before {
  background-color: #121212;
}
/* line 322, ../../../sass/modules/homeslider/homeslider.scss */
#homepage-slider .bx-wrapper .bx-pager.bx-default-pager a:hover::after, #homepage-slider .bx-wrapper .bx-pager.bx-default-pager a.active::after {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
/* line 328, ../../../sass/modules/homeslider/homeslider.scss */
#homepage-slider .bx-wrapper .bx-controls-direction a {
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 20px;
  margin: 0;
  outline: 0;
  -webkit-transform: translate(0, -50%);
  -khtml-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
/* line 337, ../../../sass/modules/homeslider/homeslider.scss */
#homepage-slider .bx-wrapper .bx-controls-direction a:before {
  font-family: "FontAwesome";
  content: "\f053";
  display: inline-block;
  font-weight: normal;
}
/* line 340, ../../../sass/modules/homeslider/homeslider.scss */
#homepage-slider .bx-wrapper .bx-controls-direction a.bx-next {
  right: 20px;
  left: auto;
}
/* line 343, ../../../sass/modules/homeslider/homeslider.scss */
#homepage-slider .bx-wrapper .bx-controls-direction a.bx-next:before {
  font-family: "FontAwesome";
  content: "\f054";
  display: inline-block;
  font-weight: normal;
}
/* line 347, ../../../sass/modules/homeslider/homeslider.scss */
#homepage-slider .bx-wrapper .bx-controls-direction a:hover {
  color: #dedede;
}
/* line 351, ../../../sass/modules/homeslider/homeslider.scss */
#homepage-slider .bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}
/* line 355, ../../../sass/modules/homeslider/homeslider.scss */
#homepage-slider .bx-wrapper .bx-controls-auto {
  text-align: center;
}
/* line 358, ../../../sass/modules/homeslider/homeslider.scss */
#homepage-slider .bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  width: 10px;
  height: 11px;
  margin: 0 3px;
  outline: 0;
}
/* line 364, ../../../sass/modules/homeslider/homeslider.scss */
#homepage-slider .bx-wrapper .bx-controls-auto .bx-start:before {
  content: '';
  color: #fff;
  font-family: "FontAwesome";
}
/* line 370, ../../../sass/modules/homeslider/homeslider.scss */
#homepage-slider .bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  width: 9px;
  height: 11px;
  margin: 0 3px;
  outline: 0;
}
/* line 376, ../../../sass/modules/homeslider/homeslider.scss */
#homepage-slider .bx-wrapper .bx-controls-auto .bx-stop:before {
  content: '';
  color: #fff;
  font-family: "FontAwesome";
}
/* line 383, ../../../sass/modules/homeslider/homeslider.scss */
#homepage-slider .bx-wrapper .bx-controls .bx-controls-auto {
  z-index: 998;
  top: 15px;
  right: 15px;
  width: 35px;
}
/* line 390, ../../../sass/modules/homeslider/homeslider.scss */
#homepage-slider .bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #666 \9;
  background: rgba(80, 80, 80, 0.75);
}
/* line 399, ../../../sass/modules/homeslider/homeslider.scss */
#homepage-slider .bx-wrapper .bx-caption span {
  display: block;
  padding: 10px;
  color: #dedede;
  font-size: 0.85em;
  font-family: "Poiret One", sans-serif;
}

/* line 408, ../../../sass/modules/homeslider/homeslider.scss */
#bx-pager-thumb {
  padding: 10px 0;
  text-align: center;
}
/* line 411, ../../../sass/modules/homeslider/homeslider.scss */
#bx-pager-thumb a {
  display: inline-block;
  max-width: 150px;
  width: 31%;
}
/* line 415, ../../../sass/modules/homeslider/homeslider.scss */
#bx-pager-thumb a img {
  max-width: 100%;
  height: auto;
}
