@import "../../../_theme_variables";

.stickUpTop {
	position:relative;
	width:100%;
	left:0;
	top:0;
}
.stickUpHolder {
	padding:0;
	max-width:100%;
}
@media only screen and (max-width:$screen-md-max){
	.isStuck .container {
		padding-left:15px;
		padding-right:15px;	
	}
}
#block_top_menu {
	padding-top: 25px;
}