@import "../_theme_variables";

/*
* @section      Page Product Styles
*/
.product-information {
  .tab-content-default {
    @media (min-width: 1600px) {
      padding-right: 50px;
    }

    > div {
      display: block;
      padding: 20px 0;
      animation: fadeIn 0.2s 0.2s ease both;
    }
  }

  h3 {
    display: block;
    margin: 0;
    padding: 10px 0;
    border: none;
    background: $light-background;
    font: $font-heading;
    font-size: 18px;

    @media (min-width: $screen-lg-min) {
      font-size: 25px;
    }

    @media (min-width: $screen-sm-min) and (max-width: $screen-md-min - 1),
    (min-width: $screen-md-min) and (max-width: $screen-lg-min - 1),
    (min-width: $screen-xs-min) and (max-width: $screen-sm-min - 1){
      font-size: 20px;
    }

    @media only screen and (max-width: 479px) {
      border-bottom: 2px solid $secondary-background
    }

    @media (min-width: 1600px) {
      font-size: 30px;
    }

    &:first-child {
      + div {
        display: block;
      }
    }
    &.active {
      color: $primary-text-color;
    }

    .two-columns & {
      @media only screen and (max-width: 991px) {
        border-bottom: 2px solid $secondary-background
      }
    }

    .three-columns & {
      border-bottom: 2px solid $secondary-background
    }
  }
}

.primary_block {
  margin-bottom: 10px;

  @media (min-width: $screen-sm-min) {
    margin-bottom: 30px;
  }

  @media (min-width: $screen-lg-min) {
    margin-bottom: 50px;
  }

  @media (min-width: 1600px) {
    margin-bottom: 100px;
  }
}

.reviews-block {
  h3 {
    cursor: default;
  }
}

.table-data-sheet tr,
table.table-product-discounts tr {
  td:first-child {
    @media (min-width: $screen-md-min) {
      width: 50%;
    }
    .one-column {
      @media (min-width: $screen-sm-min) {
        width: 50%;
      }
    }
  }
}
