/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
/**************************************************************************
		        Style TM Google Map
**************************************************************************/
/* line 7, ../../../../../sass/modules/tmgooglemap/views/css/tmgooglemap.scss */
#homegooglemap #tmmap {
  width: 100%;
  height: 80vw;
}
@media (min-width: 480px) {
  /* line 7, ../../../../../sass/modules/tmgooglemap/views/css/tmgooglemap.scss */
  #homegooglemap #tmmap {
    height: 50vw;
  }
}
@media (min-width: 992px) {
  /* line 7, ../../../../../sass/modules/tmgooglemap/views/css/tmgooglemap.scss */
  #homegooglemap #tmmap {
    height: 26.04vw;
  }
}
/* line 19, ../../../../../sass/modules/tmgooglemap/views/css/tmgooglemap.scss */
#homegooglemap #tmmap .marker_content {
  width: 300px;
  font-family: "Open Sans", sans-serif;
}
@media only screen and (max-width: 479px) {
  /* line 19, ../../../../../sass/modules/tmgooglemap/views/css/tmgooglemap.scss */
  #homegooglemap #tmmap .marker_content {
    width: 215px;
  }
}
/* line 26, ../../../../../sass/modules/tmgooglemap/views/css/tmgooglemap.scss */
#homegooglemap #tmmap .marker_content .tmaddress-content {
  margin-bottom: 15px;
}
/* line 29, ../../../../../sass/modules/tmgooglemap/views/css/tmgooglemap.scss */
#homegooglemap #tmmap .marker_content .marker_logo {
  float: left;
  margin-right: 5%;
  width: 45%;
  height: auto;
}
@media only screen and (max-width: 479px) {
  /* line 29, ../../../../../sass/modules/tmgooglemap/views/css/tmgooglemap.scss */
  #homegooglemap #tmmap .marker_content .marker_logo {
    width: 90%;
    margin-right: 0;
  }
}
/* line 39, ../../../../../sass/modules/tmgooglemap/views/css/tmgooglemap.scss */
#homegooglemap #tmmap .marker_content .tmgooglemap-hours > p {
  float: left;
  font-size: 13px;
  width: 50%;
  margin: 0 0 3px 0;
  color: #a7a7a7;
}
@media only screen and (max-width: 479px) {
  /* line 39, ../../../../../sass/modules/tmgooglemap/views/css/tmgooglemap.scss */
  #homegooglemap #tmmap .marker_content .tmgooglemap-hours > p {
    width: 100%;
    float: none;
  }
}
/* line 49, ../../../../../sass/modules/tmgooglemap/views/css/tmgooglemap.scss */
#homegooglemap #tmmap .marker_content .tmgooglemap-hours > p b {
  color: #333;
  display: inline-block;
  min-width: 40px;
  font-weight: normal;
}
/* line 55, ../../../../../sass/modules/tmgooglemap/views/css/tmgooglemap.scss */
#homegooglemap #tmmap .marker_content .tmgooglemap-hours > p span {
  display: inline-block;
  color: #a7a7a7;
}
/* line 61, ../../../../../sass/modules/tmgooglemap/views/css/tmgooglemap.scss */
#homegooglemap #tmmap .marker_content .tmgooglemap-content .tmgooglemap-days {
  width: 45%;
  float: left;
  margin-top: -1px;
}
/* line 65, ../../../../../sass/modules/tmgooglemap/views/css/tmgooglemap.scss */
#homegooglemap #tmmap .marker_content .tmgooglemap-content .tmgooglemap-days p {
  color: #a7a7a7;
  margin-bottom: 2px;
}
/* line 68, ../../../../../sass/modules/tmgooglemap/views/css/tmgooglemap.scss */
#homegooglemap #tmmap .marker_content .tmgooglemap-content .tmgooglemap-days p b {
  font-weight: normal;
  color: #333;
}
/* line 74, ../../../../../sass/modules/tmgooglemap/views/css/tmgooglemap.scss */
#homegooglemap #tmmap .marker_content .tmgooglemap-content .tmgooglemap-phone {
  width: 50%;
  margin-right: 5%;
  float: left;
}
/* line 78, ../../../../../sass/modules/tmgooglemap/views/css/tmgooglemap.scss */
#homegooglemap #tmmap .marker_content .tmgooglemap-content .tmgooglemap-phone p {
  font-size: 16px;
  font-weight: 600;
  color: #333;
  margin-bottom: 12px;
}
/* line 83, ../../../../../sass/modules/tmgooglemap/views/css/tmgooglemap.scss */
#homegooglemap #tmmap .marker_content .tmgooglemap-content .tmgooglemap-phone p:last-child {
  margin-bottom: 0;
}
/* line 86, ../../../../../sass/modules/tmgooglemap/views/css/tmgooglemap.scss */
#homegooglemap #tmmap .marker_content .tmgooglemap-content .tmgooglemap-phone p:before {
  font-family: 'FontAwesome';
  content: '\f095';
  display: inline-block;
  font-size: 20px;
  color: #a7a7a7;
  margin-right: 7px;
  vertical-align: -2px;
}
/* line 98, ../../../../../sass/modules/tmgooglemap/views/css/tmgooglemap.scss */
#homegooglemap #tmmap .marker_content .description {
  width: 50%;
  float: left;
}
@media only screen and (max-width: 479px) {
  /* line 98, ../../../../../sass/modules/tmgooglemap/views/css/tmgooglemap.scss */
  #homegooglemap #tmmap .marker_content .description {
    width: 90%;
    float: none;
  }
}
/* line 105, ../../../../../sass/modules/tmgooglemap/views/css/tmgooglemap.scss */
#homegooglemap #tmmap .marker_content .description h5 {
  display: block;
  font-size: 14px;
  font-weight: normal;
  color: #333;
  margin: 10px 0 5px 0;
}
/* line 112, ../../../../../sass/modules/tmgooglemap/views/css/tmgooglemap.scss */
#homegooglemap #tmmap .marker_content .description p {
  font-size: 14px;
  color: #a7a7a7;
  line-height: 24px;
}
/* line 118, ../../../../../sass/modules/tmgooglemap/views/css/tmgooglemap.scss */
#homegooglemap #tmmap .marker_content img {
  max-width: 100%;
  height: auto;
}
/* line 122, ../../../../../sass/modules/tmgooglemap/views/css/tmgooglemap.scss */
#homegooglemap #tmmap .marker_content > p {
  font-size: 11px;
  margin-bottom: 5px;
  width: 50%;
  float: left;
  padding-right: 10px;
}
/* line 129, ../../../../../sass/modules/tmgooglemap/views/css/tmgooglemap.scss */
#homegooglemap #tmmap .marker_content .tmlink-directions {
  float: right;
  font-size: 14px;
  font-weight: normal;
  color: #333;
  margin: -5px 0 7px;
  -webkit-transition: all 0.3s linear;
  -khtml-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
@media only screen and (max-width: 479px) {
  /* line 129, ../../../../../sass/modules/tmgooglemap/views/css/tmgooglemap.scss */
  #homegooglemap #tmmap .marker_content .tmlink-directions {
    margin: 7px 25px 7px 0;
  }
}
/* line 139, ../../../../../sass/modules/tmgooglemap/views/css/tmgooglemap.scss */
#homegooglemap #tmmap .marker_content .tmlink-directions:before {
  font-family: 'FontAwesome';
  content: '\f041';
  display: inline-block;
  color: #06aaf5;
  font-size: 18px;
  margin-right: 7px;
  vertical-align: -1px;
}
/* line 148, ../../../../../sass/modules/tmgooglemap/views/css/tmgooglemap.scss */
#homegooglemap #tmmap .marker_content .tmlink-directions:hover {
  color: #06aaf5;
}
/* line 154, ../../../../../sass/modules/tmgooglemap/views/css/tmgooglemap.scss */
#homegooglemap #tmmap .gm-style-iw div {
  overflow-x: hidden !important;
}
