/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
/* line 4, ../../../../../sass/modules/tmhomecarousel/views/scss/tmhomecarousel.scss */
.tab-content > ul {
  display: none !important;
}
/* line 7, ../../../../../sass/modules/tmhomecarousel/views/scss/tmhomecarousel.scss */
.tab-content > ul.slick-slider {
  display: block !important;
}
/* line 12, ../../../../../sass/modules/tmhomecarousel/views/scss/tmhomecarousel.scss */
.tab-content .bx-wrapper {
  margin: 0 !important;
}
/* line 14, ../../../../../sass/modules/tmhomecarousel/views/scss/tmhomecarousel.scss */
.tab-content .bx-wrapper #homepage-carousel {
  overflow: hidden;
}
/* line 16, ../../../../../sass/modules/tmhomecarousel/views/scss/tmhomecarousel.scss */
.tab-content .bx-wrapper #homepage-carousel li {
  padding-left: 0 !important;
  padding-right: 0 !important;
  clear: none;
}
/* line 22, ../../../../../sass/modules/tmhomecarousel/views/scss/tmhomecarousel.scss */
.tab-content .bx-wrapper #homepage-carousel > li {
  animation: fadeIn 0.3s ease both;
}
/* line 28, ../../../../../sass/modules/tmhomecarousel/views/scss/tmhomecarousel.scss */
.tab-content .bx-wrapper .bx-controls a:before {
  font-family: 'FontAwesome';
}
/* line 32, ../../../../../sass/modules/tmhomecarousel/views/scss/tmhomecarousel.scss */
.tab-content .bx-wrapper .bx-controls .bx-pager {
  padding: 0;
  overflow: hidden;
}
/* line 35, ../../../../../sass/modules/tmhomecarousel/views/scss/tmhomecarousel.scss */
.tab-content .bx-wrapper .bx-controls .bx-pager .bx-pager-item {
  float: left;
  text-align: center;
  margin-right: 3px;
}
/* line 39, ../../../../../sass/modules/tmhomecarousel/views/scss/tmhomecarousel.scss */
.tab-content .bx-wrapper .bx-controls .bx-pager .bx-pager-item a {
  display: block;
  width: 20px;
  height: 20px;
  text-indent: 0;
  margin: 0;
  text-decoration: none;
  color: #fff;
}
/* line 48, ../../../../../sass/modules/tmhomecarousel/views/scss/tmhomecarousel.scss */
.tab-content .bx-wrapper .bx-controls .bx-pager .bx-pager-item a.active, .tab-content .bx-wrapper .bx-controls .bx-pager .bx-pager-item a:hover {
  background: #777;
}
/* line 55, ../../../../../sass/modules/tmhomecarousel/views/scss/tmhomecarousel.scss */
.tab-content .bx-wrapper .bx-controls .bx-controls-auto .bx-controls-auto-item {
  float: left;
  margin-right: 0;
  text-align: center;
}
/* line 59, ../../../../../sass/modules/tmhomecarousel/views/scss/tmhomecarousel.scss */
.tab-content .bx-wrapper .bx-controls .bx-controls-auto .bx-controls-auto-item a {
  display: block;
  width: 17px;
  height: 17px;
  text-indent: 0;
  background: none;
  text-decoration: none;
  margin: 0;
}
/* line 68, ../../../../../sass/modules/tmhomecarousel/views/scss/tmhomecarousel.scss */
.tab-content .bx-wrapper .bx-controls .bx-controls-auto .bx-controls-auto-item a.bx-start:before {
  content: '\f04b';
}
/* line 73, ../../../../../sass/modules/tmhomecarousel/views/scss/tmhomecarousel.scss */
.tab-content .bx-wrapper .bx-controls .bx-controls-auto .bx-controls-auto-item a.bx-stop:before {
  content: '\f04c';
}
/* line 82, ../../../../../sass/modules/tmhomecarousel/views/scss/tmhomecarousel.scss */
.tab-content .bx-wrapper .bx-controls-direction .bx-next, .tab-content .bx-wrapper .bx-controls-direction .bx-prev {
  top: 35%;
  opacity: 0;
  transform: translateX(-20px);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
/* line 88, ../../../../../sass/modules/tmhomecarousel/views/scss/tmhomecarousel.scss */
.tab-content .bx-wrapper .bx-controls-direction .bx-next {
  transform: translateX(20px);
}
/* line 95, ../../../../../sass/modules/tmhomecarousel/views/scss/tmhomecarousel.scss */
.tab-content .bx-wrapper:hover .bx-controls-direction .bx-next, .tab-content .bx-wrapper:hover .bx-controls-direction .bx-prev {
  opacity: 1;
  transform: translateX(0);
}
