/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
/*$base-border-color: darken(saturate(adjust_hue($color-box, 139.99999999999983), 5.263157894736871%), 6.470588235294116%);*/
/*
* @package       change-grid-on-big-screen
* @description   make grid like in design
*
*/
/*
* @package       custom-scroll-bar
* @description   make you scroll bar pretty and better
*
*/
/*
* @subsection   icons
*
* @description
*/
/*
* @package       header icons title display mixin
* @description
*
*/
/*
* @package     bxSlider controls mixin
* @description
*
*/
#tmhtmlcontent_topColumn .bx-wrapper .bx-controls-direction {
  text-align: center;
  margin-top: 15px;
}

#tmhtmlcontent_topColumn .bx-wrapper .bx-controls-direction a {
  position: static;
  display: inline-block;
  width: auto;
  height: auto;
  margin: 10px;
}

#tmhtmlcontent_topColumn .bx-wrapper .bx-controls-direction a:hover::before {
  color: #f4d6d6;
}

#tmhtmlcontent_topColumn .bx-wrapper .bx-controls-direction a::before {
  transition: all 0.3s ease-in-out;
  color: #595959;
  font-size: 30px;
}

#tmhtmlcontent_topColumn .bx-wrapper .bx-controls-direction a.bx-prev::before {
  content: '\f177';
}

#tmhtmlcontent_topColumn .bx-wrapper .bx-controls-direction a.bx-next::before {
  content: '\f178';
}

.tmhtmlcontent-topColumn .item-html {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 6.74%;
  color: #dedede;
}

.tmhtmlcontent-topColumn li.light-background .item-html {
  color: #595959;
}

@media (min-width: 480px) and (max-width: 767px) {
  .tmhtmlcontent-topColumn li.light-background .item-html h3 {
    text-shadow: 0 0 5px #dedede;
  }
}

.tmhtmlcontent-topColumn li.light-background .item-html .btn-secondary-2 {
  color: #dedede;
  border-color: #121212;
}

.tmhtmlcontent-topColumn li.light-background .item-html .btn-secondary-2::after {
  background: #121212;
}

@media (min-width: 768px) {
  .tmhtmlcontent-topColumn li.light-background .item-html .btn-secondary-2:hover {
    color: #121212;
  }
  .tmhtmlcontent-topColumn li.light-background .item-html .btn-secondary-2:active:focus, .tmhtmlcontent-topColumn li.light-background .item-html .btn-secondary-2:active, .tmhtmlcontent-topColumn li.light-background .item-html .btn-secondary-2:focus, .active > .tmhtmlcontent-topColumn li.light-background .item-html .btn-secondary-2, .tmhtmlcontent-topColumn li.light-background .item-html .btn-secondary-2.disabled, .tmhtmlcontent-topColumn li.light-background .item-html .btn-secondary-2.btn[disabled], .disabled > .tmhtmlcontent-topColumn li.light-background .item-html .btn-secondary-2 {
    background-color: transparent;
    color: #dedede;
  }
}

@media only screen and (max-width: 767px) {
  .tmhtmlcontent-topColumn li.light-background .item-html .btn-secondary-2:active:focus, .tmhtmlcontent-topColumn li.light-background .item-html .btn-secondary-2:active, .tmhtmlcontent-topColumn li.light-background .item-html .btn-secondary-2:focus, .tmhtmlcontent-topColumn li.light-background .item-html .btn-secondary-2.hover, .tmhtmlcontent-topColumn li.light-background .item-html .btn-secondary-2:hover {
    color: #dedede;
  }
}

.tmhtmlcontent-topColumn img {
  max-width: 100%;
  height: auto;
  transition: all 0.3s ease-in-out;
}

.tmhtmlcontent-topColumn a {
  position: relative;
  display: block;
  overflow: hidden;
  backface-visibility: hidden;
}

.tmhtmlcontent-topColumn a::before, .tmhtmlcontent-topColumn a::after {
  content: '';
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  pointer-events: none;
}

.tmhtmlcontent-topColumn a::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 3px solid #dedede;
  border-bottom: 3px solid #dedede;
  opacity: 0;
  transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 0, 1);
  transform-origin: 50% 50%;
}

@media (min-width: 992px) {
  .tmhtmlcontent-topColumn a:hover::after {
    opacity: 0.2;
    transform: rotate3d(0, 0, 1, 45deg) scale3d(1, 1, 1);
  }
  .tmhtmlcontent-topColumn a:hover img {
    opacity: 0.9;
    transform: scale3d(1.05, 1.05, 1);
  }
}

.tmhtmlcontent-topColumn h3 {
  margin: 0;
  font-family: "Museo", sans-serif;
  font-size: 5.02vw;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2069;
  letter-spacing: 0.02em;
}

@media (min-width: 768px) {
  .tmhtmlcontent-topColumn h3 {
    font-size: 3.02vw;
  }
}

.tmhtmlcontent-topColumn h3 + p {
  margin-top: 2.5vw;
}

.tmhtmlcontent-topColumn p {
  display: none;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 0;
}

@media (min-width: 768px) {
  .tmhtmlcontent-topColumn p {
    display: block;
  }
}

@media (min-width: 1200px) {
  .tmhtmlcontent-topColumn p {
    width: 60%;
  }
}

@media (min-width: 1600px) {
  .tmhtmlcontent-topColumn p {
    font-size: 20px;
  }
}

.tmhtmlcontent-topColumn p + p {
  margin-top: 2.5vw;
}

@media (min-width: 1200px) {
  .tmhtmlcontent-topColumn .btn-md {
    font-size: 14px;
    letter-spacing: 0.12em;
    min-width: 10.42vw;
  }
}

@media (min-width: 1600px) {
  .tmhtmlcontent-topColumn .btn-md {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .tmhtmlcontent-topColumn .btn-md.icon-right span {
    padding-right: 30px;
  }
}

.tmhtmlcontent-home {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;
}

.tmhtmlcontent-home li {
  display: flex;
  padding: 0;
}

.safari .tmhtmlcontent-home li {
  flex: 1 1 24%;
}

@media only screen and (max-width: 479px) {
  .tmhtmlcontent-home li {
    width: 50%;
  }
  .safari .tmhtmlcontent-home li {
    flex: 1 1 49%;
  }
}

@media (min-width: 768px) {
  .tmhtmlcontent-home li {
    padding: 0 10px 20px;
  }
  .tmhtmlcontent-home li:nth-child(n + 5) {
    padding-bottom: 0;
  }
}

.tmhtmlcontent-home a {
  display: block;
  width: 100%;
  padding: 20px;
  text-align: center;
  color: #595959;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 768px) {
  .tmhtmlcontent-home a {
    padding: 3.39vw 20px;
  }
}

@media (min-width: 1600px) {
  .tmhtmlcontent-home a {
    padding: 47px 20px;
  }
}

@media (min-width: 768px) {
  .tmhtmlcontent-home a {
    position: relative;
    display: block;
    background: #f4f4f4;
  }
}

@media (min-width: 992px) {
  .tmhtmlcontent-home a:hover [class*='icon-']::before {
    animation: iconAnimationOut 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
  }
  .tmhtmlcontent-home a:hover [class*='icon-']::after {
    animation: iconAnimationIn 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
  }
  .tmhtmlcontent-home a:hover h5 {
    transform: translateY(50%);
  }
}

.tmhtmlcontent-home h5 {
  position: relative;
  font: 700 14px/1.25 "Museo", sans-serif;
  letter-spacing: 0.02em;
  transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

@media (min-width: 1200px) {
  .tmhtmlcontent-home h5 {
    font-size: 1.25vw;
  }
}

.tmhtmlcontent-home .icon-lg {
  line-height: 1;
}

.tmhtmlcontent-home [class*='icon-'] {
  position: relative;
}

.tmhtmlcontent-home [class*='icon-']::before {
  position: relative;
  display: inline-block;
  will-change: transform, opacity;
  animation: iconAnimationIn 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.tmhtmlcontent-home [class*='icon-']::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 5.24vw;
  margin-top: -2.62vw;
  margin-left: -2.62vw;
  text-align: center;
  font-size: calc(5.24vw - 30px);
  line-height: 5.24vw;
  will-change: transform, opacity;
  animation: iconAnimationOut 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
  font-family: "fl-outicons";
  content: url("../fonts/bag.png");
  display: inline-block;
  font-weight: normal;
}

#tmhtmlcontent_home {
  margin-bottom: 0;
}

.tmhtmlcontent-footer .item-link {
  display: inline-block;
  margin-bottom: 20px;
}

@media (min-width: 480px) {
  .tmhtmlcontent-footer .item-link {
    margin-bottom: 2.08vw;
  }
}

@media (min-width: 1600px) {
  .tmhtmlcontent-footer .item-link {
    margin-bottom: 40px;
  }
}
